<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link href="{ADMIN_THEME}images/reset.css" rel="stylesheet" type="text/css" />
<link href="{ADMIN_THEME}images/system.css" rel="stylesheet" type="text/css" />
<link href="{ADMIN_THEME}images/dialog.css" rel="stylesheet" type="text/css" />
<link href="{ADMIN_THEME}images/main.css" rel="stylesheet" type="text/css" />
<link href="{ADMIN_THEME}images/switchbox.css" rel="stylesheet" type="text/css" />
<link href="{ADMIN_THEME}luos/css/style.min.css?v=4.1.0" rel="stylesheet"><link href="{ADMIN_THEME}images/table_form.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="{ADMIN_THEME}js/layui/css/layui.css">
    <script src="{ADMIN_THEME}js/layui/lay/dest/layui.all.js"></script>
<script type="text/javascript" src="{ADMIN_THEME}js/jquery.min.js"></script>
<title>admin</title>
	{template admin/top}
</head>
<!--图片上传-->
<script type="text/javascript">
    var sitepath = '{SITE_PATH}{ENTRY_SCRIPT_NAME}';
    var finecms_admin_document = "{$cats[$data['catid']]['setting']['document']}";
</script>
<script type="text/javascript" src="{LANG_PATH}lang.js"></script>
<script type="text/javascript" src="{ADMIN_THEME}js/core.js"></script>

<body style="font-weight: normal;">
<div class="subnav">
	<div class="content-menu ib-a line-x">
		<div class="layui-btn-group">
			<a class="layui-btn" href="{url('admin/flowerhua/type_list')}" class="on"><em>Classification list</em></a>
            <a class="layui-btn" href="{url('admin/flowerhua/type_edit',array('parentid'=>$parentid,'type'=>$type))}"><em>Add</em></a>
			<a class="layui-btn" href="javascript:history.go(-1);"><em>Previous page</em></a>
		</div>
	</div>
	<div class="bk10"></div>
	<div class="table-responsive mytable">
		<form action="" method="post">
			<input name="id" type="hidden" value="{$data['id']}">
			<table width="100%" class="table table-striped">
			<tr>
				<td width="200" align="right"><font color="red">*</font><em>Previous page</em></td>
				<td><input class="input-text" type="text" name="data[name]" value="{$data['name']}" size="20" required />
				</td>
			</tr>
			{if $parentid==0}
				<tr>
					<td align="right">Type</td>
					<td>
						<input name="data[type]" type="radio" value="11" {if $data['type']==11 || $data['type']==0}checked{/if} />Recovery type
						<input name="data[type]" type="radio" value="22" {if $data['type']==22}checked{/if} />Payment Details
					</td>
				</tr>
			{/if}
			{if $type==11}
			<tr>
				<td align="right">Classified thumbnail</td>
				<td><input type="text" class="input-text" size="50" value="{$data['pic']}" name="data[pic]" id="pic" />
					<input type="button" style="width:66px;cursor:pointer;" class="btn btn-success btn-sm" onClick="preview('pic')" value="{lang('a-mod-118')}" />
					<input type="button" style="width:66px;cursor:pointer;" class="btn btn-success btn-sm" onClick="uploadImage('pic','120','113')" value="{lang('a-mod-119')}" />
			</tr>
			{/if}
			<tr>
				<td align="right">&nbsp;</td>
				<td><input class="btn btn-success btn-sm" type="submit" name="submit" value="{lang('a-submit')}" /></td>
			</tr>
			</table>
		</form>
	</div>
</div>
</body>
</html>