<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link href="{ADMIN_THEME}images/reset.css" rel="stylesheet" type="text/css" />
<link href="{ADMIN_THEME}images/system.css" rel="stylesheet" type="text/css" />
<link href="{ADMIN_THEME}images/dialog.css" rel="stylesheet" type="text/css" />
<link href="{ADMIN_THEME}images/main.css" rel="stylesheet" type="text/css" />
<link href="{ADMIN_THEME}images/switchbox.css" rel="stylesheet" type="text/css" />
<link href="{ADMIN_THEME}luos/css/style.min.css?v=4.1.0" rel="stylesheet"><link href="{ADMIN_THEME}images/table_form.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{ADMIN_THEME}js/jquery.min.js"></script>
<script type="text/javascript" src="{ADMIN_THEME}js/dialog.js"></script>{template admin/top.html}
	<link rel="stylesheet" href="{ADMIN_THEME}js/layui/css/layui.css">
	<script src="{ADMIN_THEME}js/layui/lay/dest/layui.all.js"></script>
<title>admin</title>
</head>
<style>
	
</style>
<body style="font-weight: normal;">
<div class="subnav">
	<div class="content-menu ib-a line-x">
		<div class="layui-btn-group" >
			<a class="layui-btn" href="{url('admin/flowerhua/type_list')}" class="on"><em>Classification list</em></a>
			<a class="layui-btn" href="{url('admin/flowerhua/type_edit',array('parentid'=>$parentid,'type'=>$type))}"><em>Add</em></a>
			<a class="layui-btn" href="javascript:;" onclick="history.go(-1)"><em>Previous page</em></a>
		</div>
	</div>
	<div class="bk10"></div><div class="table-responsive mytable">
		<form action="" method="post" name="myform">
			<input type="hidden" name="submit_del" value="1">
			<table class="table table-striped" width="100%">
		<thead>
		<tr>
			<!--<th width="20" align="right"><input name="deletec" id="deletec" type="checkbox" onClick="setC()" /></th>-->
			{if $parentid}
			<th width="50" align="left">Sort</th>
			{/if}
			<th width="120" align="left">ID</th>
			<th width="320" align="center">Taxonomy</th>
			<th width="320" align="left">Option</th>
		</tr>
		</thead>
		<tbody>
		{loop $list $t}
		<tr height="25">
			<!--<td align="right"><input name="del_{$t['id']}" type="checkbox" class="deletec"></td>-->
			{if $parentid}
			<td align="center"><input type="text" name="order_{$t['id']}" style="width:35px;text-align:center;" value="{$t['listorder']?$t['listorder']:0}"></td>
			{/if}
			<td align="center">{$t['id']}</td>
			<td align="center">{$t['name']}</td>
			<td align="center">
			<div class="layui-btn-group">
				<a class="layui-btn layui-btn-small" href="{url('admin/flowerhua/type_list',array('parentid'=>$t['id'],'type'=>$t['type']))}">See</a>
				<a class="layui-btn layui-btn-normal layui-btn-small" href="{url('admin/flowerhua/type_edit',array('id'=>$t['id'],'parentid'=>$t['parentid'],'type'=>$type))}">Edit</a>
				<a data-method="notice" id="{$t['id']}" class="layui-btn layui-btn-danger layui-btn-small" href="javascript:void(0);">Delete</a>
			</div>
			</td>
		</tr>
		{/loop}
		{if $parentid}
        <input type="hidden" name="listorder" value="1">
		<tr height="25" class="cao">
			<td colspan="22" align="left">
				<input readonly id="order_" type="submit" class="layui-btn layui-btn layui-btn-small" value="Sort">
				<div class="onShow">The big numbers are in front！</div>
			</td>
		</tr>
		{/if}
		</table>
			{str_replace('<a>共' . $total . '条</a>', '<a>耗时' . runtime() . '秒</a><a>共' . $total . '条</a>', $pagelist)}
		</form>
	</div>
</div>
<script type="text/javascript">
    //触发事件
    $('.layui-btn').on('click', function(){
        delbtn = $(this).attr('id');
        var othis = $(this), method = othis.data('method');
        active[method] ? active[method].call(this, othis) : '';
    });
    var active = {
        notice: function(){
            layer.open({
                type: 1
                ,title: false //不显示标题栏
                ,closeBtn: false
                ,area: '300px;'
                ,shade: 0.4
                ,id: 'LAY_layuipro' //设定一个id，防止重复弹出
                ,btn: ['confirm deletion', 'Think about it']
                ,moveType: 1 //拖拽模式，0或者1
                ,content: '<div style="padding: 50px; line-height: 22px; background-color: #393D49; color: #fff; font-weight: 300;">Will you delete this information? Make sure?</div>'
                ,yes: function (index, layero) {
                    //按钮【按钮一】的回调
					location.href="{url('admin/flowerhua/type_del')}"+"&id="+delbtn;
                }
            })
        }
    };

	//触发多个删除
    $('#del_').on('click', function(){
        var othis = $(this), method = othis.data('method');
        active2[method] ? active2[method].call(this, othis) : '';
    });
    var active2 = {
        notice2: function(){
            layer.open({
                type: 1
                ,title: false //不显示标题栏
                ,closeBtn: false
                ,area: '300px;'
                ,shade: 0.4
                ,id: 'LAY_layuipro2' //设定一个id，防止重复弹出
                ,btn: ['confirm deletion', 'Think about it']
                ,moveType: 1 //拖拽模式，0或者1
                ,content: '<div style="padding: 50px; line-height: 22px; background-color: #393D49; font-size:16px;  text-align: center;  font-weight: normal;">Make sure that the information is deleted?</div>'
            ,yes: function (index, layero) {
                //按钮【按钮一】的回调
                document.myform.submit()
            }
            });
        }
    };

function setC() {
	if($("#deletec").attr('checked')) {
		$(".deletec").attr("checked",true);
	} else {
		$(".deletec").attr("checked",false);
	}
}
function loadInfo(id) {
    var url   = '{url("admin/flowerhua/Hua")}&id='+id;
    var winid = 'loadinfo';
    window.top.art.dialog(
        {id:winid, okVal:'Determine', cancelVal:'Cancle', iframe:url, title:'flowerhua', width:'960', height:'500', lock:true},
        function(){
            window.top.art.dialog({id:winid}).close();
        }
    );
    void(0);
}
</script>
</body>
</html>