<!DOCTYPE html>

<html>

		<head>

	{template head}

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-M3TQD6R');</script>
<!-- End Google Tag Manager -->

<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window,document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '637804786589286'); 
fbq('track', 'PageView');
</script>
<noscript>
<img height="1" width="1" 
src="https://www.facebook.com/tr?id=637804786589286&ev=PageView
&noscript=1"/>
</noscript>
<!-- End Facebook Pixel Code -->


</head>

	<body>

		<div class="company_info">

			<div class="head">

				<div class="label_search">

					<div class="more" onclick="showside()">

						<span></span>

						<span></span>

						<span></span>

					</div>

					<label style="opacity:0;"><input type="text" placeholder="Search for your device"/></label>

				</div>

			</div>

			<div class="com_pic">

				<img src="{SITE_THEME}img/com_pic.jpg"/>

			</div>

			<div class="infoform">

				<div class="tit">company information</div>

				<div class="inp">

					<ul>

						<li>

							<div class="txt">Company Name</div>

							<input type="text" placeholder="Company Name" value="{$data['company_name']}" class="company_name"/>

						</li>

						<li>

							<div class="txt">UEN / Entity ID</div>

							<input type="text" placeholder="UEN / Entity ID" value="{$data['ued']}" class="ued"/>

						</li>

						<li>

							<div class="txt">Address</div>

							<input type="text" placeholder="Address" value="{$data['address']}" class="address"/>

						</li>

						<li>

							<div class="txt">Primary Contact Person</div>

							<input type="text" placeholder="Primary Contact Person" value="{$data['person']}" class="person"/>

						</li>

						<li>

							<div class="txt">Mobile Number</div>

							<input type="text" placeholder="Mobile Number" value="{$data['phone']}"/>

						</li>



					</ul>

					<div class="document">

						<div class="txt">Supporting Documents</div>

						<div class="add">

							<input type="file" id="file" name="addlogo">

							<input type="hidden" class="file">

							<span>Add</span>

						</div>

					</div>

				</div>

			</div>

			<button class="update" onclick="show_tan()">Update</button>

			

			<!--sidebar-->

			{template recycler_nav}

			<!--sidebar end-->

			

			<!--confirm-->

			<div class="confirm_pop">

				<div class="content">

					<div class="content_info">

						<div class="tit">Confirm Company Information</div>

						<div class="tit_in">OTP has been sent to Primary Mobile No.</div>

						<div class="code">

							<input type="text" placeholder="One-Time Passcode" id="back_code"/>

							<button class="getcode" onclick="sendMessage({$data['phone']})" id="back-getcode">

							Send OTP

							</button>

						</div>

					</div>

					<img src="{SITE_THEME}img/close.png" class="close" onclick="hideconfirm()"/>

					<button class="confirm" onclick="hide_tan({$data['phone']})">Confirm</button>

				</div>

			</div>

			<!--confirm-->

		</div>

	</body>

</html>

<script>

	//显示侧边栏

	function showside(){

		$('.sidebar').show();

	}

	//隐藏侧边栏

	function hdieside(){

		$('.sidebar').hide();

	}

	//隐藏弹窗

	function hideconfirm(){

		$('.confirm_pop').hide();

	}

</script>

<script type="text/javascript">

								$(function () {

									$("#file").wrap("<form class='myupload' action='index.php?c=ajax_upload&a=ajax_set_img' method='post' enctype='multipart/form-data'></form>");

									$("#file").change(function () {

										var flower=$(this);

										$(".myupload").ajaxSubmit({

											dataType:'json',

											success:function(data) {

												console.log(data);

												$('.file').val(data.access_url)

											}

										});



									});

								})

</script>



<script>

		function hide_tan1(){

			$(".tan").hide();

			$("body").removeClass("hidden");

		}

		function hide_tan(phone) {

		    var code = $('#back_code').val();

		    var company_name = $('.company_name').val();

			var ued = $('.ued').val();

			var address = $('.address').val();

			var person = $('.person').val();

			var file = $('.file').val();

		    if (code == '') {

		        layer.msg('Please enter the verification code', {icon: 0});

		        return false;

		    }

		    $.ajax({

		        url: "index.php?c=recycler&a=ajaxbackcode",

		        type: "post",

		        data: {code: code, phone: phone},

		        dataType: 'json',

		        success: function (data) {

		            if (data == 0) {

		                layer.msg('Verification code error', {icon: 0});

		            }

		            if (data == 1) {

						$.ajax({

			                type: 'post',

			                url: "{url('recycler/change_information')}",

			                data: {phone:phone,company_name:company_name,ued:ued,address:address,person:person,file:file},

			                dataType: "json",

			                async: false,

			                success: function(data){

			                	layer.open({content:'Update success',icon:1,end:function(){

			                		$(".confirm_pop").hide();

									$("body").removeClass("hidden");

									location.reload();

			                	}})

			                }

			            })

		               

		            }

		        }

		    })

		}



        var InterValObj; //timer变量，控制时间

        var count = 60; //间隔函数，1秒执行

        var curCount;//当前剩余秒数

        function sendMessage(phone) {

            curCount = count;

            $.ajax({

                type: 'post',

                url: "{url('recycler/ajax_backsendcode')}",

                data: {phone: phone},

                dataType: "json",

                async: false,

                success: function (data) {

                    if (data) {

                        if (data.code == 1) {

                            $("#back-getcode").attr("href", "javascript:;");

                            $('#back-getcode').css('background', '#e9ebed');

                            $("#back-getcode").html('Send success');

                            $("#back-phone").attr('readonly', 'readonly');

                            InterValObj = window.setInterval(SetRemainTime, 1000); //启动计时器，1秒执行一次

                        } else if (data.code == 2) {

                            layer.open({'title': 'Prompt', 'content': 'This user has not been found for the time being!',});

                            return false;

                        } else if (data.code == 3) {

                            layer.open({'title': 'Prompt', 'content': 'Fail in send' + data.sms_err,});

                            return false;

                        }

                    } else {

                        $("#back-getcode").attr("href", "javascript:");

                        $("#back-getcode").html(curCount + "Retransmission after second");

                        $("#back-phone").attr('readonly', 'readonly');

                        InterValObj = window.setInterval(SetRemainTime, 1000); //启动计时器，1秒执行一次

                    }

                }

            });

        }



        //timer处理函数

        function SetRemainTime() {

            if (curCount == 0) {

                window.clearInterval(InterValObj);//停止计时器

                $("#back-getcode").attr("href", "javascript:sendMessage();");

                $("#back-getcode").html("Retransmission verification code");

                $('#back-getcode').css('background', '#ffcc00');

            }

            else {

                curCount--;

                $("#back-getcode").html("Resend in "+curCount+'s');

            }

        }







	function show_tan(){

		var company_name = $('.company_name').val();

		var ued = $('.ued').val();

		var address = $('.address').val();

		var person = $('.person').val();

	    if (company_name == '') {

            layer.msg('Do not fill in the name of the company', {icon: 0});

            return false;

        }

        if (ued == '') {

            layer.msg('Do not fill in UED', {icon: 0});

            return false;

        }

        if (address == '') {

            layer.msg('Do not fill in the company address', {icon: 0});

            return false;

        }

        if (person == '') {

            layer.msg('Unfilled liaison', {icon: 0});

            return false;

        }

		$(".confirm_pop").show();

		$("body").addClass("hidden");

	}

	

</script>



	<script>

		var mySwiper = new Swiper('.swiper-container-2', {

			//autoplay: 2000,//可选选项，自动滑动

			prevButton: '.apprise-btn-pre',

			nextButton: '.apprise-btn-next',

			width: 300,

			slidesPerView: 4

		});



		$('.appraise .swiper-button-prev').click(function() {

			mySwiper.swipePrev();

		})



		$('.appraise .swiper-button-next').click(function() {

			mySwiper.swipeNext();

		})

		var mySwiper1 = new Swiper('.swiper-container-3', {

			autoplay: 2000,//可选选项，自动滑动

//			prevButton: '.apprise-btn-pre',

//			nextButton: '.apprise-btn-next',

			width: 200,

			slidesPerView: 2

		});



		$('.ahs-media-content .swiper-button-prev').click(function() {

			mySwiper1.swipePrev();

		})



		$('.ahs-media-content .swiper-button-next').click(function() {

			mySwiper1.swipeNext();

		})

	</script>

