<!DOCTYPE html>

<html>

	<head>

	{template head}

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-M3TQD6R');</script>
<!-- End Google Tag Manager -->

<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window,document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '637804786589286'); 
fbq('track', 'PageView');
</script>
<noscript>
<img height="1" width="1" 
src="https://www.facebook.com/tr?id=637804786589286&ev=PageView
&noscript=1"/>
</noscript>
<!-- End Facebook Pixel Code -->


</head>

	<body>

		<div class="manage">

			<div class="head">

				<div class="label_search">

					<div class="more" onclick="showside()">

						<span></span>

						<span></span>

						<span></span>

					</div>

					<label style="opacity:0;"><input type="text" placeholder="Search for your device"/></label>

				</div>

			</div>

			<div class="manage_num">

				<div class="tit">Manage Secondary Numbers</div>

				<div class="pri_mobile">Primary Mobile No.: {$data['phone']}</div>

				<div class="second_numbers">

					<div class="txt">Secondary Numbers</div>

					<div class="list">



						<ul>

							{if $less_phone}

							{loop $less_phone $t}

							<li>

								<div class="left1">{$t['linkman']}</div>

								<div class="number">{$t['less_phone']}</div>

								<div class="del" onclick="show_tan({$t['less_phone']})">Delete</div>

							</li>

							{/loop}

							{/if}

						</ul>

					</div>

				</div>

			</div>

			<div class="spec-5"></div>

			<div class="infoform">

				<div class="tit">Add</div>

				<div class="inp">

					<ul>

						<li>

							<input type="text" placeholder="Enter additional other name" class="linkman" />

						</li>

						<li>

							<input type="text" placeholder="Enter additional mobile number" class="less_phone" />

						</li>

						<li>

							<div class="div_btn">

								<input type="text" placeholder="Enter One-TIme Passcode" id="back-code"/>

								<a href="javascript:;" class="disable" onclick="sendMessage()" id="back-getcode">Send OTP</a>

							</div>

							<p class="tips">* OTP will be sent to Primary Mobile No.</p>

						</li>

					</ul>

				</div>

			</div>

			<button class="update" onclick="addlessphone()">Add</button>

			

			<!--sidebar-->

			{template recycler_nav}

			<!--sidebar end-->

			<!--confirm-->

			<div class="confirm_pop">

				<div class="content">

					<div class="content_info">

						<div class="tit">Confirm Deletion</div>

						<div class="tit_in">OTP has been sent to Primary Mobile No.</div>

						<div class="code">

                            <input type="text" placeholder="One-Time Passcode" class="back-code"/>

                            <button class="getcode back-getcode" onclick="send_Message()">Send OTP</button>

                        </div>

					</div>

					<img src="{SITE_THEME}img/close.png" class="close" onclick="hideconfirm()"/>

					<input type="hidden" class="delphone">

					<button class="confirm" onclick="hide_tan()">Confirm</button>

				</div>

			</div>

			<!--confirm-->

		</div>

	</body>

</html>

<script>

   

	//显示侧边栏

	function showside(){

		$('.sidebar').show();

	}

	//隐藏侧边栏

	function hdieside(){

		$('.sidebar').hide();

	}

	//显示弹窗

	function confirmInfo(){

		$('.confirm_pop').show();

	}

	//隐藏弹窗

	function hideconfirm(){

		$('.confirm_pop').hide();

	}

</script>



<script>

	function show_tan(less_phone){

        window.clearInterval(InterValObj);

        $(".back-getcode").html("Send OTP");

        $('.back-getcode').css('background', '#ffcc00');

		$('.delphone').val(less_phone);

		$(".confirm_pop").show();

		$("body").addClass("hidden");

	}

 function hide_tan1(){

	$(".confirm_pop").hide();

	$("body").removeClass("hidden");

 }

 function hide_tan() {

 			$('.confirm_pop').hide();

            var phone = $('.delphone').val();

            var code = $('.back-code').val();

            if (code == '') {

                layer.msg('Please enter the verification code', {icon: 0});

                return false;

            }

            $.ajax({

                url: "index.php?c=recycler&a=ajaxbackcode",

                type: "post",

                data: {code: code, phone: phone},

                dataType: 'json',

                success: function (data) {

                    if (data == 0) {

                        layer.msg('Verification code error', {icon: 0});

                    }

                    if (data == 1) {

                    	$.ajax({

                    		url: "index.php?c=recycler&a=ajax_dellessphone",

			                type: "post",

			                data: {phone: phone},

			                dataType: 'json',

			                success: function(data){

			                	if(data.code==1){

			                		layer.open({content:'successfully deleted',icon:1,end:function(){

			                			$(".confirm_pop").hide();

										$("body").removeClass("hidden");

			                			location.reload();

			                		}});

			                	}

			                }

                    	})

                    }

                }

            })

        }



        var InterValObj; //timer变量，控制时间

        var count = 60; //间隔函数，1秒执行

        var curCount;//当前剩余秒数

        function send_Message() {

            curCount = count;

            var phone = $('.delphone').val();

            $.ajax({

                type: 'post',

                url: "{url('recycler/ajax_sendcode')}",

                data: {phone: phone},

                dataType: "json",

                async: false,

                success: function (data) {

                    if (data) {

                    	console.log(data);

                        if (data.code == 1) {

                            $(".back-getcode").attr("href", "javascript:;");

                            $('.back-getcode').css('background', '#e9ebed');

                            $(".back-getcode").html('Send success');

                            $("#back-phone").attr('readonly', 'readonly');

                            InterValObj = window.setInterval(SetRemainTimes, 1000); //启动计时器，1秒执行一次

                        } else if (data.code == 3) {

                            layer.open({'title': 'Prompt', 'content': 'Fail in send' + data.sms_err,});

                            return false;

                        }

                    } else {

                        $(".back-getcode").attr("href", "javascript:");

                        $(".back-getcode").html(curCount + "Retransmission after second");

                        $("#back-phone").attr('readonly', 'readonly');

                        InterValObj = window.setInterval(SetRemainTimes, 1000); //启动计时器，1秒执行一次

                    }

                }

            });

        }



        //timer处理函数

        function SetRemainTimes() {

            if (curCount == 0) {

                window.clearInterval(InterValObj);//停止计时器

                $(".back-getcode").attr("href", "javascript:send_Message();");

                $(".back-getcode").html("Retransmission verification code");

                $('.back-getcode').css('background', '#ffcc00');

            }

            else {

                curCount--;

                $(".back-getcode").html("Resend in "+curCount+'s');

            }

        }	

</script>

<script>

		 function addlessphone() {

            var phone = $('.less_phone').val();

            var linkman = $('.linkman').val();

            var preg = /^[89][0-9]{7,}$/;

            if (!phone) {

                layer.msg('Please enter the phone number', {icon: 0});

                return false;

            } else if (!preg.test(phone)) {

                layer.msg('Mobile phone number format error', {icon: 0});

                return false;

            }

            if(linkman==''){

            	layer.msg('Please enter the name of the contact',{icon: 0});

                return false;

            }

            var code = $('#back-code').val();

            if (code == '') {

                layer.msg('Please enter the verification code', {icon: 0});

                return false;

            }

            $.ajax({

                url: "index.php?c=recycler&a=ajaxbackcode",

                type: "post",

                data: {code: code, phone: phone},

                dataType: 'json',

                success: function (data) {

                    if (data == 0) {

                        layer.msg('Verification code error', {icon: 0});

                    }

                    if (data == 1) {

                    	$.ajax({

                    		url: "index.php?c=recycler&a=ajax_addlessphone",

			                type: "post",

			                data: {phone: phone,linkman:linkman},

			                dataType: 'json',

			                success: function(data){

			                	if(data.code==1){

			                		layer.open({content:'Add success',icon:1,end:function(){

			                			location.reload();

			                		}});

			                	}else if(data.code==2){

                                    layer.msg('The phone number has already existed',{icon:0});

                                }

			                }

                    	})

                    }

                }

            })

        }



        var InterValObj; //timer变量，控制时间

        var count = 60; //间隔函数，1秒执行

        var curCount;//当前剩余秒数

        function sendMessage() {

            curCount = count;

            var phone = $('.less_phone').val();

            var preg = /^[89][0-9]{7,}$/;

            if (!phone) {

                layer.msg('Please enter the phone number', {icon: 0});

                return false;

            } else if (!preg.test(phone)) {

                layer.msg('Mobile phone number format error', {icon: 0});

                return false;

            }

            $.ajax({

                type: 'post',

                url: "{url('recycler/ajax_sendcode')}",

                data: {phone: phone},

                dataType: "json",

                async: false,

                success: function (data) {

                    if (data) {

                        if (data.code == 1) {

                            $("#back-getcode").attr("href", "javascript:;");

                            $('#back-getcode').css('background', '#e9ebed');

                            $("#back-getcode").html('Send success');

                            $("#back-phone").attr('readonly', 'readonly');

                            InterValObj = window.setInterval(SetRemainTime, 1000); //启动计时器，1秒执行一次

                        } else if (data.code == 3) {

                            layer.open({'title': 'Prompt', 'content': 'Fail in send' + data.sms_err,});

                            return false;

                        }

                    } else {

                        $("#back-getcode").attr("href", "javascript:");

                        $("#back-getcode").html(curCount + "Retransmission after second");

                        $("#back-phone").attr('readonly', 'readonly');

                        InterValObj = window.setInterval(SetRemainTime, 1000); //启动计时器，1秒执行一次

                    }

                }

            });

        }



        //timer处理函数

        function SetRemainTime() {

            if (curCount == 0) {

                window.clearInterval(InterValObj);//停止计时器

                $("#back-getcode").attr("href", "javascript:sendMessage();");

                $("#back-getcode").html("Retransmission verification code");

                $('#back-getcode').css('background', '#ffcc00');

            }

            else {

                curCount--;

                $("#back-getcode").html("Resend in "+curCount+'s');

            }

        }	

		</script>

	

	<script>

		var mySwiper = new Swiper('.swiper-container-2', {

			//autoplay: 2000,//可选选项，自动滑动

			prevButton: '.apprise-btn-pre',

			nextButton: '.apprise-btn-next',

			width: 300,

			slidesPerView: 4

		});



		$('.appraise .swiper-button-prev').click(function() {

			mySwiper.swipePrev();

		})



		$('.appraise .swiper-button-next').click(function() {

			mySwiper.swipeNext();

		})

		var mySwiper1 = new Swiper('.swiper-container-3', {

			autoplay: 2000,//可选选项，自动滑动

//			prevButton: '.apprise-btn-pre',

//			nextButton: '.apprise-btn-next',

			width: 200,

			slidesPerView: 2

		});



		$('.ahs-media-content .swiper-button-prev').click(function() {

			mySwiper1.swipePrev();

		})



		$('.ahs-media-content .swiper-button-next').click(function() {

			mySwiper1.swipeNext();

		})

	</script>

