<!DOCTYPE html>

<html>

	<head>

	{template head}

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-M3TQD6R');</script>
<!-- End Google Tag Manager -->

<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window,document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '637804786589286'); 
fbq('track', 'PageView');
</script>
<noscript>
<img height="1" width="1" 
src="https://www.facebook.com/tr?id=637804786589286&ev=PageView
&noscript=1"/>
</noscript>
<!-- End Facebook Pixel Code -->

</head>

	<body>

		<div class="home">

			<div class="head">

				<div class="label_search">

					<div class="more">

						<span></span>

						<span></span>

						<span></span>

					</div>

					<label><input type="text" placeholder="Search for your device"/></label>

				</div>

			</div>

			<!--banner-->

			<div class="swiper-container">

				<div class="swiper-wrapper">

					{loop $banner_list $item}

					<div class="swiper-slide">

						<a href="{$item['link']}"><img src="{$item['guanggaotutupian']}"/></a>

					</div>

					{/loop}

				</div>

				<div class="swiper-pagination"></div>

			</div>

			<!--banner end-->

			<div class="spec-5"></div>

			<div class="process">

				<ul>

					<li>

						<img src="{SITE_THEME}img/icon1.png" class="icon"/>

						<img src="{SITE_THEME}img/loading.png" class="loading"/>

						<p>Aevice appraisal</p>

					</li>

					<li>

						<img src="{SITE_THEME}img/icon2.png" class="icon"/>

						<img src="{SITE_THEME}img/loading.png" class="loading"/>

						<p>Instant quote</p>

					</li>

					<li>

						<img src="{SITE_THEME}img/icon3.png" class="icon"/>

						<img src="{SITE_THEME}img/loading.png" class="loading"/>

						<p>Free pickup</p>

					</li>

					<li>

						<img src="{SITE_THEME}img/icon4.png" class="icon"/>

						<p>Quick cashout</p>

					</li>

				</ul>

			</div>

			<div class="spec-5"></div>

			

			<!--list-->

			<div class="list">

				<div class="nav_list">

					<ul>

						{loop $type_list $t}

						<li onclick="add_on(this,{$t['id']});">

							{$t['name']}

						</li>

						{/loop}

					</ul>

				</div>



				<div class="prodlist">

					<ul id="menu-box">

						<!-- <li>

							<a href="user_device.html">

								<img src="{SITE_THEME}img/listpic1.jpg"/>

								<div class="prodname">honor</div>

								<div class="tips">Highest Price</div>

								<div class="price">$ 1500</div>

							</a>

						</li> -->

						

					</ul>

					<div class="more">More</div>

				</div>

				<div class="prodlist">

					<ul id="index-box">

					</ul>

				</div>

			</div>

			{template footer}

		</div>

	</body>

</html>

<input type="hidden" name="" id="page" value="0">

<script>

    var lay ;

    function add_on(a,id){

        $('#recovery_parent_id').val('');

        lay = layer.open({type:3,icon:1});

        $('.add_onn').removeClass('on');

        $.ajax({

            url: "index.php?c=ajax_formflowerhua&a=ajax_get_typelist",

            type: "post",

            data: {

                id : id,

            },

            dataType: 'json',

            success: function (data) {

                $('#recovery_type_id').val(id);

                var str ='<li>\n' +

                    '    <span></span>\n' +

                    '    <a href="javascript:;" class="selection_brands" onclick="selection_brands(this,\'hits\');">\n' +

                    '        <img src="{SITE_THEME}img/icon7.png">\n' +

                    '    </a>\n' +

                    '</li>';

                if(data.code==1){

                    for (var i = 0; i < data.result.length ; i++){

                        str += '<li>\n' +

                            '\t\t\t\t\t\t\t<span></span>\n' +

                            '\t\t\t\t\t\t\t<a href="javascript:;" class="selection_brands" onclick="selection_brands(this,'+data.result[i].id+');">\n' +

                            '\t\t\t\t\t\t\t\t<img  src="' + data.result[i].pic + '">\n' +

                            '\n' +

                            '\t\t\t\t\t\t\t</a>\n' +

                            '\t\t\t\t\t\t</li>';

                    }

                    console.log(str)

                    str +='<li>\n' +

                        '    <span></span>\n' +

                        '    <a href="index.php?c=flowerhua&a=recovery_list" class="selection_brands">\n' +

                        '        MORE>>\n' +

                        '    </a>\n' +

                        '</li>';

                    $('#menu-box').html('');

                    $('#menu-box').append(str);

                }

                $(a).siblings('li').removeClass('on');

                $(a).addClass('on');

                $('#page').val(0);

                $('#index-box').html('');

                $('#menu-box li a').eq(0).trigger('click');

            }

        });

    }

    function selection_brands(a,id){

        $('.selection_brands').css('border-bottom','3px solid #e5e5e5');

        $(a).css('border-bottom','3px solid #ffcc00');

        lay = layer.open({type:3,icon:1})

        $('#recovery_parent_id').val(id);

        $('#page').val(0);

        $('#index-box').html('');

        ajax_index();

	}

    function ajax_index(){

        var page = $('#page').val();

        var recovery_type_id = $('#recovery_type_id').val();

        var recovery_parent_id = $('#recovery_parent_id').val();

        $.ajax({

            url: "index.php?c=ajax_formflowerhua&a=ajax_index",

            type: "post",

            data: {

                page:page,

                recovery_type_id : recovery_type_id,

                recovery_parent_id : recovery_parent_id,

            },

            dataType: 'json',

            success: function (data) {

                layer.close(lay);

                var str = '';

                if(data.code==1){

                    if(data.result.length<8){

                        $('.index-box-more').hide();

                    }else{

                        $('.index-box-more').show();

                    }

                    for (var i = 0; i < data.result.length ; i++) {

                        str += '<li>\n' +

                            '\t\t\t\t\t\t\t<a href="index.php?c=flowerhua&a=recovery_detail&recovery_id='+data.result[i].id+'">\n' +

                            '\t\t\t\t\t\t\t\t<img src="' + data.result[i].recovery_img + '" class="hover_test">\n' +

                            '\t\t\t\t\t\t\t\t<h3>'+data.result[i].recovery_title+'</h3>\n' +

                            '\t\t\t\t\t\t\t\t<p>Highest Price</p>\n' +

                            '\t\t\t\t\t\t\t\t<h2>$'+data.result[i].recovery_high_price+'</h2>\n' +

                            '\t\t\t\t\t\t\t</a>\n' +

                            '\t\t\t\t\t\t</li>';

                    }

                    $('#index-box').append(str);

                    page++;

                    $('#page').val(page);

                }else{

                    $('.index-box-more').hide();

//                                    $('#index-box').append('<p align="center" style="padding:20px;font-size:14px;">No data has been found for the time being!</p>');

                }

            }

        });

    }



</script>

<script>

	var swiper = new Swiper('.swiper-container',{

			autoplay:{

			   disableOnInteraction: false,

			},

			loop:true,

			disableOnInteraction:false,

			pagination: {

			    el: '.swiper-pagination',

			    clickable:true

			}

		});

	

	window.onload = function(){

		var ulwidth = 10;

		$('.list .nav_list ul li').each(function(){

			var width = $(this).outerWidth(true);

			ulwidth +=width;

		});

		$('.list .nav_list ul').width(ulwidth);

		

		$('.list .nav_list ul li').on('click',function(){

			$(this).addClass('on').siblings().removeClass('on')

		});

		

		$('.home .head .more').on('click',function(){

			$('.sidebar').show();

		});

		$('.sidebar').on('click',function(){

			$('.sidebar').hide();

		});

	}

</script>

