<!DOCTYPE html>

<html>

	<head>

		<meta charset="utf-8" />

		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />

		<title>Whizmo info pack</title>

		<script type="text/javascript" src="js/rem.js"></script>

		<link rel="stylesheet" href="css/swiper.min.css" />

        <link rel="stylesheet" href="css/style.css"/>

        <script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>

        <script type="text/javascript" src="js/swiper.min.js" ></script>

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-M3TQD6R');</script>
<!-- End Google Tag Manager -->

<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window,document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '637804786589286'); 
fbq('track', 'PageView');
</script>
<noscript>
<img height="1" width="1" 
src="https://www.facebook.com/tr?id=637804786589286&ev=PageView
&noscript=1"/>
</noscript>
<!-- End Facebook Pixel Code -->

</head>

	<body>

		<div class="list_living">

			<div class="head">

				<div class="label_search">

					<div class="more" onclick="showside()">

						<span></span>

						<span></span>

						<span></span>

					</div>

					<label><input type="text" placeholder="Search for your device"/></label>

				</div>

			</div>

			<div class="com_pic">

				<img src="img/banner2.jpg"/>

			</div>

			<div class="nav_list">

				<ul>

					<li class="on"><p>New Listings</p></li>

					<li><p>Participated Listings</p></li>

					<li><p>Uninterested</p></li>

				</ul>

			</div>

			<div class="select_list">

				<ul>

					<li>Device：<select><option>All</option></select></li>

					<li>Brand：<select><option>All</option></select></li>

					<li>Model：<select><option>All</option></select></li>

				</ul>

			</div>

			

			<div class="list_list">

				<ul>

					<li>

						<div class="name_detail"><p>iPhone 8</p><a href="javascript:;">Details</a></div>

						<div class="prod">

							<a href="javascript:;" class="prodleft"><img src="img/list1.jpg"></a>

							<div class="prodright">

								<div class="sku_num"><div class="sku fl">64G Gold</div><div class="num fl">#151323232152</div></div>

								<div class="bindinput"><input type="text" placeholder="S$330"/><div class="minus"><img src="img/minus.png"/></div><div class="add"><img src="img/add.png"/></div></div>

								<div class="minbid">Min Bid: $300</div>

								<div class="btns"><div class="not_inster">Not Interested</div><div class="subbid" onclick="confirmInfo()">Submit Bid</div></div>

							</div>

						</div>

					</li>

					<li>

						<div class="name_detail"><p>iPhone 8</p><a href="javascript:;">Details</a></div>

						<div class="prod">

							<a href="javascript:;" class="prodleft"><img src="img/list1.jpg"></a>

							<div class="prodright">

								<div class="sku_num"><div class="sku fl">64G Gold</div><div class="num fl">#151323232152</div></div>

								<div class="bindinput"><input type="text" placeholder="S$330"/><div class="minus"><img src="img/minus.png"/></div><div class="add"><img src="img/add.png"/></div></div>

								<div class="minbid">Min Bid: $300</div>

								<div class="btns"><div class="not_inster">Not Interested</div><div class="subbid" onclick="confirmInfo()">Submit Bid</div></div>

							</div>

						</div>

					</li>

					<li>

						<div class="name_detail"><p>iPhone 8</p><a href="javascript:;">Details</a></div>

						<div class="prod">

							<a href="javascript:;" class="prodleft"><img src="img/list1.jpg"></a>

							<div class="prodright">

								<div class="sku_num"><div class="sku fl">64G Gold</div><div class="num fl">#151323232152</div></div>

								<div class="bindinput"><input type="text" placeholder="S$330"/><div class="minus"><img src="img/minus.png"/></div><div class="add"><img src="img/add.png"/></div></div>

								<div class="minbid">Min Bid: $300</div>

								<div class="btns"><div class="not_inster">Not Interested</div><div class="subbid" onclick="confirmInfo()">Submit Bid</div></div>

							</div>

						</div>

					</li>

					<li>

						<div class="name_detail"><p>iPhone 8</p><a href="javascript:;">Details</a></div>

						<div class="prod">

							<a href="javascript:;" class="prodleft"><img src="img/list1.jpg"></a>

							<div class="prodright">

								<div class="sku_num"><div class="sku fl">64G Gold</div><div class="num fl">#151323232152</div></div>

								<div class="bindinput"><input type="text" placeholder="S$330"/><div class="minus"><img src="img/minus.png"/></div><div class="add"><img src="img/add.png"/></div></div>

								<div class="minbid">Min Bid: $300</div>

								<div class="btns"><div class="not_inster">Not Interested</div><div class="subbid" onclick="confirmInfo()">Submit Bid</div></div>

							</div>

						</div>

					</li>

				</ul>

			</div>

			<!--sidebar-->

			<div class="sidebar" onclick="hdieside()">

				<div class="sidebar_left">

					<div class="side_login">

						<a href="partner_login.html">

							<img src="img/header.png"/>

							<p>Login</p>

						</a>

					</div>

					<div class="sidelist">

						<a href="javascript:;" class="side_order">Living Listings</a>

						<a href="order_bids.html" class="bids">Successful Bids</a>

						<a href="company_info.html" class="com_info">Company Information</a>

						<div class="settings">

							<p>Settings</p>

							<ol>

								<li><a href="changepwd.html">Change Password</a></li>

								<li><a href="manage.html">Manage Secondary Numbers</a></li>

							</ol>

						</div>

					</div>

					

				</div>

			</div>

			<!--sidebar end-->

			

			<!--confirm-->

			<div class="confirm_pop">

				<div class="content">

					<div class="content_info">

						<div class="tit">Confirm Bid</div>

						<div class="num_sku">#135323163523 | iPhone 8 64G Gold</div>

						<div class="price">Bid Price: <span>$330</span></div>

						<select class="select">

							<option>Choose Mobile No.</option>

							<option>Choose Mobile No.</option>

							<option>Choose Mobile No.</option>

						</select>

						<div class="code"><input type="text" placeholder="Enter One-Time Passcode"/><button class="getcode">Send OTP</button></div>

						<div class="agree"><input type="checkbox" checked="checked"/>I agree to <a href="javascript:;">Terms & Conditions</a></div>

					</div>

					<img src="img/close.png" class="close" onclick="hideconfirm()"/>

					<button class="confirm" onclick="hideconfirm()">Confirm</button>

				</div>

			</div>

			<!--confirm-->

		</div>

	</body>

</html>

<script>

	//显示侧边栏

	function showside(){

		$('.sidebar').show();

	}

	//隐藏侧边栏

	function hdieside(){

		$('.sidebar').hide();

	}

	//显示弹窗

	function confirmInfo(){

		$('.confirm_pop').show();

	}

	//隐藏弹窗

	function hideconfirm(){

		$('.confirm_pop').hide();

	}

	//.nav_list li点击切换

	$('.nav_list ul li').on('click',function(){

		$(this).addClass('on').siblings().removeClass('on');

	})

</script>

