<!DOCTYPE html>

<html>

	<head>

		<meta charset="utf-8" />

		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />

		<title>Whizmo info pack</title>

		<script type="text/javascript" src="js/rem.js"></script>

		<link rel="stylesheet" href="css/swiper.min.css" />

        <link rel="stylesheet" href="css/style.css"/>

        <script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>

        <script type="text/javascript" src="js/swiper.min.js" ></script>

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-M3TQD6R');</script>
<!-- End Google Tag Manager -->

<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window,document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '637804786589286'); 
fbq('track', 'PageView');
</script>
<noscript>
<img height="1" width="1" 
src="https://www.facebook.com/tr?id=637804786589286&ev=PageView
&noscript=1"/>
</noscript>
<!-- End Facebook Pixel Code -->

</head>

	<body class="orderbd">

		<div class="head">

			<div class="label_search">

				<div class="more" onclick="showside()">

					<span></span>

					<span></span>

					<span></span>

				</div>

				<label><input type="text" placeholder="Search for your device"/></label>

			</div>

		</div>

		<!--sidebar-->

			<div class="sidebar" onclick="hdieside()"></div>

			<div class="sidebar_left">

					<div class="side_login">

						<a href="user_login.html">

							<img src="img/header.png"/>

							<p>Login</p>

						</a>

					</div>

					<div class="sidelist">

						<a href="javascript:;" class="side_order on">My Orders</a>

						<div class="settings barclick">

							<p>Settings</p>

							<ol>

								<li><a href="settings.html">ldentity verification</a></li>

								<li><a href="settings.html">Address</a></li>

								<li><a href="settings.html">login password</a></li>

							</ol>

						</div>

						<a href="settings.html" class="sign_out">Sign Out</a>

					</div>

					

					<div class="sidelist2">

						<div class="help barclick">

							<p>Help</p>

							<ol>

								<li><a href="help.html">How It Works</a></li>

								<li><a href="help.html">Packing Tips</a></li>

								<li><a href="help.html">FAQ</a></li>

							</ol>

						</div>

						<div class="about barclick">

							<p>About</p>

							<ol>

								<li><a href="javascript:;">About Us</a></li>

								<li><a href="javascript:;">Privacy Policy</a></li>

								<li><a href="javascript:;">Terms of Use</a></li>

								<li><a href="javascript:;">Contact Us</a></li>

							</ol>

						</div>

						<div class="ship barclick">

							<p>Partnership</p>

							<ol>

								<li><a href="parentship.html">Become Our Partner</a></li>

								<li><a href="partner_login.html">Partner Login</a></li>

							</ol>

						</div>

					</div>

					

					<div class="linkus">

						<p>WhatsApp Us</p>

						<a href="tel:+65 8888 8888">+65 8888 8888</a>

					</div>

				</div>

			<!--sidebar end-->

			<div class="my_order">

				<div class="tit">My orders</div>

				<div class="orderlist">

					<div class="orderhead">

						<ul>

							<li>Device Model</li>

							<li>Status</li>

							<li>Offer Price</li>

							<li>Details</li>

						</ul>

					</div>

					<div class="list">

						<ul>

							<li>

								<div class="num_date">

									<div class="num">Order number:201712084546545</div>

									<div class="date">2017-12-08 10:44:36</div>

								</div>

								<div class="order_msg">

									<div class="fl1">

										<img src="img/listpic1.jpg"/>

										<p>honor</p>

									</div>

									<div class="status">Order Confirmed</div>

									<div class="price">$2333</div>

									<a href="order_detail.html" class="viewdetail">View Details</a>

								</div>

							</li>

							<li>

								<div class="num_date">

									<div class="num">Order number:201712084546545</div>

									<div class="date">2017-12-08 10:44:36</div>

								</div>

								<div class="order_msg">

									<div class="fl1">

										<img src="img/listpic1.jpg"/>

										<p>honor</p>

									</div>

									<div class="status on">Arrange FREE Pickup</div>

									<div class="price">$2333</div>

									<a href="order_detail.html" class="viewdetail">View Details</a>

								</div>

							</li>

							<li>

								<div class="num_date">

									<div class="num">Order number:201712084546545</div>

									<div class="date">2017-12-08 10:44:36</div>

								</div>

								<div class="order_msg">

									<div class="fl1">

										<img src="img/listpic1.jpg"/>

										<p>honor</p>

									</div>

									<div class="status">Order Expired</div>

									<div class="price">$2333</div>

									<a href="order_detail.html" class="viewdetail">View Details</a>

								</div>

							</li>

							<li>

								<div class="num_date">

									<div class="num">Order number:201712084546545</div>

									<div class="date">2017-12-08 10:44:36</div>

								</div>

								<div class="order_msg">

									<div class="fl1">

										<img src="img/listpic1.jpg"/>

										<p>honor</p>

									</div>

									<div class="status">Order Expired</div>

									<div class="price">$2333</div>

									<a href="order_detail.html" class="viewdetail">View Details</a>

								</div>

							</li>

						</ul>

					</div>

				</div>

			</div>

	</body>

</html>

<script>

	//显示侧边栏

	function showside(){

		$('.sidebar,.sidebar_left').show();

	}

	//隐藏侧边栏

	function hdieside(){

		$('.sidebar,.sidebar_left').hide();

	}

	

	$('.barclick').on('click',function(){

		$(this).find('p').toggleClass('on');

		$(this).find('ol').toggleClass('on');

	})

</script>

