<!DOCTYPE html>

<html>

	<head>

		<meta charset="utf-8" />

		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />

		<title>Bidding History</title>

		<script type="text/javascript" src="js/rem.js"></script>

		<link rel="stylesheet" href="css/swiper.min.css" />

        <link rel="stylesheet" href="css/style.css"/>

        <script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>

        <script type="text/javascript" src="js/swiper.min.js" ></script>

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-M3TQD6R');</script>
<!-- End Google Tag Manager -->


<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window,document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '637804786589286'); 
fbq('track', 'PageView');
</script>
<noscript>
<img height="1" width="1" 
src="https://www.facebook.com/tr?id=637804786589286&ev=PageView
&noscript=1"/>
</noscript>
<!-- End Facebook Pixel Code -->

</head>

	<body class="geryBg">

		<div class="order_bids">

			<div class="head">

				<div class="label_search">

					<div class="more" onclick="showside()">

						<span></span>

						<span></span>

						<span></span>

					</div>

					<label><input type="text" placeholder="Search for your device"/></label>

				</div>

			</div>

			<div class="com_pic">

				<img src="img/banner2.jpg"/>

			</div>

			<div class="nav_list">

				<ul>

					<li class="on"><p>On-Going Bids</p></li>

					<li><p>Pending Payment</p></li>

					<li><p>Pending Delivery</p></li>

					<li><p>Past Record</p></li>

				</ul>

			</div>

			<div class="orderlist">

				<div class="num_date_state">

					<div class="content">

						<div class="num_date"><div class="num">Order #：201711290011</div><span>|</span><div class="date">Auction Date：28.11.2017</div></div>

						<div class="state">State: Order confirmed, delivery arranged</div>

					</div>

				</div>

				<!--list-->

				<div class="list">

					<ul>

						<li>

							<div class="ul">

								<div class="li">

									<a href="javascript:;" class="fl"><img src="img/list1.jpg"/></a>

									<div class="right">

										<div class="name">iPhone 8</div>

										<div class="sku">64G Gold</div>

										<div class="price">S$ 300</div>

										<div class="num_byid">

											<div class="num">#123456746</div>

											<span>|</span>

											<div class="byid">Bid By123456789</div>

										</div>

										<div class="details">Details</div>

									</div>

									<div class="detailbg">

										<div class="content">

											<div class="content2">

												<p>Purchase channels:   Hong Kong trading (buying in Hong Kong, global group)</p>

												<p>Boot:   normal boot<p>

												<p>History:   maintenance teardown without dismantling machine maintenance<p>

												<p>Up to whether cancellation:   ripped has logged off<p>

												<p>Shooting function:   photo camera is normal<p>

												<p>Function:   wireless is normal<p>

												<p>Screen display:   bad point/color/slight yellow light<p>

												<p>Border back:   shell have scratches<p>

												<p>Whether the fuselage bending:   fuselage without bending<p>

											</div>

										</div>

									</div>

								</div>

								<div class="li">

									<a href="javascript:;" class="fl"><img src="img/list1.jpg"/></a>

									<div class="right">

										<div class="name">iPhone 8</div>

										<div class="sku">64G Gold</div>

										<div class="price">S$ 300</div>

										<div class="num_byid">

											<div class="num">#123456746</div>

											<span>|</span>

											<div class="byid">Bid By123456789</div>

										</div>

										<div class="details">Details</div>

									</div>

									<div class="detailbg">

										<div class="content">

											<div class="content2">

												<p>Purchase channels:   Hong Kong trading (buying in Hong Kong, global group)</p>

												<p>Boot:   normal boot<p>

												<p>History:   maintenance teardown without dismantling machine maintenance<p>

												<p>Up to whether cancellation:   ripped has logged off<p>

												<p>Shooting function:   photo camera is normal<p>

												<p>Function:   wireless is normal<p>

												<p>Screen display:   bad point/color/slight yellow light<p>

												<p>Border back:   shell have scratches<p>

												<p>Whether the fuselage bending:   fuselage without bending<p>

											</div>

										</div>

									</div>

								</div>

							 </div>

							 <div class="total">Total Amount: <span>S$ 450</span></div>

						</li>

						<li>

							<div class="ul">

								<div class="li">

									<a href="javascript:;" class="fl"><img src="img/list1.jpg"/></a>

									<div class="right">

										<div class="name">iPhone 8</div>

										<div class="sku">64G Gold</div>

										<div class="price">S$ 300</div>

										<div class="num_byid">

											<div class="num">#123456746</div>

											<span>|</span>

											<div class="byid">Bid By123456789</div>

										</div>

										<div class="details">Details</div>

									</div>

									<div class="detailbg">

										<div class="content">

											<div class="content2">

												<p>Purchase channels:   Hong Kong trading (buying in Hong Kong, global group)</p>

												<p>Boot:   normal boot<p>

												<p>History:   maintenance teardown without dismantling machine maintenance<p>

												<p>Up to whether cancellation:   ripped has logged off<p>

												<p>Shooting function:   photo camera is normal<p>

												<p>Function:   wireless is normal<p>

												<p>Screen display:   bad point/color/slight yellow light<p>

												<p>Border back:   shell have scratches<p>

												<p>Whether the fuselage bending:   fuselage without bending<p>

											</div>

										</div>

									</div>

								</div>

							 </div>

							 <div class="total">Total Amount: <span>S$ 450</span></div>

						</li>

						<li>

							<div class="ul">

								<div class="li">

									<a href="javascript:;" class="fl"><img src="img/list1.jpg"/></a>

									<div class="right">

										<div class="name">iPhone 8</div>

										<div class="sku">64G Gold</div>

										<div class="price">S$ 300</div>

										<div class="num_byid">

											<div class="num">#123456746</div>

											<span>|</span>

											<div class="byid">Bid By123456789</div>

										</div>

										<div class="details">Details</div>

									</div>

									<div class="detailbg">

										<div class="content">

											<div class="content2">

												<p>Purchase channels:   Hong Kong trading (buying in Hong Kong, global group)</p>

												<p>Boot:   normal boot<p>

												<p>History:   maintenance teardown without dismantling machine maintenance<p>

												<p>Up to whether cancellation:   ripped has logged off<p>

												<p>Shooting function:   photo camera is normal<p>

												<p>Function:   wireless is normal<p>

												<p>Screen display:   bad point/color/slight yellow light<p>

												<p>Border back:   shell have scratches<p>

												<p>Whether the fuselage bending:   fuselage without bending<p>

											</div>

										</div>

									</div>

								</div>

							 </div>

							 <div class="total">Total Amount: <span>S$ 450</span></div>

						</li>

					</ul>

				</div>

				<!--list end-->

			</div>

			<!--sidebar-->

			<div class="sidebar" onclick="hdieside()">

				<div class="sidebar_left">

					<div class="side_login">

						<a href="partner_login.html">

							<img src="img/header.png"/>

							<p>Login</p>

						</a>

					</div>

					<div class="sidelist">

						<a href="list_living.html" class="side_order">Living Listings</a>

						<a href="javascript:;" class="bids">Successful Bids</a>

						<a href="company_info.html" class="com_info">Company Information</a>

						<div class="settings">

							<p>Settings</p>

							<ol>

								<li><a href="changepwd.html">Change Password</a></li>

								<li><a href="manage.html">Manage Secondary Numbers</a></li>

							</ol>

						</div>

					</div>

					

				</div>

			</div>

			<!--sidebar end-->

			

		</div>

	</body>

</html>

<script>

	function showside(){

		$('.sidebar').show();

	}

	function hdieside(){

		$('.sidebar').hide();

	}

	

	$('.nav_list ul li').on('click',function(){

		$(this).addClass('on').siblings().removeClass('on');

	})

	

	$('.details').on('click',function(){

		$(this).toggleClass('on');

		$(this).parents('.li').find('.detailbg').toggleClass('on')

	})

</script>

