<!DOCTYPE html>

<html>

	<head>

		<meta charset="utf-8" />

		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />

		<title>Whizmo info pack</title>

		<script type="text/javascript" src="js/rem.js"></script>

		<link rel="stylesheet" href="css/swiper.min.css" />

        <link rel="stylesheet" href="css/style.css"/>

        <script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>

        <script type="text/javascript" src="js/swiper.min.js" ></script>

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-M3TQD6R');</script>
<!-- End Google Tag Manager -->

<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window,document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '637804786589286'); 
fbq('track', 'PageView');
</script>
<noscript>
<img height="1" width="1" 
src="https://www.facebook.com/tr?id=637804786589286&ev=PageView
&noscript=1"/>
</noscript>
<!-- End Facebook Pixel Code -->

</head>

	<body class="parentship">

		<div class="head">

			<div class="label_search">

				<div class="more" onclick="showside()">

					<span></span>

					<span></span>

					<span></span>

				</div>

				<label><input type="text" placeholder="Search for your device"/></label>

			</div>

		</div>

		<!--sidebar-->

		<div class="sidebar" onclick="hdieside()"></div>

		<div class="sidebar_left">

				<div class="side_login">

					<a href="user_login.html">

						<img src="img/header.png"/>

						<p>Login</p>

					</a>

				</div>

				<div class="sidelist">

					<a href="my_orders.html" class="side_order">My Orders</a>

					<div class="settings barclick">

						<p>Settings</p>

						<ol>

							<li><a href="settings.html" onclick="show('.identify_pop')">ldentity verification</a></li>

							<li><a href="settings.html" onclick="show('.addr_pop')">Address</a></li>

							<li><a href="settings.html" onclick="show('.pwd_pop')">login password</a></li>

						</ol>

					</div>

					<a href="settings.html" class="sign_out" onclick="show('.device_pop')">Sign Out</a>

				</div>

				

				<div class="sidelist2">

					<div class="help barclick">

						<p>Help</p>

						<ol>

							<li><a href="help.html">How It Works</a></li>

							<li><a href="help.html">Packing Tips</a></li>

							<li><a href="help.html">FAQ</a></li>

						</ol>

					</div>

					<div class="about barclick">

						<p>About</p>

						<ol>

							<li><a href="javascript:;">About Us</a></li>

							<li><a href="javascript:;">Privacy Policy</a></li>

							<li><a href="javascript:;">Terms of Use</a></li>

							<li><a href="javascript:;">Contact Us</a></li>

						</ol>

					</div>

					<div class="ship barclick">

						<p>Partnership</p>

						<ol>

							<li><a href="parentship.html">Become Our Partner</a></li>

							<li><a href="partner_login.html">Partner Login</a></li>

						</ol>

					</div>

				</div>

				

				<div class="linkus">

					<p>WhatsApp Us</p>

					<a href="javascript:;">+65 8888 8888</a>

				</div>

			</div>

		<!--sidebar end-->

		<div class="parentships">

			<div class="com_pic">

				<img src="img/become.jpg"/>

			</div>

			<div class="introd">

				<div class="tit">Platform Aim</div>

				<div class="intlist">

				  <ul>

					<li>QUICK</li>

					<li>SIMPLE</li>

					<li>SAFE</li>

				  </ul>

				</div>

				<div class="tips">We aim to build an efficient and stable resource channel</div>

			</div>

			<div class="infoform">

				<div class="tit">Become Our Partner</div>

				<div class="inp">

					<ul>

						<li>

							<div class="txt">Company Name</div>

							<input type="text" placeholder="Company Name"/>

						</li>

						<li>

							<div class="txt">Primary Contact Person</div>

							<input type="text" placeholder="Primary Contact Person"/>

						</li>

						<li>

							<div class="txt">Primary Mobile Number</div>

							<input type="text" placeholder="Primary Mobile Number"/>

						</li>

						<li class="short">

							<div class="txt">OTP Verification</div>

							<div class="otp">

								<input type="text" placeholder="Enter One-Time Passcode"/>

								<button>Send OTP</button>

							</div>

						</li>

					</ul>

				</div>

				<button class="update" onclick="show('.pwd_pop')">Join</button>

				<div class="tips">*We will contact you to complete the regstration shortly.</div>

			</div>

		</div>

		

		<div class="pwd_pop">

			<div class="content">

				<div class="content_info">

					<div class="txt">Create Account Now</div>

					<div class="label">

						<label>

							<input type="password" placeholder="Username"/>

							<img src="img/icon-phone2.png">

						</label>

					</div>

					<div class="label">

						 <label>

							<input type="password" placeholder="Password"/>

							<img src="img/lock3.png">

						 </label>

					</div>

					<div class="label">

						<label>

							<input type="password" placeholder="Repeat Password"/>

							<img src="img/lock3.png">

						</label>

					</div>

				</div>

				<img src="img/close.png" class="close" onclick="hide('.pwd_pop')"/>

				<button class="confirm" onclick="hide('.pwd_pop')">Submit</button>

			</div>

		</div>

	</body>

</html>

<script>

	//显示侧边栏

	function showside(){

		$('.sidebar,.sidebar_left').show();

	}

	//隐藏侧边栏

	function hdieside(){

		$('.sidebar,.sidebar_left').hide();

	}

	

	function show(classname){

		$(classname).show();

//		$('.sidebar,.sidebar_left').hide();

	}

	function hide(classname){

		$(classname).hide();

	}

	

	$('.barclick').on('click',function(){

		$(this).find('p').toggleClass('on');

		$(this).find('ol').toggleClass('on');

	});

</script>

