<!DOCTYPE html>

<html>

	<head>

	{template head}

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-M3TQD6R');</script>
<!-- End Google Tag Manager -->

<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window,document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '637804786589286'); 
fbq('track', 'PageView');
</script>
<noscript>
<img height="1" width="1" 
src="https://www.facebook.com/tr?id=637804786589286&ev=PageView
&noscript=1"/>
</noscript>
<!-- End Facebook Pixel Code -->


</head>

	<body>

		<div class="partner_login">

			<div class="logo"><img src="{$SITE_LOGO}"></div>

			<div class="juese">Partner</div>

			<form>

				<label class="user"><input type="text" placeholder="Username" class="username" value="{$username}"></label>

				<label class="pwd"><input type="password" placeholder="Password" class="password" value="{$password}"></label>

				<button class="login submit" type="button" >Sign In</button>

				<div class="keep_forget">

					<div class="keep"><input type="checkbox" checked="checked"/>Keep me logged in</div>

					<div class="forget" onclick="confirmInfo()">Forgot password?</div>

				</div>

			</form>

			

			<!--confirm-->

			<div class="confirm_pop">

				<div class="content">

					<div class="content_info">

						<div class="tit">Forgot Password</div>

						<label><input type="text" placeholder="Enter Mobile No." id="back-phone"/></label>

						<div class="code"><input type="text" placeholder="One-Time Passcode" id="back-code"/><button class="getcode disable" onclick="sendMessage()" id="back-getcode">Send OTP</button></div>

						<label><input type="text" placeholder="Create Password" id="back-password"/></label>

						<label><input type="text" placeholder="Repeat Password" id="back-trypassword"/ ></label>

					</div>

					<img src="{SITE_THEME}img/close.png" class="close" onclick="hideconfirm()"/>

					<button class="confirm" type="button" onclick="reset_password()">Reset Password</button>

				</div>

			</div>

			<!--confirm-->

		</div>

	</body>

</html>

<script>

	//显示弹窗

	function confirmInfo(){

		$('.confirm_pop').show();

	}

	//隐藏弹窗

	function hideconfirm(){

		$('.confirm_pop').hide();

	}

</script>

<script type="text/javascript">

	$('.submit').click(function(){

		var username = $('.username').val();

		var password = $('.password').val();

        var check = $('.keep').prop('checked');

		if(username==''){

			layer.msg('Please enter the username',{icon:0});

			return false;

		}

		if(password==''){

			layer.msg('Please input a password',{icon:0});

			return false;

		}

		$.ajax({

			type:'post',

			dataType:'json',

			url:"{url('recycler_login/partner_login')}",

			data:{username:username,password:password,check:check},

			success:function(data){

                if(data.code==-6){

                    layer.msg('This user has submitted the application. Please wait for the audit patiently!',{icon:0});

                }

				if(data.code==2){

					layer.msg('Password error!',{icon:0});

				}

                if(data.code==-1){

                    layer.msg("Can't find the user!",{icon:0});

                }

				if(data.code==1){

						location.href="./index.php?c=recycler&a=recycler_listings";

				}

			}

		})

	})

	



	var InterValObj; //timer变量，控制时间

        var count = 60; //间隔函数，1秒执行

        var curCount;//当前剩余秒数

        function sendMessage() {

            curCount = count;

            var phone = $.trim($('#back-phone').val());

            var preg = /^[89][0-9]{7,}$/;

            if (!phone) {

                layer.msg('Please enter the phone number',{icon:0});return false;

            } else if (!preg.test(phone)) {

                layer.msg('Mobile phone number format error',{icon:0});return false;

            }

            $.ajax({

                type: 'post',

               	url:"{url('recycler/ajax_backsendcode')}",

                data: {phone:phone},

                dataType: "json",

                async:false,

                success: function (data) {

                    if (data) {

                        if (data.code == 1) {

                            $("#back-getcode").attr("href", "javascript:;");

                            $('#back-getcode').css('background','#e9ebed');

                            $("#back-getcode").html('Send success');

                            $("#back-phone").attr('readonly', 'readonly');

                            InterValObj = window.setInterval(SetRemainTime, 1000); //启动计时器，1秒执行一次

                        } else if (data.code == 2) {

                            layer.open({'title': 'Prompt', 'content': 'This user has not been found for the time being!',});

                            return false;

                        } else if (data.code == 3) {

                            layer.open({'title': 'Prompt', 'content': 'Fail in send'+data.sms_err,});

                            return false;

                        }

                    } else {

                        $("#back-getcode").attr("href", "javascript:");

                        $("#back-getcode").html(curCount + "Retransmission after second");

                        $("#back-phone").attr('readonly', 'readonly');

                        InterValObj = window.setInterval(SetRemainTime, 1000); //启动计时器，1秒执行一次

                    }

                }

            });

        }

        //timer处理函数

        function SetRemainTime() {

            if (curCount == 0) {

                window.clearInterval(InterValObj);//停止计时器

                $("#back-getcode").attr("href", "javascript:sendMessage();");

                $("#back-getcode").html("Retransmission verification code");

                $('#back-getcode').css('background','#ffcc00');

            }

            else {

                curCount--;

                $("#back-getcode").html("Resend in "+curCount+'s');

            }

        }





    function reset_password(){

    	$('.confirm_pop').hide();

           var preg = /^[89][0-9]{7,}$/;

           var phone = $.trim($('#back-phone').val());

            var code = $('#back-code').val();

            var password = $('#back-password').val();

            var try_password = $('#back-trypassword').val();

            if(phone == '' || phone == null){

                layer.msg('Please fill in your mobile phone number',{icon:0});return false;

            }else if(!preg.test(phone)){

                layer.msg('Please enter the correct phone number',{icon:0});return false;

            }else if(code == '' || code == null){

                layer.msg('Please fill in your verification code',{icon:0});return false;

            }else if(password == '' || password == null){

                layer.msg('Please fill in your password',{icon:0});return false;

            }else if(try_password == '' || try_password == null){

                layer.msg('Please fill in your password again',{icon:0});return false;

            }else if(try_password != password){

                layer.msg('The two passwords are not the same',{icon:0});return false;

            }

            $.ajax({

                url: "index.php?c=recycler&a=ajaxbackcode",

                type: "post",

                async: false,

                data: {"code":code,"phone":phone},

                success: function (data) {

                    if(data==0){

                        layer.msg('Verification code error',{icon:0});return false;

                    }else{

                        //开始传值修改会员密码

                        $.ajax({

                            url: "index.php?c=recycler&a=ajax_edit_member_password",

                            type: "post",

                            data: {phone:phone,password:password},

                            dataType: 'json',

                            success: function (data) {

                                if(data.code==1){

                                    layer.open({icon:1,content:'Revise the password successfully!',end:function(){

                                        hide_tan();

                                    }});

                                }

                            }

                        });

                    }

                }

            });

        }     

</script>