<!DOCTYPE html>

<html>

	<head>

	{template head}

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-M3TQD6R');</script>
<!-- End Google Tag Manager -->

<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window,document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '637804786589286'); 
fbq('track', 'PageView');
</script>
<noscript>
<img height="1" width="1" 
src="https://www.facebook.com/tr?id=637804786589286&ev=PageView
&noscript=1"/>
</noscript>
<!-- End Facebook Pixel Code -->


</head>

	<body>

	{template header}

	<div class="home">

			<div class="spec-5"></div>

			<!--list-->

			<div class="list" style="margin-top:50px;">

				<div class="nav_list">

					<ul id="recovery-box">

						{loop $type_list $t}

						<li onclick="add_on(this,{$t['id']});">

							{$t['name']}

						</li>

						{/loop}

					</ul>

				</div>

				<div class="brand_list selnav">

					<ul id="menu-box">

					

					</ul>

				</div>

				<div class="prodlist sellist">

					<ul id="index-box">

						<!-- <li>

							<a href="user_device.html">

								<img src="{SITE_THEME}img/listpic1.jpg"/>

								<div class="prodname">honor</div>

								<div class="tips">Highest Price</div>

								<div class="price">$ 1500</div>

							</a>

						</li> -->

					

					</ul>

					 <!--<a href="javascript:;" onclick="location_href();" class="index-box-more">More</a> -->

				</div>

			</div>

			{template footer}

			<input type="hidden" id="recovery_type_id" value="">

			<input type="hidden" id="recovery_parent_id" value="">

			<input type="hidden" id="page" value="">

		</div>

	</body>

</html>

<script>

    var lay ;

    function add_on(a,id){

        $('#recovery_parent_id').val('');

        lay = layer.open({type:3,icon:1});

        $('.add_onn').removeClass('on');

        $.ajax({

            url: "index.php?c=ajax_formflowerhua&a=ajax_get_typelist",

            type: "post",

            data: {

                id : id,

            },

            dataType: 'json',

            success: function (data) {

                $('#recovery_type_id').val(id);

                var str ='<li>\n' +

                    '    <span></span>\n' +

                    '    <a href="javascript:;" class="selection_brands" onclick="selection_brands(this,\'hits\');">\n' +

                    '        <img src="{SITE_THEME}img/icon7.png">\n' +

                    '    </a>\n' +

                    '</li>';

                if(data.code==1){

                    for (var i = 0; i < data.result.length ; i++){

                        str += '<li>\n' +

                            '\t\t\t\t\t\t\t<span></span>\n' +

                            '\t\t\t\t\t\t\t<a href="javascript:;" class="selection_brands" onclick="selection_brands(this,'+data.result[i].id+');">\n' +

                            '\t\t\t\t\t\t\t\t<img  src="' + data.result[i].pic + '">\n' +

                            '\n' +

                            '\t\t\t\t\t\t\t</a>\n' +

                            '\t\t\t\t\t\t</li>';

                    }

                    $('#menu-box').html('');

                    $('#menu-box').append(str);

                }

                $(a).siblings('li').removeClass('on');

                $(a).addClass('on');

                $('#page').val(0);

                $('#index-box').html('');

                $('#menu-box li a').eq(0).trigger('click');

            }

        });

    }

    function selection_brands(a,id){

        $('.selection_brands').css('border-bottom','3px solid #e5e5e5');

        $(a).css('border-bottom','3px solid #ffcc00');

        lay = layer.open({type:3,icon:1})

        $('#recovery_parent_id').val(id);

        $('#page').val(0);

        $('#index-box').html('');

        ajax_index();

	}

    function ajax_index(){

        var page = $('#page').val();

        var recovery_type_id = $('#recovery_type_id').val();

        var recovery_parent_id = $('#recovery_parent_id').val();

        $.ajax({

            url: "index.php?c=ajax_formflowerhua&a=ajax_index",

            type: "post",

            data: {

                page:page,

                recovery_type_id : recovery_type_id,

                recovery_parent_id : recovery_parent_id,

            },

            dataType: 'json',

            success: function (data) {

                layer.close(lay);

                var str = '';

                if(data.code==1){

                    if(data.result.length<8){

                        $('.index-box-more').hide();

                    }else{

                        $('.index-box-more').show();

                    }

                    for (var i = 0; i < data.result.length ; i++) {

                        str += '<li>\n' +

                            '\t\t\t\t\t\t\t<a href="index.php?c=flowerhua&a=recovery_detail&recovery_id='+data.result[i].id+'">\n' +

                            '\t\t\t\t\t\t\t\t<img src="' + data.result[i].recovery_img + '"/>\n' +

                            '\t\t\t\t\t\t\t\t<div class="prodname">'+data.result[i].recovery_title+'</div>\n' +

                            '\t\t\t\t\t\t\t\t<div class="tips">Highest Price</div>\n' +

                            '\t\t\t\t\t\t\t\t<div class="price">$'+data.result[i].recovery_high_price+'</div>\n' +

                            '\t\t\t\t\t\t\t</a>\n' +

                            '\t\t\t\t\t\t</li>';

                    }

                    $('#index-box').append(str);

                    page++;

                    $('#page').val(page);

                }else{

                    $('.index-box-more').hide();

//                    $('#index-box').append('<p align="center" style="padding:20px;font-size:14px;">No data has been found for the time being!</p>');

                }

            }

        });

    }



</script>

<script>

	var swiper = new Swiper('.swiper-container',{

			autoplay:{

			   disableOnInteraction: false,

			},

			loop:true,

			disableOnInteraction:false,

			pagination: {

			    el: '.swiper-pagination',

			    clickable:true

			}

		});

	



</script>

{if count($type_list)>0}

<script>

    $(function(){

        $('#recovery-box li').eq(0).trigger('click');

    });

</script>

{/if}

<script>

        function location_href(){

            location.href="index.php?c=flowerhua&a=recovery_list&recovery_type_id="+$('#recovery_type_id').val()+'&recovery_parent_id='+$('#recovery_parent_id').val();

        }

		var mySwiper = new Swiper('.swiper-container-2', {

			//autoplay: 2000,//可选选项，自动滑动

			prevButton: '.apprise-btn-pre',

			nextButton: '.apprise-btn-next',

			width: 300,

			slidesPerView: 4

		});



		$('.appraise .swiper-button-prev').click(function() {

			mySwiper.swipePrev();

		});



		$('.appraise .swiper-button-next').click(function() {

			mySwiper.swipeNext();

		});

		var mySwiper1 = new Swiper('.swiper-container-3', {

			autoplay: 2000,//可选选项，自动滑动

//			prevButton: '.apprise-btn-pre',

//			nextButton: '.apprise-btn-next',

			width: 200,

			slidesPerView: 2

		});



		$('.ahs-media-content .swiper-button-prev').click(function() {

			mySwiper1.swipePrev();

		});



		$('.ahs-media-content .swiper-button-next').click(function() {

			mySwiper1.swipeNext();

		});

	</script>

   <script>

   

    $('input').keyup(function(){

        var str = $(this).val();

            $.ajax({

                type:'post',

                dataType:'json',

                url: "index.php?c=index&a=search",

                data:{str:str},

                success:function(data){

                   var list = data.list;

                   if(list.length>0){

                     $('.ser').css('display','block');

                   }

                   var content='';

                   for (var i = 0; i < list.length; i++){

                       content+=' <li>'+list[i].recovery_title+'<input type="hidden" value="'+list[i]['id']+'"></li>';

                    } 

                   $('.ser ul').html(content); 

                }

            })

       

    })



    $('input').focus(function(){

         // var str = $(this).val();

         //    $.ajax({

         //        type:'post',

         //        dataType:'json',

         //        url: "index.php?c=index&a=search",

         //        data:{str:str},

         //        success:function(data){

         //           var list = data.list;

         //           if(list.length>0){

                     $('.ser').css('display','block');

            //        }

            //        var content='';

            //        for (var i = 0; i < list.length; i++){

            //            content+=' <li>'+list[i].recovery_title+'<input type="hidden" value="'+list[i]['id']+'"></li>';

            //         } 

            //        $('.ser ul').html(content); 

            //     }

            // })

    })

/*

  $('input').blur(function(){

        $('.ser').hide();

    })

*/

    $('.ser').on('click','li',function(){

        var id = $(this).find('input').val();

        var content = $(this).text();

        $('.search input').val(content);

        $('.ser').hide();

         location.href="./index.php?c=flowerhua&a=recovery_detail"+'&recovery_id='+id

    })



    $('body:not(".ser")').click(function(e){

        $('.ser').hide()

    });

        

   

/*

   $('.search img').click(function(){

        var id = $(this).next().val();

        $(this).next().val('');

        location.href="./index.php?c=flowerhua&a=recovery_detail"+'&recovery_id='+id

    })*/

  

</script> 

