<!DOCTYPE html>

<html class="select_bg">

	<head>

		<meta charset="utf-8" />

		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />

		<title>Whizmo info pack</title>

		<script type="text/javascript" src="js/rem.js"></script>

		<link rel="stylesheet" href="css/swiper.min.css" />

        <link rel="stylesheet" href="css/style.css"/>

        <script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>

        <script type="text/javascript" src="js/swiper.min.js" ></script>

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-M3TQD6R');</script>
<!-- End Google Tag Manager -->

<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window,document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '637804786589286'); 
fbq('track', 'PageView');
</script>
<noscript>
<img height="1" width="1" 
src="https://www.facebook.com/tr?id=637804786589286&ev=PageView
&noscript=1"/>
</noscript>
<!-- End Facebook Pixel Code -->

</head>

	<body class="select_bg">

		<div class="select_model">

			<div class="head">

				<div class="label_search">

					<div class="more">

						<span></span>

						<span></span>

						<span></span>

					</div>

					<label><input type="text" placeholder="Search for your device"/></label>

				</div>

			</div>

			

			<!--list-->

			<div class="list">

				<div class="nav_list">

					<ul>

						<li class="on">Mobile Phone</li>

						<li>Laptop</li>

						<li>Digital Photography</li>

					</ul>

				</div>

			</div>

			<div class="cate_content">

					<div class="cateLeft">

						<ul>

							<li class="on">Hot</li>

							<li>Apple</li>

							<li>SAMSUNG</li>

							<li>OPPO</li>

							<li>vivo</li>

							<li>Nokia</li>

						</ul>

					</div>

					<div class="cateRight">

						<ul>

							<li>

								<a href="javascript:;">

									<p><span>1</span>iPhone 5s</p>

								</a>

							</li>

							<li>

								<a href="javascript:;">

									<p><span>2</span>iPhone 8 plus</p>

								</a>

							</li>

							<li>

								<a href="javascript:;">

									<p><span>3</span>iPhone 7 s</p>

								</a>

							</li>

							<li>

								<a href="javascript:;">

									<p><span>4</span>iPhone 6 plus</p>

								</a>

							</li>

							<li>

								<a href="javascript:;">

									<p><span>5</span>Template iPhone X</p>

								</a>

							</li>

							<li>

								<a href="javascript:;">

									<p><span>6</span>Test Apple model</p>

								</a>

							</li>

							<li>

								<a href="javascript:;">

									<p><span>7</span>Apple iPhone X</p>

								</a>

							</li>

						</ul>

					</div>

				</div>

			<!--list end-->

		</div>

	</body>

</html>

<script>

	window.onload = function(){

		//自动设置.navList的宽度

		var ulwidth = 10;

		$('.list .nav_list ul li').each(function(){

			var width = $(this).outerWidth(true);

			ulwidth +=width;

		});

		$('.list .nav_list ul').width(ulwidth);

		

		//.navList li切换

		$('.list .nav_list ul li').on('click',function(){

			$(this).addClass('on').siblings().removeClass('on');

		});

		

		$('.select_model .cateLeft ul li').on('click',function(){

			$(this).addClass('on').siblings().removeClass('on');

		})

	}

</script>

