<!DOCTYPE html>

<html>

	<head>

		<meta charset="utf-8" />

		<title>Become Our Partner</title>

		<link rel="stylesheet" href="{SITE_THEME}css/style.css" />

		<link rel="stylesheet" href="{SITE_THEME}css/swiper.css" />

		<script type="text/javascript" src="{SITE_THEME}js/jquery.js"></script>

		<script type="text/javascript" src="{SITE_THEME}js/jquery.bxslider.min.js"></script>

		<script type="text/javascript" src="{SITE_THEME}js/swiper.js"></script>

		<script type="text/javascript" src="{SITE_THEME}js/layer/layer.js"></script>

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-M3TQD6R');</script>
<!-- End Google Tag Manager -->

<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window,document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '637804786589286'); 
fbq('track', 'PageView');
</script>
<noscript>
<img height="1" width="1" 
src="https://www.facebook.com/tr?id=637804786589286&ev=PageView
&noscript=1"/>
</noscript>
<!-- End Facebook Pixel Code -->

</head>

	<body>

		<div class="header">

			<div class="container">

				<a href="index.php" class="logo">

					<img src="{SITE_THEME}img/logo.png">

				</a>

				<div class="search">

					<img src="{SITE_THEME}img/icon1.png">

					<input type="text" placeholder="Search your device to sell">

				</div>

				<div class="navbar">

					<ul>

						<li>

							<a href="member/login.html">

								SIGN IN

								

							</a>

						</li>

						<li>

							<a href="javascript:;">ABOUT US</a>

						</li>

						<li  class="on">

							<a href="help.html">HOW IT WORKS</a>

						</li>

					</ul>

				</div>



			</div>



		</div>

		

		<div class="recircle_detail">

			<div class="container">

				<div class="help_left">

					<ul>

						<ul>

						<li>

							<div class="lit">

								<img src="{SITE_THEME}img/icon70.png"><span>Help</span><em><img src="{SITE_THEME}img/icon73.png"></em>

								

							</div>

							<div class="aa">

								<a href="javascript:;">About Whizmo Trade-In</a>

								<a href="javascript:;">Privacy Policy</a>

							</div>

							

						</li>

						<li>

							<div class="lit">

								<img src="{SITE_THEME}img/icon71.png"><span>Partnership</span><em><img src="{SITE_THEME}img/icon73.png"></em>

								

							</div>

							<div class="aa">

							<a href="{url('recycler/register')}">Become Our Partner</a>

							<a href="{url('recycler/partner_login')}">Partner Login</a>

							</div>

						</li>

						<li>

							<div class="lit">

								<img src="{SITE_THEME}img/icon72.png"><span>About us</span><em><img src="{SITE_THEME}img/icon73.png"></em>

								

							</div>

							<div class="aa">

								<a href="javascript:;">About Whizmo Trade-In</a>

								<a href="javascript:;">Terms of Use</a>

								<a href="javascript:;">Privacy Policy</a>

								<a href="javascript:;">Career</a>

								<a href="javascript:;">Contact Us</a>

							</div>

							

						</li>

					</ul>

					</ul>

				</div>

				<div class="apply">

					<div class="banner">

						<img src="{SITE_THEME}img/banner3.png">

					</div>

					<div class="title">

						<h3><span>Platform Aim</span></h3>

						<h4>

							<span>FAIR</span>

							<span>JUSTICE</span>

							<span>PUBLIC</span>

						</h4>

						<p>For customers to build a safe and stable resources channels</p>

					</div>

					<div class="apply_in">

						<h3>Become Our Partner<span></span></h3>

						<input type="text" placeholder="Company Name" class="company_name">

						<input type="text" placeholder="UED / Entity ID (optional)" class="ued">

						<input type="text" placeholder="Company Address" class="address">

						<input type="text" placeholder="Primary Contact Person" class="person">

						<input type="text" placeholder="Primary Mobile Number" class="phone">

						<div class="clear">

							<input type="submit" value="Join" onclick="register()">

							<span>*We will contact you to complete the regstration shortly.</span>

						</div>

						

					</div>

				</div>

				

			</div>

		</div>

	{template footer}

	</body>

	<script>

		var mySwiper = new Swiper('.swiper-container-2', {

			//autoplay: 2000,//可选选项，自动滑动

			prevButton: '.apprise-btn-pre',

			nextButton: '.apprise-btn-next',

			width: 300,

			slidesPerView: 4

		});



		$('.appraise .swiper-button-prev').click(function() {

			mySwiper.swipePrev();

		})



		$('.appraise .swiper-button-next').click(function() {

			mySwiper.swipeNext();

		})

		var mySwiper1 = new Swiper('.swiper-container-3', {

			autoplay: 2000,//可选选项，自动滑动

//			prevButton: '.apprise-btn-pre',

//			nextButton: '.apprise-btn-next',

			width: 200,

			slidesPerView: 2

		});



		$('.ahs-media-content .swiper-button-prev').click(function() {

			mySwiper1.swipePrev();

		})



		$('.ahs-media-content .swiper-button-next').click(function() {

			mySwiper1.swipeNext();

		})

	</script>

<script type="text/javascript">

	function register(){

		var company_name = $('.company_name').val();

		var ued = $('.ued').val();

		var address = $('.address').val();

		var person = $('.person').val();

		var phone = $('.phone').val();

		if(company_name==''){

			layer.msg('Please fill in the name of the company',{icon:0});

			return false;

		}

		if(address==''){

			layer.msg('Please fill in the company address',{icon:0});

			return false;

		}

		if(person==''){

			layer.msg('Please fill in the main contact',{icon:0});

			return false;

		}

		var preg = /^[89][0-9]{7,}$/;

		if(!preg.test(phone)){

			layer.msg('Please fill in the correct phone number',{icon:0});

			return false;

		}

		$.ajax({

			type:'post',

			dataType:'json',

			url:"./index.php?c=recycler&a=register",

			data:{company_name:company_name,ued:ued,address:address,person:person,phone:phone},

			success:function(data){

				if(data.code==2){

					layer.msg(data.info,{icon:0})

				}

				if(data.code==1){

					layer.msg(data.info,{end:function(){

						location.reload();

					}})

				}

			}

		})

	}	

</script>



</html>