<!DOCTYPE html>

<html>



	<head>

		<meta charset="utf-8" />

		<title></title>

		<link rel="stylesheet" href="{SITE_THEME}css/style.css" />

		<link rel="stylesheet" href="{SITE_THEME}css/swiper.css" />

		<script type="text/javascript" src="{SITE_THEME}js/jquery.js"></script>

		<script type="text/javascript" src="{SITE_THEME}js/jquery.bxslider.min.js"></script>

		<script type="text/javascript" src="{SITE_THEME}js/swiper.js"></script>

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-M3TQD6R');</script>
<!-- End Google Tag Manager -->

<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window,document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '637804786589286'); 
fbq('track', 'PageView');
</script>
<noscript>
<img height="1" width="1" 
src="https://www.facebook.com/tr?id=637804786589286&ev=PageView
&noscript=1"/>
</noscript>
<!-- End Facebook Pixel Code -->

</head>



	<body>

		<div class="header">

			<div class="container">

				<a href="index.php" class="logo">

					<img src="{SITE_THEME}img/logo.png">

				</a>

				<div class="process1">

					<div class="col on">

						<b>1</b>Device Appraisal

					</div>

					<div class="col">

						<b>2</b>Instant Quote

					</div>

					<div class="col">

						<b>3</b>Free Pickup

					</div>

				</div>

			</div>



		</div>

		<div class="recircle_detail">

			<div class="container">

				<div class="releft">

					<div class="pro">

						<img src="{SITE_THEME}img/pic1.png">

						<p>IPhone6</p>

						<div class="clear">

							<div class="col">

								<h3>250</h3>

								<h4>Devices Sold</h4>

							</div>

							<div class="col">

								<h3>$2500</h3>

								<h4>Highest Price</h4>

							</div>

						</div>

						<a href="index.php">Reselect Model ></a>



					</div>

					<div class="guide">

						<div class="gt">Important Guidelines</div>

						<div class="p">1、Shanzhai, high copy machine not recycling</div>

						<div class="p">2、Screen lock unanswered, up to account cancellation without recycling</div>

					</div>

				</div>

				<div class="reright">

					<form action="instant_quote.html">

					<div class="sele">

						<div class="st">

							Basic Information

						</div>

						<div class="seli op">

							<div class="lit">

								<label>General</label>

								<span>

									<font></font>

									<em>Modify</em>

								</span>

							</div>

							<div class="selibox">

								<span>

									<b>Activated but not used</b>

								</span>

								<span>

									<b>Already used</b>

								</span>

								<div class="clear"></div>

							</div>

						</div>

						<div class="seli">

							<div class="lit">

								<label>Storage</label>

								<span>

									<font></font>

									<em>Modify</em>

								</span>

							</div>

							<div class="selibox">

								<span>

									<b>32G</b>

									

								

								</span>

								<span>

									<b>64G</b>

									

									

								</span>

								<div class="clear"></div>

							</div>

						</div>

						<div class="seli">

							<div class="lit">

								<label>Color</label>

								<span>

									<font></font>

									<em>Modify</em>

								</span>

							</div>

							<div class="selibox">

								<span>

									<b>black</b>

									

									

								

								</span>

								<span>

									<b>yellow</b>

									

									

								</span>

								<div class="clear"></div>

							</div>

						</div>

						</div>

						<div class="sele">

					

						<div class="st">

							Condition

						</div>

						<div class="seli">

							<div class="lit">

								<label>Housing and Panel</label>

								<span>

									<font></font>

									<em>Modify</em>

								</span>

							</div>

							<div class="selibox">

								<span>

									<b>Scratches</b><img src="{SITE_THEME}img/icon34.png"  src1="{SITE_THEME}img/icon35.png" src2="{SITE_THEME}img/icon34.png" class="icon">

									<div class="hover">

										<img src="{SITE_THEME}img/pic14.png">

										<div class="posp">

											Up to cannot be lifted by restore factory Settings. When the

											quality inspection in case need to ask you, or affect the pr-

											ice of recycling, please lift up account recycle.

										</div>

									</div>

								

								</span>

								<span>

									<b>Scratches</b><img src="{SITE_THEME}img/icon34.png"  src1="{SITE_THEME}img/icon35.png" src2="{SITE_THEME}img/icon34.png" class="icon">

									<div class="hover">

										<img src="{SITE_THEME}img/pic14.png">

										<div class="posp">

											Up to cannot be lifted by restore factory Settings. When the

											quality inspection in case need to ask you, or affect the pr-

											ice of recycling, please lift up account recycle.

										</div>

									</div>

								</span>

								<div class="clear"></div>

							</div>

						</div>

						<div class="seli">

							<div class="lit">

								<label>Screen Glass</label>

								<span>

									<font></font>

									<em>Modify</em>

								</span>

							</div>

							<div class="selibox">

								<span>

									<b>Intact</b><img src="{SITE_THEME}img/icon34.png"  src1="{SITE_THEME}img/icon35.png" src2="{SITE_THEME}img/icon34.png" class="icon">

									<div class="hover">

										<img src="{SITE_THEME}img/pic14.png">

										<div class="posp">

											Up to cannot be lifted by restore factory Settings. When the

											quality inspection in case need to ask you, or affect the pr-

											ice of recycling, please lift up account recycle.

										</div>

									</div>

								

								</span>

								<span>

									<b>Intact</b><img src="{SITE_THEME}img/icon34.png"  src1="{SITE_THEME}img/icon35.png" src2="{SITE_THEME}img/icon34.png" class="icon">

									<div class="hover">

										<img src="{SITE_THEME}img/pic14.png">

										<div class="posp">

											Up to cannot be lifted by restore factory Settings. When the

											quality inspection in case need to ask you, or affect the pr-

											ice of recycling, please lift up account recycle.

										</div>

									</div>

								</span>

								<div class="clear"></div>

							</div>

						</div>

						<div class="seli">

							<div class="lit">

								<label>Screen Display</label>

								<span>

									<font></font>

									<em>Modify</em>

								</span>

							</div>

							<div class="selibox">

								<span>

									<b>Unable to display</b><img src="{SITE_THEME}img/icon34.png"  src1="{SITE_THEME}img/icon35.png" src2="{SITE_THEME}img/icon34.png" class="icon">

									<div class="hover">

										<img src="{SITE_THEME}img/pic14.png">

										<div class="posp">

											Up to cannot be lifted by restore factory Settings. When the

											quality inspection in case need to ask you, or affect the pr-

											ice of recycling, please lift up account recycle.

										</div>

									</div>

								

								</span>

								<span>

									<b>Unable to display</b><img src="{SITE_THEME}img/icon34.png"  src1="{SITE_THEME}img/icon35.png" src2="{SITE_THEME}img/icon34.png" class="icon">

									<div class="hover">

										<img src="{SITE_THEME}img/pic14.png">

										<div class="posp">

											Up to cannot be lifted by restore factory Settings. When the

											quality inspection in case need to ask you, or affect the pr-

											ice of recycling, please lift up account recycle.

										</div>

									</div>

								</span>

								<div class="clear"></div>

							</div>

						</div>

						<div class="seli">

							<div class="lit">

								<label>Remaining Warranty</label>

								<span>

									<font></font>

									<em>Modify</em>

								</span>

							</div>

							<div class="selibox">

								<span>

									<b>More than one month</b><img src="{SITE_THEME}img/icon34.png"  src1="{SITE_THEME}img/icon35.png" src2="{SITE_THEME}img/icon34.png" class="icon">

									<div class="hover">

										<img src="{SITE_THEME}img/pic14.png">

										<div class="posp">

											Up to cannot be lifted by restore factory Settings. When the

											quality inspection in case need to ask you, or affect the pr-

											ice of recycling, please lift up account recycle.

										</div>

									</div>

								

								</span>

								<span>

									<b>More than one month</b><img src="{SITE_THEME}img/icon34.png"  src1="{SITE_THEME}img/icon35.png" src2="{SITE_THEME}img/icon34.png" class="icon">

									<div class="hover">

										<img src="{SITE_THEME}img/pic14.png">

										<div class="posp">

											Up to cannot be lifted by restore factory Settings. When the

											quality inspection in case need to ask you, or affect the pr-

											ice of recycling, please lift up account recycle.

										</div>

									</div>

								</span>

								<div class="clear"></div>

							</div>

						</div>



						</div>

						<div class="sele issue">

					

						<div class="st">

							Functional Issue(s)

						</div>

						<div class="islist">

							<ul>

								<li>

									<img src="{SITE_THEME}img/icon36.png" src1="{SITE_THEME}img/icon36_on.png" src2="{SITE_THEME}img/icon36.png">

									<p>Battery / Charging Faulty</p>

									<input type="checkbox">

								</li>

								<li>

									<img src="{SITE_THEME}img/icon37.png" src1="{SITE_THEME}img/icon37_on.png" src2="{SITE_THEME}img/icon37.png">

									<p>Touch Screen Faulty</p>

									<input type="checkbox">

								</li>

								<li>

									<img src="{SITE_THEME}img/icon38.png" src1="{SITE_THEME}img/icon38_on.png" src2="{SITE_THEME}img/icon38.png">

									<p>Wifi / GPS / Bluetooth Faulty</p>

									<input type="checkbox">

								</li>

								<li>

									<img src="{SITE_THEME}img/icon39.png" src1="{SITE_THEME}img/icon39_on.png" src2="{SITE_THEME}img/icon39.png">

									<p>Voice Call Not Normal</p>

									<input type="checkbox">

								</li>

								<li>

									<img src="{SITE_THEME}img/icon40.png" src1="{SITE_THEME}img/icon40_on.png" src2="{SITE_THEME}img/icon40.png">

									<p>Fingerprint Sensor Faulty</p>

									<input type="checkbox">

								</li>

								<li>

									<img src="{SITE_THEME}img/icon41.png" src1="{SITE_THEME}img/icon41_on.png" src2="{SITE_THEME}img/icon41.png">

									<p>Front Camera Faulty</p>

									<input type="checkbox">

								</li>

								<li>

									<img src="{SITE_THEME}img/icon42.png" src1="{SITE_THEME}img/icon42_on.png" src2="{SITE_THEME}img/icon42.png">

									<p>Back Camera Faulty</p>

									<input type="checkbox">

								</li>

								<li>

									<img src="{SITE_THEME}img/icon43.png" src1="{SITE_THEME}img/icon43_on.png" src2="{SITE_THEME}img/icon43.png">

									<p>Water Damaged</p>

									<input type="checkbox">

								</li>

								<li>

									<img src="{SITE_THEME}img/icon44.png" src1="{SITE_THEME}img/icon44_on.png" src2="{SITE_THEME}img/icon44.png">

									<p>Power / Home Button Faulty</p>

									<input type="checkbox">

								</li>

								<li>

									<img src="{SITE_THEME}img/icon45.png" src1="{SITE_THEME}img/icon45_on.png" src2="{SITE_THEME}img/icon45.png">

									<p>Compass Not Working</p>

									<input type="checkbox">

								</li>

							</ul>

						</div>



					</div>

						<div class="sele issue">

						<div class="st">

							Accessories Available

						</div>

						<div class="islist">

							<ul>

								<li>

									<img src="{SITE_THEME}img/icon46.png" src1="{SITE_THEME}img/icon46_on.png" src2="{SITE_THEME}img/icon46.png">

									<p>Charger and Cable</p>

									<input type="checkbox">

								</li>

								<li>

									<img src="{SITE_THEME}img/icon47.png" src1="{SITE_THEME}img/icon47_on.png" src2="{SITE_THEME}img/icon47.png">

									<p>Earphones</p>

									<input type="checkbox">

								</li>

								<li>

									<img src="{SITE_THEME}img/icon48.png" src1="{SITE_THEME}img/icon48_on.png" src2="{SITE_THEME}img/icon48.png">

									<p>Original Box</p>

									<input type="checkbox">

								</li>

								<li>

									<img src="{SITE_THEME}img/icon49.png" src1="{SITE_THEME}img/icon49_on.png" src2="{SITE_THEME}img/icon49.png">

									<p>Proof of Purchase</p>

									<input type="checkbox">

								</li>



							</ul>

						</div>



					</div>

					<div class="quote">

						<input type="submit" value="Get Quote" disabled="disabled"  class="btn" >

					</div>

					</form>

				</div>

			</div>

		</div>

		<div class="tan" >

			<div class="tips">

				<img src="{SITE_THEME}img/tips.png">

				<p>Apologies,we are currently unable to accept any non-functioning device.</p>

				<a href="javascript:;" onclick="hide_tan()">OK</a>

			</div>

		</div>

		<script>

			function show_tan(){

				$(".tan").show();

				$("body").addClass("hidden");

			}

			function hide_tan(){

				$(".tan").hide();

				$("body").removeClass("hidden");

			}

			$(".tan").click(function(){

				hide_tan()

			})

		</script>



		{template footer}

	</body>

	<style>.issue{opacity: 0.3;}</style>

	<script>

		var num = 1;

		$(".seli .selibox span").click(function() {

			

			var cl = $(this).parents(".seli").hasClass("op");

			if(cl){

				$(this).parents(".selibox").siblings(".lit").find("span").show();

				var txt = $(this).find("b").text()

				$(this).parents(".selibox").siblings(".lit").find("font").text(txt);

				$(this).parents(".selibox").hide();

				check_lens();

				var tag = $(this).parents(".seli").next("");

				var height = $(this).parents(".seli").outerHeight(true);

				var scrollT = $(window).scrollTop();

				

				if($(tag)[0]){

					$(this).parents(".seli").next(".seli").addClass("op");

					$("body,html").stop(true).animate({"scrollTop": scrollT + height +"px"},500)

				}else{

					

					var box = $(this).parents(".sele").next(".sele").hasClass("issue");

						$("body,html").stop(true).animate({"scrollTop": scrollT + height + 58 +"px"},500)

					

					if(box){

						$(this).parents(".sele").siblings(".issue").css({"opacity":1})

					}

					$(this).parents(".sele").siblings(".sele").find(".seli").eq(0).addClass("op");

				}

				

			}



		})

		$(".seli .lit  em").click(function() {

			$(this).parents("span").hide();

			$(this).parents(".lit").siblings(".selibox").show()

		})

		$(".islist ul li").click(function() {

			var bool = $(this).find("input").prop("checked");

			console.log(bool)

			if(bool) {

				var src1 = $(this).find("img").attr("src1");

				$(this).find("img").attr({

					"src": src1

				});

				$(this).addClass("on")

			} else {

				var src2 = $(this).find("img").attr("src2");

				$(this).find("img").attr({

					"src": src2

				});

				$(this).removeClass("on")

			}

		})

		



		function check_lens() {

			var lens = 0;

			var length = $(".reright .sele .seli").length;

			for(var i = 0; i < $(".reright .sele .seli").length; i++) {

				var txt = $(".reright .sele .seli").eq(i).find("font").html();

				if(txt == null || txt == '' || txt == undefined) {

					

				}else{

					lens++

				}

			}

			if(lens == $(".reright .sele .seli").length) {

				$(".reright .quote input").addClass("active");

				$(".reright .quote input").removeAttr("disabled")

			} else {

				$(".reright .quote input").removeClass("active");

				$(".reright .quote input").attr({

					"disable": "disable"

				})

			}

			



		}

	</script>



</html>