<meta charset="utf-8" />
<title>{$meta_title}</title>
<meta name="keywords" content="{$meta_keywords}" />
<meta name="description" content="{$meta_description}" />
<link rel="stylesheet" href="{SITE_THEME}css/style.css" />
<link rel="stylesheet" href="{SITE_THEME}css/swiper.css" />
<script type="text/javascript" src="{SITE_THEME}js/jquery.js"></script>
<script type="text/javascript" src="{SITE_THEME}js/swiper.js"></script>
<script type="text/javascript" src="{SITE_THEME}js/layer/layer.js"></script>
<script type="text/javascript" src="{SITE_THEME}js/jquery.bxslider.min.js"></script>
<style>
    .layui-layer-btn a{font-size:13px;}
    .layui-layer-btn .layui-layer-btn0{background:#ffcc00;border-color:#ffcc00;color:#000;}
</style>