<!DOCTYPE html>

<html>



	<head>

		<meta charset="utf-8" />

		<title></title>

		<link rel="stylesheet" href="{SITE_THEME}css/style.css" />

		<link rel="stylesheet" href="{SITE_THEME}css/swiper.css" />

		<script type="text/javascript" src="{SITE_THEME}js/jquery.js"></script>

		<script type="text/javascript" src="{SITE_THEME}js/jquery.bxslider.min.js"></script>

		<script type="text/javascript" src="{SITE_THEME}js/swiper.js"></script>

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-M3TQD6R');</script>
<!-- End Google Tag Manager -->

<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window,document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '637804786589286'); 
fbq('track', 'PageView');
</script>
<noscript>
<img height="1" width="1" 
src="https://www.facebook.com/tr?id=637804786589286&ev=PageView
&noscript=1"/>
</noscript>
<!-- End Facebook Pixel Code -->

</head>



	<body>

		<div class="header">

			<div class="container">

				<a href="index.php" class="logo">

					<img src="{SITE_THEME}img/logo.png">

				</a>

				<div class="search">

					<img src="{SITE_THEME}img/icon1.png">

					<input type="text" placeholder="Search your device to sell">

				</div>

				<div class="navbar">

					<ul>

						<li>

							<a href="setting.html">

								<span>

									<img src="{SITE_THEME}img/icon62.png">135****4634

								</span>

								

							</a>

						</li>

						<li>

							<a href="javascript:;">ABOUT US</a>

						</li>

						<li  class="on">

							<a href="javascript:;">HOW IT WORKS</a>

						</li>

					</ul>

				</div>



			</div>



		</div>

		

		<div class="recircle_detail">

			<div class="container">

				<div class="help_left">

					<ul>

						<li>

							<div class="lit">

								<img src="{SITE_THEME}img/icon70.png"><span>Help</span><em><img src="{SITE_THEME}img/icon73.png"></em>

								

							</div>

							<div class="aa">

								<a href="javascript:;">About Whizmo Trade-In</a>

								<a href="javascript:;">Privacy Policy</a>

							</div>

							

						</li>

						<li>

							<div class="lit">

								<img src="{SITE_THEME}img/icon70.png"><span>Partnership</span><em><img src="{SITE_THEME}img/icon73.png"></em>

								

							</div>

							<div class="aa">

								<a href="{url('recycler/register')}">Become Our Partner</a>

								<a href="{url('recycler/partner_login')}">Partner Login</a>

							</div>

							

						</li>

						<li>

							<div class="lit">

								<img src="{SITE_THEME}img/icon70.png"><span>About us</span><em><img src="{SITE_THEME}img/icon73.png"></em>

								

							</div>

							<div class="aa">

								<a href="javascript:;">About Whizmo Trade-In</a>

								<a href="javascript:;" class="on">Terms of Use</a>

								<a href="javascript:;">Privacy Policy</a>

								<a href="javascript:;">Career</a>

								<a href="javascript:;">Contact Us</a>

							</div>

							

						</li>

					</ul>

				</div>

				<div class="help_right">

					<h3>Quality inspection nouns explain</h3>

					<div class="p">

						<p style="font-size: 14px; color: #333333;">	Mobile phones, tablet</p>

					

<br />

						<p style="font-size: 14px; color: #333333;">1. The black machine (hedge machine) :</p>

						<br />

						With IMEI number/serial number on the apple's official website inquiries, show ", I'm sorry, but this is has replaced the product serial number ".Love this kind of machine recovery will not be recycled.

						<br /><br />

						

						<p style="font-size: 14px; color: #333333;">2. Lost mode:</p>

						<br />

						Mobile phone open the opportunity to show the word "mobile phone was lost", you cannot use this activation.Involved in the laws and regulations, love recovery will not be recycled.

						<br />

						

						<p style="font-size: 14px; color: #333333;">3. The officer replacement:</p>

						<br />

						Apple mobile phone in the effective guarantee period, due to quality problem, replacement apple given machine.

						<br /><br />

						<p style="font-size: 14px; color: #333333;">4. Gray have locks:</p>

						

						<br />

						Foreign sales of mobile phone or tablet, can only support a particular operator SIM card.Using domestic SIM card need to use the card pastes, or to modify the main board.

						<br /><br />

						<p style="font-size: 14px; color: #333333;">5.Burn card machine: </p>

						

						<br />

						There is no card slot, can insert SIM card, phone number are written to the mobile phone, you can call directly, also called write machine number (found in the iPhone 4).

						<br /><br />

						<p style="font-size: 14px; color: #333333;">6. Up unable to cancel, account cancellation:</p>

						

						<br />

						Apple mobile phone, it's up to need to log out manually, not by "erase all content and Settings" lifted, activated need account and password.Meizu mobile phones Flyme account, millet millet account, Letv mobile phones LeCloud, hammer the joy of cloud services, all need to manually cancel, fail to remove "restore factory Settings".

						All mobile phones, tablet account, it is recommended that you log out after recycle, when the detection in case need to ask you, and even affect the recycling price.

						<br /><br />

						<p style="font-size: 14px; color: #333333;">7. Aging, through figure, layered:</p>

						

						<br />

						Samsung mobile phone.Under the blue and white screen, with two-tone stripes (hierarchical), or screen gives fully in charge and contact icon (through), collectively known as aging screen.

						<br /><br />

						<p style="font-size: 14px; color: #333333;">8. Splash, bright spot, discharge, confusion:</p>

						<br />

						Spots: pure white screen, the screen color anomaly patches (mostly yellow);

					</div>

				</div>

				

			</div>

		</div>

	{template footer}

	</body>

	<script>

		var mySwiper = new Swiper('.swiper-container-2', {

			//autoplay: 2000,//可选选项，自动滑动

			prevButton: '.apprise-btn-pre',

			nextButton: '.apprise-btn-next',

			width: 300,

			slidesPerView: 4

		});



		$('.appraise .swiper-button-prev').click(function() {

			mySwiper.swipePrev();

		})



		$('.appraise .swiper-button-next').click(function() {

			mySwiper.swipeNext();

		})

		var mySwiper1 = new Swiper('.swiper-container-3', {

			autoplay: 2000,//可选选项，自动滑动

//			prevButton: '.apprise-btn-pre',

//			nextButton: '.apprise-btn-next',

			width: 200,

			slidesPerView: 2

		});



		$('.ahs-media-content .swiper-button-prev').click(function() {

			mySwiper1.swipePrev();

		})



		$('.ahs-media-content .swiper-button-next').click(function() {

			mySwiper1.swipeNext();

		})

	</script>



</html>