<!DOCTYPE html>

<html>

	<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">

		{template head}

<link href="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.15/jquery.bxslider.min.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.15/jquery.bxslider.min.js"></script>

<style>
	.banner.top_slide_wrap .bx-pager.bx-default-pager a {
		background-color: #ddd;
		border-radius: 20px;
		
	}

	.bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:focus, .bx-wrapper .bx-pager.bx-default-pager a:hover {
		background-color: #bbb;
	}
	.bx-wrapper {
		border: none;
		box-shadow: none;
	}

	.banner.top_slide_wrap .bx-pager {
		text-align: right;
		right: 5%;
	}

    .sec1 .tit{
        margin-left: 0;
    }

    .common-appraise .appraise_box {
        padding: 0;
    }

    .apprise-2 div .comment {
        font-size: 20px;
        height: 40px;
        padding-top: 28px;
        color: #0c5892;
    }

    .apprise-2 .comment-1 {
        width: 250px; 
        font-size: 14px; 
        line-height: 20px;
        padding: 10px 0;
    }

    .appraise .swiper-container-2 {
        overflow: hidden;

    }

    .appraise .swiper-container-2 .apprise-2>div {
        height: 258px;
        width: 25%;
        margin: 0 4%;
        cursor: default;
        border-color: #ddd;
    }

    .apprise-1, .apprise-2 {
        width: 1200px !important; 
        height: 258px !important;
    }

    .appraise .swiper-container-2 {
        height: 260px;
    }

    .comment-1 a {
        color: #3b5998;
    }

/*	.apprise-2 {
		width: 375px !important;
		margin-right: 11.6666px;
		margin-left: 11.6666px;
	}*/ 

</style>

<!-- The dots/bullets/indicators 
<style>
#bx-pager {
	display: flex;
	justify-content: center;
}

#bx-pager ul li {

  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0.5rem 0.5rem 0 0.5rem;
  background-color: #bbb;
  border: solid;
  border-color: white;
  border-width: 2px;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, #bx-pager ul li:hover {
  background-color: #FFCC00;
}
</style>-->

    <!-- Facebook Pixel Code -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
<link rel="stylesheet" href="/views/view-whizmo/css/faq.css">

<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window,document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '637804786589286'); 
fbq('track', 'PageView');
</script>
<noscript>
<img height="1" width="1" 
src="https://www.facebook.com/tr?id=637804786589286&ev=PageView
&noscript=1"/>
</noscript>
<!-- End Facebook Pixel Code -->

<!-- Global site tag (gtag.js) - Google AdWords: 797292870 --> <script async src="https://www.googletagmanager.com/gtag/js?id=AW-797292870"></script> <script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'AW-797292870'); </script> 

    <style type="text/css">
        .bau h1 {
            text-align: center;
            margin: 0 0 55px 0;
            color: #555;
        }
    </style>

<link rel="stylesheet" href="views/view-whizmo/vendor/fontawesome/css/all.css">

</head>

	<body>

		{template header}
            
            <!-- modal content -->
            <div data-modal="trigger-1" class="modal">
                <article class="content-wrapper">
                    <button class="close"></button>
                    <header class="modal-header">
                        <h2>Frequently Asked Questions</h2>
                    </header>
                    <div class="content2">
                        <div class="accordion">
                            <div class="accordion-item">
                                <a href="#" class="heading">
                                    <div class="icon"></div>
                                    <div class="title">How can I get a quote for selling my phone?</div>
                                </a>
                        
                                <div class="content" style="margin-left: 20px;">
                                    <p>
                                        &nbsp;&nbsp;&nbsp;On REBOX website, you can get an accurate quote on your own in less than a minute.  <br> <br>
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1)	Click the brand icon on the home page and choose the model of your phone; <br>
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2)	Choose the specifications of your phone such as capacity and colour, and select the condition of the phone; <br>
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3)	Click “Get Quote” to receive a quote instantly. <br><br>
                                            &nbsp;&nbsp;&nbsp;* If you can’t find your model on the home page, please click “SELL OTHER PHONES” to see the complete list of models that we are buying back.<br><br>

                                    </p>
                                </div>
                            </div>
                        
                            <div class="accordion-item">
                                <a href="#" class="heading">
                                    <div class="icon"></div>
                                    <div class="title">Do I get paid on the spot?</div>
                                </a>
                        
                                <div class="content" style="margin-left: 20px;">
                                    <p>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; We offer two options to our customers. <br>  <br>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1) Bring your phone to our outlets at Jurong Point or City Square Mall to sell. We will check the phone and pay on the spot; or <br>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2) Submit a sell order on our website to lock in the price and schedule a free pickup. We will check the phone upon same-day delivery 
                                        <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; and make payment within one hour.
                                        <br><br>

                                    </p>
                                </div>
                            </div>
                        
                            
                        
                            <div class="accordion-item">
                                <a href="#" class="heading">
                                    <div class="icon"></div>
                                    <div class="title">What’s the process like if I choose free pickup service?</div>
                                </a>
                        
                                <div class="content" style="margin-left: 20px;">
                                    <p>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1)	Submit a sell order online and opt for free pickup service; <br>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2)	Receive a unique Pickup Number (starting with “RB”) via SMS instantly; <br>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 3)	Show the Pickup Number to the courier during collection. No printing of shipping label is required; <br>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 4)	We will check the phone upon delivery of the phone within 2-4 hours on the same day; <br><br>
                                        
                                        <div style="text-align: center;">
                                            <iframe width="560" height="315" style="text-align:center" src="https://www.youtube.com/embed/GbouzcIF_bk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                        </div>
                                        

                                        <br><br>
                                    </p>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <a href="#" class="heading">
                                    <div class="icon"></div>
                                    <div class="title">Locations</div>
                                </a>
                        
                                <div class="content" style="margin-left: 20px;">
                                    <p>
                                    &nbsp;&nbsp;&nbsp;<h3 style="text-decoration: underline; margin-left: 15px;">Jurong Point Outlet</h3> 
                                    &nbsp;&nbsp;&nbsp;63 Jurong West Central 3, Jurong Point Shopping Centre, Basement 1 (outside Starhub #B1-12), Singapore 648331 <br>
                                    &nbsp;&nbsp;&nbsp;<h3 style="text-decoration: underline; margin-left: 15px;">City Square Mall Outlet </h3>
                                    &nbsp;&nbsp;&nbsp;180 Kitchener Road, City Square Mall, #B1-K17 (beside the taxi stand), Singapore 208539 <br><br>
                                    &nbsp;&nbsp;&nbsp;Mon - Fri: 12:00PM - 21:00PM  <br>
                                    &nbsp;&nbsp;&nbsp;Sat - Sun: 11:30PM - 21:00PM <br>
                                    <br>

                                    </p>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <a href="#" class="heading">
                                    <div class="icon"></div>
                                    <div class="title">Still need more help?</div>
                                </a>
                        
                                <div class="content">
                                    <div class="panel" style="text-align: center;">

                                        <h3 style="text-align: center;"> You may contact us for more details through these channels </h3>
                                        <br><br>
                                        <p style="text-align: center;">
                                          <div class="item">
                                              <a href="https://wa.me/6588362145">
                                                <img src="/views/view-whizmo/img/whatsapp.png"/>
                                                <span class="caption">Whatsapp</span>
                                              </a>
                                          </div>
                                          
                                          <div class="item" id="facebook_button">
                                              <a href="https://fb.me/rebox.com.sg" target="_blank">
                                                <img src="/views/view-whizmo/img/facebook.png"/>
                                                <span class="caption">Facebook</span>
                                              </a>
                                          </div>
         
                                        </p>
                                        <br>
                                        <br>
                                    </div>
        
                                </div>
                            </div>

                        </div>
                        

                    </div>
                    <!-- <footer class="modal-footer">
                    </footer> -->
                </article>
            </div>
            <!-- end of modal -->
            
        
        <!-- youtube video floating icon -->
        <div>
            <!-- <img id="video_pc" src="views/view-whizmo/img/video_pc.png" style ="position:fixed; left: 50px; top: 600px; max-width: 85px; cursor: pointer;z-index:99;"> -->        
            <iframe id = "youtube_pc" width="840" height="472.5" src="https://www.youtube.com/embed/GbouzcIF_bk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen style="display:none;position:fixed; top: 50%;left: 50%; margin-top: -236.25px; margin-left: -420px;; z-index:9999;"></iframe>
            <img id="youtube_pc_close" src="views/view-whizmo/img/youtube_pc_close.png" style = "display: none; position:fixed; right: 28.5%; top: 17%; max-width: 3%; cursor: pointer; z-index:99999;">             
            <button data-modal-trigger="trigger-1" class="trigger" style ="position:fixed; right: 30px; bottom: 20px; max-width: 85px; cursor: pointer;z-index:99;">
                <!-- <i class="fa fa-fire" aria-hidden="true"></i> -->
                <img src="views/mobile/img/question5.png" alt="" class="call-id" style="width: 75px;">              
            </button>
        </div>
        <script type="text/javascript">
            $(document).ready(function () {
                $('#video_pc').click(function () {
                    $('#youtube_pc').attr('src', 'https://www.youtube.com/embed/GbouzcIF_bk');
                    $('#youtube_pc').css('display', 'block');
                    $('#youtube_pc_close').css('display', 'block');
                });
                $('#youtube_pc_close').click(function () {
                    $('#youtube_pc').attr('src', '');
                    $('#youtube_pc').css('display', 'none');
                    $('#youtube_pc_close').css('display', 'none');
                });


            });
        </script>

        <!-- youtube video floating icon ends -->

		<div class="banner top_slide_wrap">
			<ul class="bxslider">
                {loop $banner_list $item}
				<li>
					<a href="{$item['link']}" target="_blank"><img src="{$item['guanggaotutupian']}" alt="banner"></a>
				</li>
                {/loop}
			</ul>
		</div>

        <div class="bau">
            <h1>-  Selling your used phones online is <font style="color:#026db3;">Business As Usual</font>  -</h1>
        </div>



			<!--banner-->

			<!--<div class="swiper-container" id="swiper1">-->

				<!--<div class="swiper-wrapper">-->

					<!--{loop $banner_list $item}-->

					<!--<div class="swiper-slide">-->

						<!--<a href="{$item['link']}" target="_blank"><img src="{$item['guanggaotutupian']}" alt="banner"></a>-->

					<!--</div>-->

					<!--{/loop}-->

				<!--</div>-->

			<!--</div>-->

			<!--banner end-->


			<script type="text/javascript">

				
				$('docuement').ready(function() {

					$(".banner .bxslider").bxSlider({

                        pause:10000,

						auto: true,

                        pager: true,

                        controls: false,

                        autoControls: false,

                    });

				});

			</script>

			<!--<div class="layui-carousel" id="test10">-->

				<!--<div carousel-item="">-->

					<!--{loop $banner_list $item}-->

					<!--<div><img style="height:280px;width:100%;" src="{$item['guanggaotutupian']}"></div>-->

					<!--{/loop}-->

					<!--&lt;!&ndash;<div><img src="//res.layui.com/images/layui/demo/2.png"></div>&ndash;&gt;-->

					<!--&lt;!&ndash;<div><img src="//res.layui.com/images/layui/demo/3.png"></div>&ndash;&gt;-->

					<!--&lt;!&ndash;<div><img src="//res.layui.com/images/layui/demo/4.png"></div>&ndash;&gt;-->

					<!--&lt;!&ndash;<div><img src="//res.layui.com/images/layui/demo/5.png"></div>&ndash;&gt;-->

					<!--&lt;!&ndash;<div><img src="//res.layui.com/images/layui/demo/6.png"></div>&ndash;&gt;-->

					<!--&lt;!&ndash;<div><img src="//res.layui.com/images/layui/demo/7.png"></div>&ndash;&gt;-->

				<!--</div>-->

			<!--</div>-->



			<!--<script type="text/javascript">-->

                <!--layui.use('carousel', function(){-->

                    <!--var carousel = layui.carousel;-->

                    <!--//图片轮播-->

                    <!--carousel.render({-->

                        <!--elem: '#test10'-->

                        <!--,width: '100%'-->

                        <!--,interval: 5000-->

                    <!--});-->

                <!--});-->



			<!--</script>-->

		

		<div class="process container">

			<ul class="">

                <li>
                    <a href="http://rebox.com.sg/mobile_recircle/index.php?c=flowerhua&a=detail_and_help&category_id=194">
                    <img src="{$recovery_step['recovery_step_thumb1']}"><a/>

                    <p>{$recovery_step['recovery_step_title1']}</p>

                </li>

				<li>
					<a href="http://rebox.com.sg/mobile_recircle/index.php?c=flowerhua&a=detail_and_help&category_id=194">
					<img src="{$recovery_step['recovery_step_thumb2']}"><a/>

					<p>{$recovery_step['recovery_step_title2']}</p>

				</li>

				<li>
					<a href="http://rebox.com.sg/mobile_recircle/index.php?c=flowerhua&a=detail_and_help&category_id=194">
					<img src="{$recovery_step['recovery_step_thumb3']}"><a/>

					<p>{$recovery_step['recovery_step_title3']}</p>

				</li>

				<li>
					<a href="http://rebox.com.sg/mobile_recircle/index.php?c=flowerhua&a=detail_and_help&category_id=194">
					<img src="{$recovery_step['recovery_step_thumb4']}"><a/>

					<p>{$recovery_step['recovery_step_title4']}</p>

				</li>

			</ul>

		</div>

		<div class="prolist ">

			<div class="container">

                <h3 class="tit" style="margin-bottom: 30px;">
                    <font color="#000000">Popular Models</font>
                    <a href="javascript:;" onclick="location_href();" target="_blank" style="font-size: 20px; font-weight: 700; color:#ff6b02; float: right; text-align: center; line-height: 30px;">See Full List of Models</a>
                    <span></span>
                </h3>

				<div class="pronav">

					<ul id="recovery-box">

						{loop $type_list $t}

                        

						<li onclick="add_on(this,{$t['id']});">

							<a href="javascript:;">{$t['name']}</a>

						</li>

                  

						{/loop}

					</ul>

				</div>

                <script>

                    var lay ;

                    function add_on(a,id){

                        $('#recovery_parent_id').val('');

                        lay = layer.open({type:3,icon:1});

                        $('.add_onn').removeClass('on');

                        $.ajax({

                            url: "index.php?c=ajax_formflowerhua&a=ajax_get_typelist",

                            type: "post",

                            data: {

                                id : id,

                            },

                            dataType: 'json',

                            success: function (data) {

                                $('#recovery_type_id').val(id);

                                var str ='<li>\n' +

                                    '    <span></span>\n' +

                                    '    <a href="javascript:;" class="selection_brands" onclick="selection_brands(this,\'hits\');">\n' +

                                    '        <img src="{SITE_THEME}img/icon7.png">\n' +

                                    '    </a>\n' +

                                    '</li>';

                                if(data.code==1){

                                    for (var i = 0; i < data.result.length ; i++){

                                        // hide huawei brand starts
                                        // if (data.result[i].id != 54 && data.result[i].id != 79) {

                                        str += '<li>\n' +

                                            '\t\t\t\t\t\t\t<span></span>\n' +

                                            '\t\t\t\t\t\t\t<a href="javascript:;" class="selection_brands" onclick="selection_brands(this,'+data.result[i].id+');">\n' +

                                            '\t\t\t\t\t\t\t\t<img  src="' + data.result[i].pic + '">\n' +

                                            '\n' +

                                            '\t\t\t\t\t\t\t</a>\n' +

                                            '\t\t\t\t\t\t</li>';

                                        // }
                                        //hide huawei ends

                                    }

                                    // str +='<li>\n' +

                                    //     '    <span></span>\n' +

                                    //     '    <a href="index.php?c=flowerhua&a=recovery_list" class="selection_brands">\n' +

                                    //     '        MORE>>\n' +

                                    //     '    </a>\n' +

                                    //     '</li>';

                                    $('#menu-box').html('');

                                    $('#menu-box').append(str);

                                }

                                $(a).siblings('li').removeClass('on');

                                $(a).addClass('on');

                                $('#page').val(0);

                                $('#index-box').html('');

                                $('#menu-box li a').eq(0).trigger('click');

                            }

                        });

                    }

                    function selection_brands(a,id){

                        $('.selection_brands').css('border-bottom','3px solid #e5e5e5');

                        $(a).css('border-bottom','3px solid #ffcc00');

                        lay = layer.open({type:3,icon:1})

                        $('#recovery_parent_id').val(id);

                        $('#page').val(0);

                        $('#index-box').html('');

                        ajax_index();

					}

                    function ajax_index(){

                        var page = $('#page').val();

                        var recovery_type_id = $('#recovery_type_id').val();

                        var recovery_parent_id = $('#recovery_parent_id').val();

                        $.ajax({

                            url: "index.php?c=ajax_formflowerhua&a=ajax_index",

                            type: "post",

                            data: {

                                index:1,

                                page:page,

                                recovery_type_id : recovery_type_id,

                                recovery_parent_id : recovery_parent_id,

                            },

                            dataType: 'json',

                            success: function (data) {

                                layer.close(lay);

                                var str = '';

                                if(data.code==1){

                                    if(data.result.length<8){

                                        $('.index-box-more').hide();

                                    }else{

                                        $('.index-box-more').show();

                                    }

                                    for (var i = 0; i < data.result.length ; i++) {

                                        if (data.result[i].show_hide == true) {

                                                str += '<li>\n' +

                                                    '\t\t\t\t\t\t\t<a href="index.php?c=flowerhua&a=recovery_detail&recovery_id='+data.result[i].id+'">\n' +

                                                    '\t\t\t\t\t\t\t\t<img src="' + data.result[i].recovery_img + '" class="hover_test">\n' +

                                                    '\t\t\t\t\t\t\t\t<h3>'+data.result[i].recovery_title+'</h3>\n' +

                                                    '\t\t\t\t\t\t\t\t<p>Buyback Price</p>\n' +

                                                    '\t\t\t\t\t\t\t\t<h2><font size="2", font color="grey"><sup>Up To  </sup></font>$'+data.result[i].recovery_high_price+'</h2>\n' +

        											'<span style="border-radius:4px;display:block;padding:5px;width:50%;color:white;background:#ffcc00;margin:0 auto;">SELL NOW</span>' +

                                                    '\t\t\t\t\t\t\t</a>\n' +

                                                    '\t\t\t\t\t\t</li>';
                                            
                                        }

                                        //for huawei brand, only show p30 pro for used, p30 pro &p30 lite for new ends

                                    }

                                    $('#index-box').append(str);

                                    page++;

                                    $('#page').val(page);

                                }else{

                                    $('.index-box-more').hide();

//                                    $('#index-box').append('<p align="center" style="padding:20px;font-size:14px;">No data has been found for the time being!</p>');

                                }

                            }

                        });

                    }



                </script>

				<!-- <style>

					.hover_test{transition: All 0.8s ease-in-out;}

					.hover_test:hover{transform: rotate(360deg);}

				</style> -->

				<div class="selnav">

					<ul id="menu-box">



					</ul>

					<!--<ul>-->

						<!--<li>-->

							<!--<span></span>-->

							<!--<a href="javascript:;" onclick="">-->

								<!--MORE>>-->

							<!--</a>-->

						<!--</li>-->

					<!--</ul>-->

				</div>

				<div class="sellist" style="margin-bottom: 33px;">

					<ul id="index-box">

					</ul>

				</div>

                <!-- <a href="javascript:;" onclick="location_href();" class="index-box-more" style="color: #ffcc00; font-size: 18px; width: 240px; background-color: transparent; border-style: solid; border-width: 2px; border-color: #ffcc00;"><strong>SELL OTHER PHONES</strong></a> -->

            </div>

            <style>

                .index-box-more{

                    color: #3782ff;

                    display:block;

                    margin: 0 auto;

                    margin-top: 25px;

                    width: 203px;

                    height: 36px;

                    background: #ffcc00;

                    border-radius: 4px;

                    font-size: 14px;

                    color: #333333;

                    text-align: center;

                    line-height: 36px;

                    clear:both;

                }

            </style>

		</div>

		<div class="sec1 common-appraise container">

			<h3 class="tit" style="margin-bottom: 30px;">Testimonials<a href="https://www.facebook.com/pg/rebox.com.sg/reviews/?ref=page_internal" target="_blank" style="font-size: 16px; color: #ffcc00; float: right; text-align: center; line-height: 30px;">Read More</a><span></span></h3>           

			<div class="appraise">

				<div class="appraise_box">

					<div class="swiper-container swiper-container-2 animates-1">

						<div class="swiper-wrapper apprise-1">

                            <div class="swiper-slide apprise-2">

                                <!-- <img class="icon" src="{SITE_THEME}img/icon15.png"> -->
                                <div>

                                    <h4 class="comment">"Deal with Confidence"</h4>

                                    <p class="comment-1">Fantastic service by Rebox. Sold my used mate 10 to them without leaving my house! Fast deal and money was transferred. Legit and deal with confidence. Highly recommended!</p>

                                    <p class="comment-1">WK Y***<br><a href="https://www.facebook.com/WK.YongWK/posts/10156631302860115" target="_blank">via Facebook</a></p>

                                </div>

                                <div>

                                    <h4 class="comment">"Seamless, Convenient"</h4>

                                    <p class="comment-1">. . .the whole process was digital (seamless and definitely convenient). Quoted price was upto market value and can even increase depending completeness / condition of your item.</p>

                                    <p class="comment-1">Whilmer G**<br><a href="https://www.facebook.com/wlsgan/posts/10157367472413836" target="_blank">via Facebook</a></p>

                                </div>

                                <div>

                                    <h4 class="comment">"Fuss Free, Good Price"</h4>

                                    <p class="comment-1">Best decision as it was fuss free, convenient and was able to get a good price on my phone without having to go to multiple phone shops. Would recommend to my friends!</p>

                                    <p class="comment-1">Deborah G**<br><a href="https://www.facebook.com/deborahgll/posts/10156094852217921" target="_blank">via Facebook</a></p>

                                </div>

                            </div>



                            <!-- <div class="reviews">

                                <ul>
                                    <li>  
                                      <h4>"Deal with Confidence"</h4>         
                                      <p>Fantastic service by Rebox. Sold my used mate 10 to them without leaving my house! Fast deal and money was transferred. Legit and deal with confidence. Highly recommended!</p>
                                      <h5>WK Y***<br><a href="https://www.facebook.com/WK.YongWK/posts/10156631302860115" target="_blank">via Facebook</a></h5>
                                    </li>
                                    <li>   
                                      <h4>"Seamless, Convenient"</h4>
                                      <p>. . .the whole process was digital (seamless and definitely convenient). Quoted price was upto market value and can even increase depending completeness / condition of your item.</p>
                                      <h5>Whilmer G**<br><a href="https://www.facebook.com/wlsgan/posts/10157367472413836" target="_blank">via Facebook</a></h5>
                                    </li>
                                    <li> 
                                      <h4>"Fuss Free, Good Price"</h4>              
                                      <p>Best decision as it was fuss free, convenient and was able to get a good price on my phone without having to go to multiple phone shops. Would recommend to my friends!</p>
                                      <h5>Deborah G**<br><a href="https://www.facebook.com/deborahgll/posts/10156094852217921" target="_blank">via Facebook</a></h5>
                                    </li>
                                </ul>
                                
                            </div> -->		

						</div>

					</div>

					<!-- <i class="swiper-button swiper-button-prev hsb-icon-right"></i>

					<i class="swiper-button swiper-button-next hsb-icon-right"></i> -->

				</div>

			</div>

		</div>


<!--Partner section hidden-->

		<!--<div id="section-partners">-->

			<!--<div class="ahs-partners">-->

				<!--<h3 class="tit">Partners<span></span></h3>-->

				<!--<table>-->

					<!--<tbody>-->

						<!--<tr>-->

						<!--{loop $partner1 $y=>$t}-->

							<!--<td {if $y==0 || $y==1} rowspan="3" {/if}>-->

								<!--<a href="{$t['partner_url']}" target="_blank">-->

									<!--<img src="{$t['partner_thumb']}">-->

								<!--</a>-->

							<!--</td>-->

						<!--{/loop}-->

						<!--</tr>-->

						<!--<tr class="bottom-border">-->

						<!--{loop $partner2 $k}-->

							<!--<td>-->

								<!--<a href="{$k['partner_url']}" target="_blank">-->

									<!--<img src="{$k['partner_thumb']}">-->

								<!--</a>-->

							<!--</td>-->

						<!--{/loop}-->

						<!--</tr>-->

						<!--<tr>-->

						<!--{loop $partner3 $n}-->

							<!--<td>-->

								<!--<a href="{$n['partner_url']}" target="_blank">-->

									<!--<img src="{$n['partner_thumb']}">-->

								<!--</a>-->

							<!--</td>-->

						<!--{/loop}-->

						<!--</tr>-->

					<!--</tbody>-->

				<!--</table>-->

			<!--</div>-->

		<!--</div>-->


<!--Blog section hidden-->

		<div id="section-newsmedia">

			<div class="ahs-media">

				<h3 class="tit">{$blog_catname}<span></span></h3>

				<div class="ahs-media-content">

					<div id="media-swiper" class="swiper-container swiper-container-3">

						<div class="swiper-wrapper">

                            {loop $blog_list $item}

							<div class="swiper-slide">

								<div class="media">

									<a href="{$item['lianjie']}" target="_blank" class="news-img" rel="nofollow">

										<img src="{if $item['tupian']}{$item['tupian']}{else}{SITE_THEME}img/pic8.png{/if}">

									</a>

									<div class="media-report">

										<a href="{$item['lianjie']}" target="_blank">

											<span class="title">{$item['title']}</span>

											<span class="sub-title">{$item['description']}...</span>

										</a>

										<a href="{$item['lianjie']}" target="_blank" class="detail-link">Read More</a>

										<i class="icon-sina"></i>

									</div>

								</div>

							</div>

							{/loop}

						</div>

					</div>

					<div class="swiper-buttons">

						<div class="swiper-button-prev swiper-button"></div>

						<div class="swiper-button-next swiper-button"></div>

					</div>

				</div>

			</div>

			<div class="ahs-news">

				<h3 class="tit">{$topics_catname}<a href="https://blog.rebox.com.sg/" target="_blank" style="font-size:16px; color: #ffcc00; float:right; text-align: center; line-height: 30px;">Read More</a><span></span></h3>

				<ul>

                    {loop $topics_list $item}

                    <li>

						<a href="{$item['lianjie']}" target="_blank">

							<i><img src="{if $item['tupian']}{$item['tupian']}{else}{SITE_THEME}img/pic9.png{/if}"></i>

							<span class="news-title">{$item['title']}</span>

							<span class="news-content">{$item['description']}...</span>

						</a>

					</li>

                    {/loop}

				</ul>

			</div>

			<div id="news-video-wrap" class="news-video-wrap">

				<h3 class="tit" style = "margin-bottom: 20px;">How It Works<span></span></h3>

				<a href="{url('flowerhua/detail_and_help',array('category_id'=>189))}" class="zoom" id="video-ahs" data-fancybox-type="iframe">


				<iframe width="482" height="271" src="https://www.youtube.com/embed/GbouzcIF_bk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				

					<!-- <img src="{if $about['image']}{$about['image']}{else}{SITE_THEME}img/pic12.png{/if}"> -->

					<span class="video-info-tile">

                        <!-- <span class="viedeo-info-inner">{$about['catname']}</span> -->

					</span>

				</a>

			</div>

		</div>
		

    {template footer}

        <input type="hidden" id="recovery_type_id" value="">

        <input type="hidden" id="recovery_parent_id" value="">

        <input type="hidden" id="page" value="">

	<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js#xfbml=1&version=v2.12&autoLogAppEvents=1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- Your customer chat code -->


</body>

	<script>

        function location_href(){

            location.href="index.php?c=flowerhua&a=recovery_list&recovery_type_id="+$('#recovery_type_id').val()+'&recovery_parent_id='+$('#recovery_parent_id').val();

        }

		var mySwiper = new Swiper('.swiper-container-2', {

			// autoplay: 10000,//可选选项，自动滑动

			prevButton: '.apprise-btn-pre',

			nextButton: '.apprise-btn-next',

			// width: 300,

			// slidesPerView: 4

			width: 398.333,

			slidesPerView: 3

		});



		$('.appraise .swiper-button-prev').click(function() {

			mySwiper.swipePrev();

		});



		$('.appraise .swiper-button-next').click(function() {

			mySwiper.swipeNext();

		});

		var mySwiper1 = new Swiper('.swiper-container-3', {

			autoplay: 2000,//可选选项，自动滑动

//			prevButton: '.apprise-btn-pre',

//			nextButton: '.apprise-btn-next',

			width: 200,

			slidesPerView: 2

		});



		$('.ahs-media-content .swiper-button-prev').click(function() {

			mySwiper1.swipePrev();

		});



		$('.ahs-media-content .swiper-button-next').click(function() {

			mySwiper1.swipeNext();

		});

	</script>

    {if count($type_list)>0}

    <script>

        $(function(){

            $('#recovery-box li').eq(0).trigger('click');

        });

    </script>

    {/if}

<script src="/views/view-whizmo/js/faq.js"></script>

    

</html>