<!DOCTYPE html>

<html>



	<head>

		<meta charset="utf-8" />

		<title></title>

		<link rel="stylesheet" href="{SITE_THEME}css/style.css" />

		<link rel="stylesheet" href="{SITE_THEME}css/swiper.css" />

		<script type="text/javascript" src="{SITE_THEME}js/jquery.js"></script>

		<script type="text/javascript" src="{SITE_THEME}js/jquery.bxslider.min.js"></script>

		<script type="text/javascript" src="{SITE_THEME}js/swiper.js"></script>

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-M3TQD6R');</script>
<!-- End Google Tag Manager -->

<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window,document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '637804786589286'); 
fbq('track', 'PageView');
</script>
<noscript>
<img height="1" width="1" 
src="https://www.facebook.com/tr?id=637804786589286&ev=PageView
&noscript=1"/>
</noscript>
<!-- End Facebook Pixel Code -->

</head>



	<body>

		<div class="header">

			<div class="container">

				<a href="index.php" class="logo">

					<img src="{SITE_THEME}img/logo.png">

				</a>

				<div class="process1">

					<div class="col">

						<b>1</b>Device Appraisal

					</div>

					<div class="col on">

						<b>2</b>Instant Quote

					</div>

					<div class="col">

						<b>3</b>Free Pickup

					</div>

				</div>

			</div>



		</div>

		

		<div class="quote">

			<div class="container">

				<div class="quote_pro">

					<img src="{SITE_THEME}img/pic1.png">

					<div class="txt">

						<h3>honor</h3>

						<a href="device_appraisal.html">Re-quote></a>

					</div>

					<div class="span" data-hide="hide">

						<div class="spanbox">

						<span>Mainland legal channels (with license tag)</span>

						<span>64G</span>

						<span>Normal boot</span>

						<span>Normal function of the fingerprint</span>

						<span>Photo camera normal</span>

						<span>Calls to normal</span>

						<span>Normal function of the fingerprint</span>

						<span>Photo camera normal</span>

						<span>Calls to normal</span>

						<span>Normal function of the fingerprint</span>

						<span>Photo camera normal</span>

						<span>Calls to normal</span>

						</div>

						<em id="caret"><img src="{SITE_THEME}img/icon50.png"></em>

					</div>

				</div>

				<div class="chat">

					<div class="trend">

						<h3>Price Trend</h3>

						<img src="{SITE_THEME}img/pic15.png">

					</div>

					<div class="txt">

						<h3>$3332<em><img src="{SITE_THEME}img/bg3.png"></em></h3>

						<div class="inp">

							<input type="text" placeholder="Promo Code">

							<input type="submit" value="APPLY">

						</div>

						<p>Price expected to drop <font>$234</font> next month</p>

						<div class="aa">

							<a href="free_pickup1.html">Cash Out Instantly</a>

							<span class="btn">

								<a href="free_pickup1.html" class="border">Auction it for Higher Price</a>

								<img src="{SITE_THEME}img/icon51.png"  onclick="show_intro()">

							</span>

							

							<img src="{SITE_THEME}img/bg4.png" class="posimg">

						</div>

					</div>

				</div>

				<div class="intro" style="display: none;">

					<div class="inli">

						<div class="lit">

							<img src="{SITE_THEME}img/icon52.png">Auction it for Higher Price

							<img src="{SITE_THEME}img/icon53.png" class="caret">

						</div>

						<div class="p">

							Introduction Introduction Introduction Introduction Introduction Introduction Introduction IntroductionIntroduction Introduction Introduction Introduction  IntroductionIntroduction Introduction

							Introduction Introduction Introduction Introduction Introduction Introduction Introduction IntroductionIntroduction Introduction Introduction Introduction  IntroductionIntroduction Introduction

							Introduction Introduction Introduction Introduction Introduction Introduction Introduction IntroductionIntroduction Introduction Introduction Introduction  IntroductionIntroduction Introduction

							Introduction Introduction Introduction Introduction Introduction. 

						</div>

						<!--<div class="agree">

							

								<input type="checkbox" >

							<span>I understand how "Auction it for higher price" works and I understand that by choosing this option 1) there might be one to two working days of delay in receiving payment in order for

 a Non Guaranteed higher price; and 2) I am agreeable to sell the device at the initial quoted price of S$332 if there is no higher price offered.</span>

						</div>-->

					</div>

				</div>

				

				

				

			</div>

		</div>

		

		<script>

//			function turn(){

//				var bool = $(".intro .agree input").prop("checked");

//				if(bool){

//					window.location.href="free_pickup1.html"

//				}

//			}

			function show_intro(){

				

				$(".intro").show();

				$("body").animate({"scrollTop":"300px"})

			}

		</script>

		



		

			

	{template footer}

	</body>

	<script>

		$("#caret").click(function(){

			var display = $(".quote .quote_pro .span").attr("data-hide");

			if(display == "hide"){

				$(".quote .quote_pro .span").css({"max-height":"none"});

				$(".quote .quote_pro .span").attr({"data-hide":"show"});

				$(this).find("img").attr({"src":"img/icon79.png"})

			}else if(display == "show"){

				$(".quote .quote_pro .span").css({"max-height":"94px"});

				$(".quote .quote_pro .span").attr({"data-hide":"hide"});

				$(this).find("img").attr({"src":"img/icon50.png"})

			}

		

			

			

			

		})

	</script>



</html>