<!DOCTYPE html>

<html>

	<head>

		{template head}

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-M3TQD6R');</script>
<!-- End Google Tag Manager -->

<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window,document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '637804786589286'); 
fbq('track', 'PageView');
</script>
<noscript>
<img height="1" width="1" 
src="https://www.facebook.com/tr?id=637804786589286&ev=PageView
&noscript=1"/>
</noscript>
<!-- End Facebook Pixel Code -->

</head>

	<body class="grey">

		<div class="regbox">

			<form action="setting.html">

			<div class="reg">

				<a href="index.php">

					<img src="{SITE_THEME}img/logo.png" class="logo">

				</a>

				<div class="clear">

					<a href="login.html" class="fl on">Sign In</a>

					<a href="register.html" class="fr">Sign Up</a>

				</div>

				<div class="inp oth">

					<label><img src="{SITE_THEME}img/icon77.png"></label>

					<input type="text" placeholder="Mobile No.">

				</div>

				<div class="inp oth">

					<label><img src="{SITE_THEME}img/icon78.png"></label>

					<input type="password" placeholder="Password">

				</div>

				<input type="submit" value="Sign In">

				<div class="agree">

					<input type="checkbox" checked="checked"><span>Keep me logged in</span>

					<a href="javascript:;" class="fr" onclick="show_tan()">Forgot password?</a>

				</div>

			</div>

			</form>

		</div>

		<div class="ban">

			<a href="index.php">Return To Home Page</a><br />

			Copyright © 2012-2015, Whizmo Tech, All Rights Reserved yue ICP for adsense statistics 14063444

		</div>

	<div class="tan">

		<div class="forgot">

			<div class="rtit">

				<span>Forgot Password</span>

				<img src="{SITE_THEME}img/cha.png" onclick="hide_tan()">

			</div>

			<div class="reg">

				

				<div class="inp">

					<input type="text" placeholder="Enter Mobile No.">

					<a href="javascript:;">Send OTP</a>

				</div>

				<input type="text" placeholder="Enter One-Time Passcode">

				<input type="password" placeholder="Create Password">

				<input type="password" placeholder="Repeat Password">

				

				<input type="submit" value="Reset Password" onclick="hide_tan()">

			</div>

		</div>

	</div>

	</body>

	<script>

		function show_tan(){

			$(".tan").show()

		}

		function hide_tan(){

			$(".tan").hide()

		}

	</script>



</html>