<!DOCTYPE html>

<html>

	<head>

		{template head}

        <link href="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.15/jquery.bxslider.min.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.15/jquery.bxslider.min.js"></script>

    	<!-- Facebook Pixel Code -->
        <script>
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
        n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}(window,document,'script',
        'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '637804786589286'); 
        fbq('track', 'PageView');
        </script>
        <noscript>
        <img height="1" width="1" 
        src="https://www.facebook.com/tr?id=637804786589286&ev=PageView
        &noscript=1"/>
        </noscript>
        <!-- End Facebook Pixel Code -->

        <!-- Global site tag (gtag.js) - Google AdWords: 797292870 --> <script async src="https://www.googletagmanager.com/gtag/js?id=AW-797292870"></script> <script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'AW-797292870'); </script> 

        <style>
            .apprise-2 {
                width: 375px !important;
                margin-right: 11.6666px;
                margin-left: 11.6666px;
            } 

        </style>

    </head>

	<body>

		{template header}

        <!-- top banner starts -->

        



        <!-- top banner ends -->  

        <!-- how it works starts-->

        <div class="process container">

            <ul class="">

                <li>
                    <a href="http://rebox.com.sg/mobile_recircle/index.php?c=flowerhua&a=detail_and_help&category_id=194">
                    <img src="{$recovery_step['recovery_step_thumb1']}"><a/>

                    <p>{$recovery_step['recovery_step_title1']}</p>

                </li>

                <li>
                    <a href="http://rebox.com.sg/mobile_recircle/index.php?c=flowerhua&a=detail_and_help&category_id=194">
                    <img src="{$recovery_step['recovery_step_thumb2']}"><a/>

                    <p>{$recovery_step['recovery_step_title2']}</p>

                </li>

                <li>
                    <a href="http://rebox.com.sg/mobile_recircle/index.php?c=flowerhua&a=detail_and_help&category_id=194">
                    <img src="{$recovery_step['recovery_step_thumb3']}"><a/>

                    <p>{$recovery_step['recovery_step_title3']}</p>

                </li>

                <li>
                    <a href="http://rebox.com.sg/mobile_recircle/index.php?c=flowerhua&a=detail_and_help&category_id=194">
                    <img src="{$recovery_step['recovery_step_thumb4']}"><a/>

                    <p>{$recovery_step['recovery_step_title4']}</p>

                </li>

            </ul>

        </div>

        <div>
            <img id="video_pc" src="views/view-whizmo/img/video_pc.png" style = "position:fixed; left: 50px; top: 600px; max-width: 85px; cursor: pointer;z-index:99;">
            <iframe id = "youtube_pc" width="840" height="472.5" src="https://www.youtube.com/embed/GbouzcIF_bk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen style="display:none;position:fixed; top: 50%;left: 50%; margin-top: -236.25px; margin-left: -420px;; z-index:999999999;"></iframe>
            <img id="youtube_pc_close" src="views/view-whizmo/img/youtube_pc_close.png" style = "display: none; position:fixed; left: 48.5%; top: 80%; max-width: 3%; cursor: pointer; z-index:99999;">

        </div>

        <!-- how it works ends -->

        <!-- testimonials starts -->

		<div class="sec1 common-appraise container">

			<h3 class="tit">Testimonials<span></span></h3>

			<div class="appraise">

				<div class="appraise_box">

					<div class="swiper-container swiper-container-2 animates-1">

						<div class="swiper-wrapper apprise-1">

							<br> 

							<!-- embed facebook reviews -->
                            <!-- 5-22 apr -->

                            <iframe class="swiper-slide apprise-2" src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fnatalia.yudith%2Fposts%2F10156988852278955&width=375&show_text=true&appId=262406691047747&height=251" width="375" height="251" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>

                            <iframe class="swiper-slide apprise-2" src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Falexia.ang.5%2Fposts%2F2335709569806607&width=375&show_text=true&appId=262406691047747&height=194" width="375" height="194" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>

                            <iframe class="swiper-slide apprise-2" src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FTian.Xiang.6099%2Fposts%2F10210619768689629&width=375&show_text=true&appId=262406691047747&height=213" width="375" height="213" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>

                            <iframe class="swiper-slide apprise-2" src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fjytfpeace%2Fposts%2F10156604723493172&width=375&show_text=true&appId=262406691047747&height=213" width="375" height="213" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>

                            <iframe class="swiper-slide apprise-2" src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fdoreencxx%2Fposts%2F10155962872158204&width=375&show_text=true&appId=262406691047747&height=232" width="375" height="232" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>

                            <iframe class="swiper-slide apprise-2" src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fjanice.chua.775%2Fposts%2F10217045757869744&width=375&show_text=true&appId=262406691047747&height=213" width="375" height="213" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>

                            <!-- 5-22 apr -->

                            <iframe class="swiper-slide apprise-2" src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FRosiedollah%2Fposts%2F10219003330058593&width=375&show_text=true&appId=262406691047747&height=251" width="375" height="251" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>

                            <iframe class="swiper-slide apprise-2" src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fiason.wu%2Fposts%2F10157164973164515&width=375&show_text=true&appId=262406691047747&height=213" width="375" height="213" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>

                            <iframe class="swiper-slide apprise-2" src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fokaycan.marc%2Fposts%2F10156973316574204&width=375&show_text=true&appId=262406691047747&height=251" width="375" height="251" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>

                            <iframe class="swiper-slide apprise-2" src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Frandallkoh1988%2Fposts%2F1208384422655227&width=375&show_text=true&appId=262406691047747&height=358" width="375" height="358" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>

                            <iframe class="swiper-slide apprise-2" src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fmegan.feng.9%2Fposts%2F1879837072126659&width=375&show_text=true&appId=262406691047747&height=194" width="375" height="194" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>

                            <iframe class="swiper-slide apprise-2" src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Ffurteo%2Fposts%2F10155998326465869&width=375&show_text=true&appId=262406691047747&height=213" width="375" height="213" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
                            


                            <iframe class="swiper-slide apprise-2" src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FDzulhelmiH%2Fposts%2F1643489889086895&width=375&show_text=true&appId=262406691047747&height=213" width="375" height="213" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>

                            <iframe class="swiper-slide apprise-2" src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fcassandra.yong.710%2Fposts%2F459028577961676&width=375&show_text=true&appId=262406691047747&height=270" width="375" height="270" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>

                            <iframe class="swiper-slide apprise-2" src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FAuspicabile%2Fposts%2F10156954060519889&width=375&show_text=true&appId=262406691047747&height=251" width="375" height="251" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>

                            <iframe class="swiper-slide apprise-2" src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fcheung.jianhui%2Fposts%2F2441598719187152&width=375&show_text=true&appId=262406691047747&height=213" width="375" height="213" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>

                            <iframe class="swiper-slide apprise-2" src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fcharles.pauchenghin%2Fposts%2F10215624534345195&width=375&show_text=true&appId=262406691047747&height=242" width="375" height="242" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>

                            <iframe class="swiper-slide apprise-2" src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fdleevhoooft%2Fposts%2F10218200808955367&width=375&show_text=true&appId=262406691047747&height=213" width="375" height="213" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>

                            <iframe class="swiper-slide apprise-2" src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fwlsgan%2Fposts%2F10157367472413836&width=375&show_text=true&appId=262406691047747&height=308" width="375" height="308" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>


                            <iframe class="swiper-slide apprise-2" src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FWK.YongWK%2Fposts%2F10156631302860115&width=375&show_text=true&appId=262406691047747&height=270" width="375" height="270" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>

                            <iframe class="swiper-slide apprise-2" src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fdeborahgll%2Fposts%2F10156094852217921&width=375&show_text=true&appId=262406691047747&height=251" width="375" height="251" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>

                            <iframe class="swiper-slide apprise-2" src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fjasonpohcy%2Fposts%2F10161024783750023&width=375&show_text=true&appId=262406691047747&height=270" width="375" height="270" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>

                            <iframe class="swiper-slide apprise-2" src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Ftan.t.wei.31%2Fposts%2F10215792208930861&width=375&show_text=true&appId=262406691047747&height=213" width="375" height="213" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>                            

                            <iframe class="swiper-slide apprise-2" src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fjeanwen.luvstiggers%2Fposts%2F2018625621538445&width=375&show_text=true&appId=262406691047747&height=194" width="375" height="194" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>

							<iframe class="swiper-slide apprise-2" src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpermalink.php%3Fstory_fbid%3D10156148947645674%26id%3D670875673&width=375&show_text=true&appId=262406691047747&height=441" width="375" height="441" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>

							<iframe class="swiper-slide apprise-2" src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fjling%2Fposts%2F10156319053579681&width=375&show_text=true&appId=262406691047747&height=280" width="375" height="280" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>

							<iframe class="swiper-slide apprise-2" src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Feadric%2Fposts%2F10156676168684509&width=375&show_text=true&appId=262406691047747&height=358" width="375" height="358" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>

							<!-- <iframe class="swiper-slide apprise-2" src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fsjeantay%2Fposts%2F10155954443832198&width=375&show_text=true&appId=262406691047747&height=223" width="375" height="223" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe> -->

							<iframe class="swiper-slide apprise-2" src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fjohn.ho.58%2Fposts%2F10155849355003004&width=375&show_text=true&appId=262406691047747&height=213" width="375" height="213" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>

							<iframe class="swiper-slide apprise-2" src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Flee.hua.507%2Fposts%2F10215246425047338&width=375&show_text=true&appId=262406691047747&height=204" width="375" height="204" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>

							<iframe class="swiper-slide apprise-2" src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fjerold.tan.3%2Fposts%2F1854241028002970&width=375&show_text=true&appId=262406691047747&height=213" width="375" height="213" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>

							<iframe class="swiper-slide apprise-2" src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fbertontan%2Fposts%2F10160878304635486&width=375&show_text=true&appId=262406691047747&height=194" width="375" height="194" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>

							<iframe class="swiper-slide apprise-2" src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Ffirdaus.punky%2Fposts%2F10205093198126821%3A0&width=375&show_text=true&appId=262406691047747&height=414" width="375" height="414" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>

						</div>

					</div>

					<i class="swiper-button swiper-button-prev hsb-icon-right"></i>

					<i class="swiper-button swiper-button-next hsb-icon-right"></i>

				</div>

			</div>

		</div>

        <!-- testimonials ends -->		

        {template footer}

        <input type="hidden" id="recovery_type_id" value="">

        <input type="hidden" id="recovery_parent_id" value="">

        <input type="hidden" id="page" value="">

    	<!-- Load Facebook SDK for JavaScript -->
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js#xfbml=1&version=v2.12&autoLogAppEvents=1';
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

        <!-- Your customer chat code -->
        <div class="fb-customerchat"
          attribution=setup_tool
          page_id="201403270461097"
          theme_color="#ffcc00">
        </div>

    </body>

	<script>

        function location_href(){

            location.href="index.php?c=flowerhua&a=recovery_list&recovery_type_id="+$('#recovery_type_id').val()+'&recovery_parent_id='+$('#recovery_parent_id').val();

        }

	</script>

</html>