<!DOCTYPE html>

<html>



	<head>

		<meta charset="utf-8" />

		<title></title>

		<link rel="stylesheet" href="{SITE_THEME}css/style.css" />

		<link rel="stylesheet" href="{SITE_THEME}css/swiper.css" />

		<script type="text/javascript" src="{SITE_THEME}js/jquery.js"></script>

		<script type="text/javascript" src="{SITE_THEME}js/jquery.bxslider.min.js"></script>

		<script type="text/javascript" src="{SITE_THEME}js/swiper.js"></script>

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-M3TQD6R');</script>
<!-- End Google Tag Manager -->

<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window,document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '637804786589286'); 
fbq('track', 'PageView');
</script>
<noscript>
<img height="1" width="1" 
src="https://www.facebook.com/tr?id=637804786589286&ev=PageView
&noscript=1"/>
</noscript>
<!-- End Facebook Pixel Code -->

</head>



	<body>

		<div class="header">

			<div class="container">

				<a href="index.php" class="logo">

					<img src="{SITE_THEME}img/logo.png">

				</a>

				<div class="search">

					<img src="{SITE_THEME}img/icon1.png">

					<input type="text" placeholder="Search your device to sell">

				</div>

				<div class="navbar">

					<ul>

						<li class="on">

							<a href="member/login.html">SIGN IN</a>

						</li>

						<li>

							<a href="javascript:;">ABOUT US</a>

						</li>

						<li>

							<a href="help.html">HOW IT WORKS</a>

						</li>

					</ul>

				</div>



			</div>



		</div>

		

		<div class="confirm">

			<div class="container">

				<div class="confirm_exp">

					<div class="txt">

						<h3>

							<img src="{SITE_THEME}img/icon55.png">

							<span>Order Confirmed！</span>

							<em>Order number : 2017120812356562356</em>

						</h3>

						<div class="p">

							<label>

								<img src="{SITE_THEME}img/icon56.png">

							</label>

							

							<span>A postage-paid SmartPac envelope will be mailed to you shortly.<br />

Drop off your device (inside smartPac envelope) at any SingPost bulk posting box at the post office or street posting box.<br />

Notify us in Dashboard once you have dropped off the parcel.</span>

						</div>

					</div>

					<a href="my_order.html">Go to Dashboard</a>

				</div>

				

				<div class="process  confirm_process">

					<ul class="">

						<li>

							<img src="{SITE_THEME}img/icon57.png">

							<p>Device Appraisal</p>

						</li>

						<li>

							<img src="{SITE_THEME}img/icon58.png">

							<p>Instant Quote</p>

						</li>

						<li>

							<img src="{SITE_THEME}img/icon59.png">

							<p>Free Pickup</p>

						</li>

						<li>

							<img src="{SITE_THEME}img/icon60.png">

							<p>Speedy Check-up</p>

						</li>

						<li>

							<img src="{SITE_THEME}img/icon61.png">

							<p>Quick Cashout</p>

						</li>

					</ul>

					

				</div>

				

				<div class="teach">

					<h3>Get prepared before dropoff</h3>

					<ul>

						<li>

							<a href="javascript:;">

								<img src="{SITE_THEME}img/pic22.png">

								<div class="txt">

									<p>Pull out the SIM card, the backup of personal data</p>

									<span>（factory data reset）<em>How to backup?</em></span>

								</div>

							</a>

						</li>

						<li>

							<a href="javascript:;">

								<img src="{SITE_THEME}img/pic22.png">

								<div class="txt">

									<p>Unlock all the account password</p>

									<span><em>How to backup?</em></span>

								</div>

							</a>

						</li>

						<li>

							<a href="javascript:;">

								<img src="{SITE_THEME}img/pic22.png">

								<div class="txt">

									<p>Will your phone number, your name is written 

on the note! Mail order with a phone number and

 mailing is consistent with cell phone number

</p>

									

								</div>

							</a>

						</li>

					</ul>

				</div>

				<div class="clear"></div>

				

				

			</div>

		</div>

	{template footer}


	</body>

	<script>

		var mySwiper = new Swiper('.swiper-container-2', {

			//autoplay: 2000,//可选选项，自动滑动

			prevButton: '.apprise-btn-pre',

			nextButton: '.apprise-btn-next',

			width: 300,

			slidesPerView: 4

		});



		$('.appraise .swiper-button-prev').click(function() {

			mySwiper.swipePrev();

		})



		$('.appraise .swiper-button-next').click(function() {

			mySwiper.swipeNext();

		})

		var mySwiper1 = new Swiper('.swiper-container-3', {

			autoplay: 2000,//可选选项，自动滑动

//			prevButton: '.apprise-btn-pre',

//			nextButton: '.apprise-btn-next',

			width: 200,

			slidesPerView: 2

		});



		$('.ahs-media-content .swiper-button-prev').click(function() {

			mySwiper1.swipePrev();

		})



		$('.ahs-media-content .swiper-button-next').click(function() {

			mySwiper1.swipeNext();

		})

	</script>



</html>