<!DOCTYPE html>

<html>

	<head>

		{template head}

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-M3TQD6R');</script>
<!-- End Google Tag Manager -->

<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window,document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '637804786589286'); 
fbq('track', 'PageView');
</script>
<noscript>
<img height="1" width="1" 
src="https://www.facebook.com/tr?id=637804786589286&ev=PageView
&noscript=1"/>
</noscript>
<!-- End Facebook Pixel Code -->
    
    <style type="text/css">
        @media (orientation: portrait) {

            .prolist {
                padding: 250px 0px;
            }

          body {
            -webkit-user-select: none;
            background-color: #f6f7fb;
          }  
          
          .sellist ul li {
            width: 306px;
          }

          .pronav ul {
            margin-bottom : 40px;
          }

          .pronav ul li a {
            line-height: 80px;
            font-size: 35px;
          }

          .pronav ul li.on a {
            color: white;
          }


        }

    </style>

<link rel="stylesheet" href="/views/view-whizmo/css/faq.css">

	</head>

	<body>

        <!-- <div class="kiosk_hide"> -->

		  {template header}

        <!-- </div> -->

        <div data-modal="trigger-1" class="modal">
                <article class="content-wrapper">
                    <button class="close"></button>
                    <header class="modal-header">
                        <h2>Frequently Asked Questions</h2>
                    </header>
                    <div class="content2">
                        <div class="accordion">
                            <div class="accordion-item">
                                <a href="#" class="heading">
                                    <div class="icon"></div>
                                    <div class="title">How can I get a quote for selling my phone?</div>
                                </a>
                        
                                <div class="content" style="margin-left: 20px;">
                                    <p>
                                        &nbsp;&nbsp;&nbsp;On REBOX website, you can get an accurate quote on your own in less than a minute.  <br> <br>
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1)	Click the brand icon on the home page and choose the model of your phone; <br>
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2)	Choose the specifications of your phone such as capacity and colour, and select the condition of the phone; <br>
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3)	Click “Get Quote” to receive a quote instantly. <br><br>
                                            &nbsp;&nbsp;&nbsp;* If you can’t find your model on the home page, please click “SELL OTHER PHONES” to see the complete list of models that we are buying back.<br><br>

                                    </p>
                                </div>
                            </div>
                        
                            <div class="accordion-item">
                                <a href="#" class="heading">
                                    <div class="icon"></div>
                                    <div class="title">Do I get paid on the spot?</div>
                                </a>
                        
                                <div class="content" style="margin-left: 20px;">
                                    <p>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; We offer two options to our customers. <br>  <br>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1) Bring your phone to our outlets at Jurong Point or City Square Mall to sell. We will check the phone and pay on the spot; or <br>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2) Submit a sell order on our website to lock in the price and schedule a free pickup. We will check the phone upon same-day delivery 
                                        <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; and make payment within one hour.
                                        <br><br>

                                    </p>
                                </div>
                            </div>
                        
                            
                        
                            <div class="accordion-item">
                                <a href="#" class="heading">
                                    <div class="icon"></div>
                                    <div class="title">What’s the process like if I choose free pickup service?</div>
                                </a>
                        
                                <div class="content" style="margin-left: 20px;">
                                    <p>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1)	Submit a sell order online and opt for free pickup service; <br>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2)	Receive a unique Pickup Number (starting with “RB”) via SMS instantly; <br>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 3)	Show the Pickup Number to the courier during collection. No printing of shipping label is required; <br>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 4)	We will check the phone upon delivery of the phone within 2-4 hours on the same day; <br><br>
                                        
                                        <div style="text-align: center;">
                                            <iframe width="560" height="315" style="text-align:center" src="https://www.youtube.com/embed/GbouzcIF_bk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                        </div>
                                        

                                        <br><br>
                                    </p>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <a href="#" class="heading">
                                    <div class="icon"></div>
                                    <div class="title">Locations</div>
                                </a>
                        
                                <div class="content" style="margin-left: 20px;">
                                    <p>
                                    &nbsp;&nbsp;&nbsp;<h3 style="text-decoration: underline; margin-left: 15px;">Jurong Point Outlet</h3> 
                                    &nbsp;&nbsp;&nbsp;63 Jurong West Central 3, Jurong Point Shopping Centre, Basement 1 (outside Starhub #B1-12), Singapore 648331 <br>
                                    &nbsp;&nbsp;&nbsp;<h3 style="text-decoration: underline; margin-left: 15px;">City Square Mall Outlet </h3>
                                    &nbsp;&nbsp;&nbsp;180 Kitchener Road, City Square Mall, #B1-K17 (beside the taxi stand), Singapore 208539 <br><br>
                                    &nbsp;&nbsp;&nbsp;Mon - Fri: 12:00PM - 21:00PM  <br>
                                    &nbsp;&nbsp;&nbsp;Sat - Sun: 11:30PM - 21:00PM <br>
                                    <br>

                                    </p>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <a href="#" class="heading">
                                    <div class="icon"></div>
                                    <div class="title">Still need more help?</div>
                                </a>
                        
                                <div class="content">
                                    <div class="panel" style="text-align: center;">

                                        <h3 style="text-align: center;"> You may contact us for more details through these channels </h3>
                                        <br><br>
                                        <p style="text-align: center;">
                                          <div class="item">
                                              <a href="https://wa.me/6581572646">
                                                <img src="/views/view-whizmo/img/whatsapp.png"/>
                                                <span class="caption">Whatsapp</span>
                                              </a>
                                          </div>
                                          
                                          <div class="item" id="facebook_button">
                                              <a href="https://fb.me/rebox.com.sg" target="_blank">
                                                <img src="/views/view-whizmo/img/facebook.png"/>
                                                <span class="caption">Facebook</span>
                                              </a>
                                          </div>
         
                                        </p>
                                        <br>
                                        <br>
                                    </div>
        
                                </div>
                            </div>

                        </div>
                        

                    </div>
                    <!-- <footer class="modal-footer">
                    </footer> -->
                </article>
            </div>

            <button data-modal-trigger="trigger-1" class="trigger kiosk_hide" style ="position:fixed; right: 30px; bottom: 20px; max-width: 85px; cursor: pointer;z-index:99;">
                    <!-- <i class="fa fa-fire" aria-hidden="true"></i> -->
                    <img src="views/mobile/img/question5.png" alt="" class="call-id" style="width: 75px;">              
                </button>

		<div class="prolist ">

			<div class="container">

				<div class="pronav">

					<ul id="recovery-box">

						<?php $p=0;?>

						{loop $type_list $t}

                        

						<li onclick="add_on(this,{$t['id']});" data-id="<?php echo $p;?>" {if $recovery_type_id == $t['id']}class="on"{/if}>

							<a href="javascript:;">{$t['name']}</a>

						</li>

                        

						<?php $p++;?>

						{/loop}

					</ul>

				</div>

                <script>

                    var lay ;

                    function add_on(a,id){

                        lay = layer.open({type:3,icon:1});

                        $('.add_onn').removeClass('on');

                        $.ajax({

                            url: "index.php?c=ajax_formflowerhua&a=ajax_get_typelist2",

                            type: "post",

                            data: {

                                id : id,

                            },

                            dataType: 'json',

                            success: function (data) {

                                $('#recovery_type_id').val(id);

                                var str ='<li>\n' +

                                    '    <span></span>\n' +

                                    '    <a href="javascript:;" style="border-bottom: 3px solid rgb(255, 204, 0);" class="selection_brands" onclick="selection_brands(this,\'hits\');">\n' +

                                    '        <img src="{SITE_THEME}img/icon7.png">\n' +

                                    '    </a>\n' +

                                    '</li>';

                                if(data.code==1){

                                    for (var i = 0; i < data.result.length ; i++){

                                        // hide huawei brand starts
                                        // if (data.result[i].id != 54 && data.result[i].id != 79) {

                                        str += '<li>\n' +

                                            '\t\t\t\t\t\t\t<span></span>\n' ;

											if(data.result[i].id == '{$recovery_parent_id}'){

                                                str +='\t\t\t\t\t\t\t<a href="javascript:;" style="border-bottom: 3px solid rgb(255, 204, 0);" class="selection_brands" onclick="selection_brands(this,'+data.result[i].id+');">\n';

											}else{

                                                str +='\t\t\t\t\t\t\t<a href="javascript:;" class="selection_brands" onclick="selection_brands(this,'+data.result[i].id+');">\n';

											}

										str +='\t\t\t\t\t\t\t\t<img  src="' + data.result[i].pic + '">\n' +

                                            '\n' +

                                            '\t\t\t\t\t\t\t</a>\n' +

                                            '\t\t\t\t\t\t</li>';

                                        // }
                                        //hide huawei ends

                                    }

                                    $('#menu-box').html('');

                                    $('#menu-box').append(str);

                                }

                                $(a).siblings('li').removeClass('on');

                                $(a).addClass('on');

                                $('#page').val(0);

                                $('#index-box').html('');

                                $('#menu-box li a').eq(0).trigger('click'); //change tab auto display all hot models;

                                // ajax_index(); //remove duplicate

                            }

                        });

                    }

                    function selection_brands(a,id){

                        $('.selection_brands').css('border-bottom','3px solid #e5e5e5');

                        $(a).css('border-bottom','3px solid #ffcc00');

                        lay = layer.open({type:3,icon:1})

                        $('#recovery_parent_id').val(id);

                        $('#page').val(0);

                        $('#index-box').html('');

                        ajax_index();

					}

                    function ajax_index(){

                        var page = $('#page').val();

                        var recovery_type_id = $('#recovery_type_id').val();

                        var recovery_parent_id = $('#recovery_parent_id').val();

                        $.ajax({

                            url: "index.php?c=ajax_formflowerhua&a=ajax_index",

                            type: "post",

                            data: {

                                page:page,

                                recovery_type_id : recovery_type_id,

                                recovery_parent_id : recovery_parent_id,

                            },

                            dataType: 'json',

                            success: function (data) {

                                layer.close(lay);

                                var str = '';

                                if(data.code==1){

                                    for (var i = 0; i < data.result.length ; i++) {

                                        //for huawei brand, only show p30 pro for used, p30 pro &p30 lite for new starts

                                        if (data.result[i].show_hide == true) {

                                                str += '<li>\n' +

                                                    '\t\t\t\t\t\t\t<a href="index.php?c=flowerhua&a=recovery_detail&recovery_id='+data.result[i].id+'">\n' +

                                                    '\t\t\t\t\t\t\t\t<img src="' + data.result[i].recovery_img + '" class="hover_test">\n' +

                                                    '\t\t\t\t\t\t\t\t<h3>'+data.result[i].recovery_title+'</h3>\n' +

                                                    '\t\t\t\t\t\t\t\t<p>Buyback Price Upto</p>\n' +

                                                    '\t\t\t\t\t\t\t\t<h2>$'+data.result[i].recovery_high_price+'</h2>\n' +

                                                    '<span style="border-radius:4px;display:block;padding:5px;width:50%;color:white;background:#ffcc00;margin:0 auto;">SELL NOW</span>' +

                                                    '\t\t\t\t\t\t\t</a>\n' +

                                                    '\t\t\t\t\t\t</li>';

                                        }

                                    }

                                    $('#index-box').append(str);

                                    page++;

                                    $('#page').val(page);

//                                    $('.index-box-more').show(200);

                                }else{

                                    $('.index-box-more').hide(200);

//                                    $('#index-box').append('<p align="center" style="padding:20px;font-size:14px;">No data has been found for the time being!</p>');

                                }

                            }

                        });

                    }

                </script>

				<div class="selnav">

					<ul id="menu-box">



					</ul>

				</div>

				<div class="sellist">

					<ul id="index-box">

					</ul>

				</div>

				<a style="display:none;" href="javascript:;" class="index-box-more">loading...</a>

				<style>

					.index-box-more{

						color: #3782ff;

						display: grid;

						margin: 0 auto;

						margin-top: 25px;

						width: 203px;

						height: 36px;

						font-size: 16px;

						color: #333333;

						text-align: center;

						line-height: 36px;

					}

				</style>

            </div>

		</div>

    <div class="kiosk_hide">

        {template footer}

    </div>

        <input type="hidden" id="recovery_type_id" value="{$recovery_type_id}">

        <input type="hidden" id="recovery_parent_id" value="{$recovery_parent_id}">

        <input type="hidden" id="page" value="">

    <!-- if kiosk mode - screen height > width, hide the component -->

    <script type="text/javascript">
        if ($(window).height() > $(window).width()) {
            $(".kiosk_hide").css("display", "none");
            // (function() {

            //     const idleDurationSecs = 120;    // X number of seconds
            //     const redirectUrl = 'http://127.0.0.1/kiosk/kiosk_home.html';  // Redirect idle users to this URL
            //     let idleTimeout; // variable to hold the timeout, do not modify

            //     const resetIdleTimeout = function() {

            //         // Clears the existing timeout
            //         if(idleTimeout) clearTimeout(idleTimeout);

            //         // Set a new idle timeout to load the redirectUrl after idleDurationSecs
            //         idleTimeout = setTimeout(() => location.href = redirectUrl, idleDurationSecs * 1000);
            //     };

            //     // Init on page load
            //     resetIdleTimeout();

            //     // Reset the idle timeout on any of the events listed below
            //     ['click', 'touchstart', 'mousemove'].forEach(evt => 
            //         document.addEventListener(evt, resetIdleTimeout, false)
            //     );

            // })();
        }
    </script>

    <!-- disable right click -->
    <script language="javascript" type="text/javascript">
        document.addEventListener('contextmenu', event => event.preventDefault());

    </script>

    

    </body>

    <script src="/views/view-whizmo/js/faq.js"></script>

	<script>

		var mySwiper = new Swiper('.swiper-container-2', {

			//autoplay: 2000,//可选选项，自动滑动

			prevButton: '.apprise-btn-pre',

			nextButton: '.apprise-btn-next',

			width: 300,

			slidesPerView: 4

		});

		$('.appraise .swiper-button-prev').click(function() {

			mySwiper.swipePrev();

		});



		$('.appraise .swiper-button-next').click(function() {

			mySwiper.swipeNext();

		});

		var mySwiper1 = new Swiper('.swiper-container-3', {

			autoplay: 2000,//可选选项，自动滑动

//			prevButton: '.apprise-btn-pre',

//			nextButton: '.apprise-btn-next',

			width: 200,

			slidesPerView: 2

		});



		$('.ahs-media-content .swiper-button-prev').click(function() {

			mySwiper1.swipePrev();

		});



		$('.ahs-media-content .swiper-button-next').click(function() {

			mySwiper1.swipeNext();

		});



		var tur = true;

        function scrollFn() {

            //真实内容的高度

            var pageHeight = Math.max(document.body.scrollHeight, document.body.offsetHeight);

            //视窗的高度

            var viewportHeight = window.innerHeight || document.documentElement.clientHeight || document.body.clientHeight || 0;

            //隐藏的高度

            var scrollHeight = window.pageYOffset || document.documentElement.scrollTop || document.body.scrollTop || 0;

            tur = true;

            if (pageHeight - viewportHeight - scrollHeight < 1) {    //如果满足触发条件，执行

                ajax_index();

                return false;

            }

        }

        $(window).scroll(function () {

            if (tur) {

                setTimeout(scrollFn, 500);

                tur = false;

            } else {

            }

        });//绑定滚动事件



	</script>

    {if count($type_list)>0}

    <script>

        $(function(){

            var m = $('#recovery-box').find('li.on').attr('data-id');

            if(m>0){

                $('#recovery-box li').eq(m).trigger('click');

			}else{

                $('#recovery-box li').eq(0).trigger('click');

			}

        });

    </script>
    

    {/if}
    

</html>