<!DOCTYPE html>

<html>

	<head>
        <title>Instant Quote</title>
		{template head}

        <!-- promise style -->
        <style type="text/css">

            #quotation {
                color:red;
                font-size:52px;
                margin-right:10px;
            }

            .txt h4 {
                color: red;
                line-height: 25px;
            }

            @media (orientation: portrait) {
              body {
                -webkit-user-select: none;
                background-color: #f0f0f0;
              }  

              .kiosk_hide {
                visibility: hidden;
                display: none;
              }
                .header .process1 {
                    padding: 80px 0px 40px 0px;
                }

                .header .process1 .col {
                    font-size: 20px;
                    padding-right:0;
                    background: none;
                }

                .quote .quote_pro img {
                    width: 240px;
                    height: 288px;
                    margin-right: 0;
                    display: inline-block;
                    margin-top: 40px;
                }

                .quote .quote_pro .txt {
                    width: 240px;
                    float: none;
                    text-align: center;
                    margin-top: 380px;
                    /*display: none;*/
                }
                .txt h3 {
                    font-size: 28px;
                    font-weight: bold;

                }

                .quote .quote_pro .txt a {
                    /*font-size: 20px;*/
                    display: none;
                }

                .quote .quote_pro .span {
                    float: right;
                    margin-top: -390px; 
                }

                .quote .quote_pro .span span {
                    float: right;
                    width: 800px;
                    /*margin-right: 0;*/
                    height: 50px;
                    line-height: 50px;
                    font-size: 22px;
                    color: #666666;
                }

                .chat .trend {
                    display: none; /*remove chart*/
                }


                .txt h4 {
                    font-weight: bold;
                    text-align: center;
                    font-size: 30px;
                    line-height: 60px;
                }

                .chat .inp {
                    display: none; /*remove promo code*/
                }

                .chat .txt {
                    width:100%;
                    float: none;
                }

                #quotation {
                    color:#ffcc00;
                    font-size:200px;
                    text-align: center;
                    margin: 40px 0;
                }


                .chat .aa {
                    text-align: center;
                }

                .chat .aa a {
                    margin-top: 30px;
                    width: 450px;
                    height: 80px;
                    font-size: 40px;
                    line-height: 80px;
                    font-weight: bold;
                    border-radius: 40px;
                }
            }

            .promise {
                display: flex;
                /*justify-content: space-around;*/
                margin: 10px 5px 0 5px;
            }

            .promises {         
                flex-basis: 17%;
                list-style: none;                
                text-align: center;
                font-family: Arial, Helvetica, sans-serif;
            }

            .promises_word {            
                flex-basis: 17%;
                list-style: none;
                font-size: 12px;
                text-align: center;
                color: #666666;
                font-family: Arial, Helvetica, sans-serif;
            }

            .promises img {
                max-width: 70%;
            }





        </style>

        <link rel="stylesheet" href="/views/view-whizmo/css/faq.css">

		<script src="{SITE_THEME}js/echarts.common.min.js"></script>

        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-M3TQD6R');</script>
        <!-- End Google Tag Manager -->

        <!-- Facebook Pixel Code -->
        <script>
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
        n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}(window,document,'script',
        'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '637804786589286'); 
        fbq('track', 'PageView');
        
        </script>
        <noscript>
        <img height="1" width="1" 
        src="https://www.facebook.com/tr?id=637804786589286&ev=PageView
        &noscript=1"/>
        </noscript>
        <!-- End Facebook Pixel Code -->


	</head>

	<body>

	{template header}

		<div class="header">

			<div class="container">

				<div class="process1">

                    <!-- add kiosk mode back button -->
                    <div class="col kiosk_show" style="display: none; margin-right: 135px; background: none; margin-top: -3px;">
                        <a href = "{url('flowerhua/recovery_detail',array('recovery_id'=>$recovery_id,'priceValue'=>$priceValue,'chpriceValue'=>$chpriceValue,'chpriceValue2'=>$chpriceValue2))}">
                            <img src="{SITE_THEME}img/kiosk_back.png" style="width: 90px;">
                        </a>
                    </div>

                    <div class="col">

                        <b>1</b>{$recovery_step['recovery_step_title1']}

                    </div>

                    <div class="col on">

                        <b>2</b>{$recovery_step['recovery_step_title2']}

                    </div>

                    <div class="col">

                        <b>3</b>{$recovery_step['recovery_step_title3']}

                    </div>

                    <div class="col">

                        <b>4</b>{$recovery_step['recovery_step_title4']}

                    </div>

				</div>

			</div>

        </div>
        
        <!-- modal content -->
        <div data-modal="trigger-1" class="modal">
                <article class="content-wrapper">
                    <button class="close"></button>
                    <header class="modal-header">
                        <h2>Frequently Asked Questions</h2>
                    </header>
                    <div class="content2">
                        <div class="accordion">
                            <div class="accordion-item">
                                <a href="#" class="heading">
                                    <div class="icon"></div>
                                    <div class="title">How can I get a quote for selling my phone?</div>
                                </a>
                        
                                <div class="content" style="margin-left: 20px;">
                                    <p>
                                        &nbsp;&nbsp;&nbsp;On REBOX website, you can get an accurate quote on your own in less than a minute.  <br> <br>
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1)	Click the brand icon on the home page and choose the model of your phone; <br>
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2)	Choose the specifications of your phone such as capacity and colour, and select the condition of the phone; <br>
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3)	Click “Get Quote” to receive a quote instantly. <br><br>
                                            &nbsp;&nbsp;&nbsp;* If you can’t find your model on the home page, please click “SELL OTHER PHONES” to see the complete list of models that we are buying back.<br><br>

                                    </p>
                                </div>
                            </div>
                        
                            <div class="accordion-item">
                                <a href="#" class="heading">
                                    <div class="icon"></div>
                                    <div class="title">Do I get paid on the spot?</div>
                                </a>
                        
                                <div class="content" style="margin-left: 20px;">
                                    <p>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; We offer two options to our customers. <br>  <br>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1) Bring your phone to our outlets at Jurong Point or City Square Mall to sell. We will check the phone and pay on the spot; or <br>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2) Submit a sell order on our website to lock in the price and schedule a free pickup. We will check the phone upon same-day delivery 
                                        <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; and make payment within one hour.
                                        <br><br>

                                    </p>
                                </div>
                            </div>
                        
                            
                        
                            <div class="accordion-item">
                                <a href="#" class="heading">
                                    <div class="icon"></div>
                                    <div class="title">What’s the process like if I choose free pickup service?</div>
                                </a>
                        
                                <div class="content" style="margin-left: 20px;">
                                    <p>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1)	Submit a sell order online and opt for free pickup service; <br>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2)	Receive a unique Pickup Number (starting with “RB”) via SMS instantly; <br>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 3)	Show the Pickup Number to the courier during collection. No printing of shipping label is required; <br>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 4)	We will check the phone upon delivery of the phone within 2-4 hours on the same day; <br><br>
                                        
                                        <div style="text-align: center;">
                                            <iframe width="560" height="315" style="text-align:center" src="https://www.youtube.com/embed/GbouzcIF_bk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                        </div>
                                        

                                        <br><br>
                                    </p>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <a href="#" class="heading">
                                    <div class="icon"></div>
                                    <div class="title">Locations</div>
                                </a>
                        
                                <div class="content" style="margin-left: 20px;">
                                    <p>
                                    &nbsp;&nbsp;&nbsp;<h3 style="text-decoration: underline; margin-left: 15px;">Jurong Point Outlet</h3> 
                                    &nbsp;&nbsp;&nbsp;63 Jurong West Central 3, Jurong Point Shopping Centre, Basement 1 (outside Starhub #B1-12), Singapore 648331 <br>
                                    &nbsp;&nbsp;&nbsp;<h3 style="text-decoration: underline; margin-left: 15px;">City Square Mall Outlet </h3>
                                    &nbsp;&nbsp;&nbsp;180 Kitchener Road, City Square Mall, #B1-K17 (beside the taxi stand), Singapore 208539 <br><br>
                                    &nbsp;&nbsp;&nbsp;Mon - Fri: 12:00PM - 21:00PM  <br>
                                    &nbsp;&nbsp;&nbsp;Sat - Sun: 11:30PM - 21:00PM <br>
                                    <br>

                                    </p>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <a href="#" class="heading">
                                    <div class="icon"></div>
                                    <div class="title">Still need more help?</div>
                                </a>
                        
                                <div class="content">
                                    <div class="panel" style="text-align: center;">

                                        <h3 style="text-align: center;"> You may contact us for more details through these channels </h3>
                                        <br><br>
                                        <p style="text-align: center;">
                                          <div class="item">
                                              <a href="https://wa.me/6581572646">
                                                <img src="/views/view-whizmo/img/whatsapp.png"/>
                                                <span class="caption">Whatsapp</span>
                                              </a>
                                          </div>
                                          
                                          <div class="item" id="facebook_button">
                                              <a href="https://fb.me/rebox.com.sg" target="_blank">
                                                <img src="/views/view-whizmo/img/facebook.png"/>
                                                <span class="caption">Facebook</span>
                                              </a>
                                          </div>
         
                                        </p>
                                        <br>
                                        <br>
                                    </div>
        
                                </div>
                            </div>

                        </div>
                        

                    </div>
                    <!-- <footer class="modal-footer">
                    </footer> -->
                </article>
            </div>
            <!-- end of modal -->

		<div class="quote">

			<div class="container">

				<div class="quote_pro">

					<img src="{$data['recovery_img']}">

					<div class="txt">

						<h3>{$data['recovery_title']}</h3>

						<a href="{url('flowerhua/recovery_detail',array('recovery_id'=>$recovery_id,'priceValue'=>$priceValue,'chpriceValue'=>$chpriceValue,'chpriceValue2'=>$chpriceValue2))}">Re-quote></a>

					</div>

					<div class="span" data-hide="hide">

						<div class="spanbox">

                            {loop $price_arr $item}

                            <span>{$item['parameter']}: <font style="color: red;">{$item['name']}</font></span>

                            {/loop}

                            <!-- {if $ch_price_arr}
                            <span style="clear:both;"><strong>Functional Issues</strong></span>
                            {/if} -->

                            {loop $ch_price_arr $item}

                            <!-- <span style = "width: 430px; color: red;">{$item['name']}</span> -->

                            <span style = "color: red;">{$item['name']}</span>

                            {/loop}

                            <!-- {if $ch_price_arr2}
                            <span style="clear:both;"><strong>Missing or Damaged Accessories</strong></span>
                            {/if} -->

                            {loop $ch_price_arr2 $item}

                            <!-- <span style = "width: 430px;"><font style="color: red;">{$item['name']}</font> missing or damaged</span> -->

                            <span><font style="color: red;">{$item['name']}</font> missing or damaged</span>

                            {/loop}

						</div>

						{if count($price_arr)+count($ch_price_arr)+count($ch_price_arr2)>6}<em class="kiosk_hide" id="caret"><img src="{SITE_THEME}img/icon50.png"></em>{/if}

					</div>

				</div>

				<div class="chat">

                    <!-- newly released models dont have price trend chart -->
                    {if $recovery_id != 342 && $recovery_id != 343 && $recovery_id != 345 && $recovery_id != 346} 

					<div class="trend" style="border-style: solid; border-width: 1px; border-color: #ffcc00;">

                        <div id="main" style="width: 524px;height:247px;  " ></div> 

						<p style="text-align: center; fontSize: 12px; color: grey;">Price is dropping everyday. Sell it now for more value!</p><br>
						<!-- <img src="{SITE_THEME}img/pic15.png"> -->
					</div> 

                    {else}

                    <div class="trend">
                        <img src="{SITE_THEME}img/price chart.png">
                    </div>

                    {/if}

					<div class="txt">

						{if $instant_quote_price>0}

                        <!-- display price -->

                            <!-- check if have any price boost starts-->
                            {if $price_boost > 0}

                            <h4 style="color:red;margin-right:10px;">$<span id="instant_quote_price">{$instant_quote_price}</span><span> + $</span><span id="price_boost">{$price_boost}</span><em style="margin-left:0px;"><img src="{SITE_THEME}img/price_boost.png" style="max-width:120px;"></em></h4>


                            {else}

                            <h4 id="quotation">$<span id="instant_quote_price">{$instant_quote_price}</span></h4>

                            {/if}

                            <!-- check if have any price boost ends-->

                            <br>

                            <!-- <em class="kiosk_hide" style="margin-top:10px;"><img src="{SITE_THEME}img/bg3.png"></em> -->
						

						{else}

						<!-- <h4>Sorry, we are unable to buy back this device at the moment.</h4> -->

						{/if}
						


						<div class="inp">

							<input type="text" placeholder="Promo Code" id="apply_coupon_code">

                            <input type="hidden" name="" id="apply_coupon_code_sn">

                            <input type="hidden" name="" id="apply_coupon_code_id">

							<input type="submit" value="APPLY" onclick="apply_coupon();">

						</div>

                        <div class = "kiosk_hide" style = "margin : 5px 0 0 0; padding : 3px 0;">
                            <!-- <h5 style = "text-align: center; font-weight: bold;">OUR PROMISES</h5> -->
                            <ul class="promise">
                                <li class = "promises"><img src = "views/mobile/img/promise1.png"></li>
                                <li class = "promises"><img src = "views/mobile/img/promise2.png"></li>
                                <li class = "promises"><img src = "views/mobile/img/promise3.png"></li>
                                <li class = "promises"><img src = "views/mobile/img/promise4.png"></li>
                            </ul>
                            <ul class="promise">
                                <li class = "promises_word" style = "text-align: center;">Price Guarantee</li>
                                <li class = "promises_word" style = "text-align: center;">Free Courier Pickup</li>
                                <li class = "promises_word" style = "text-align: center;">Professional Test</li>
                                <li class = "promises_word" style = "text-align: center;">One-Hour Payment</li>
                            </ul>
                        </div>
						
						<!-- <br><br><h4 style="color: #ff5400; height: 15px; margin-left: 5px;"><br><br>Same day payment upon receipt if descriptions match.</h4> -->

						<div class="aa">


                             
                             <!-- <a {if $instant_quote_price<=0}style="border:#ccc;background:#ccc;" disabled href="javascript:;" {else}href="javascript:instantly_submit();"{/if}>Cash Out Instantly</a> -->

                             <!-- add check for boost first -->
                             {if $agent_check !=1}
                             <a {if $instant_quote_price<=0}style="border:#ccc;background:#ccc;"  href="javascript:;" {else}href="javascript:check_price_boost();"{/if}>Cash Out Instantly</a>


			    <!-- <a {if $instant_quote_price<=0 }style="border:#ccc;background:#ccc;" disabled href="javascript:;" {else}href="javascript:check_price_boost();"{/if} class="kiosk_hide">Cash Out Instantly</a> -->

                             <div  class="kiosk_show" style="display: none;">
				      <!-- <a   href="javascript:;">Cash Out Instantly</a> -->
				       <a {if $instant_quote_price<=0}style="border:#ccc;background:#ccc;"  href="javascript:;" {else}href="javascript:check_price_boost();"{/if}>Cash Out Instantly</a>

				      <!--  <a {if $instant_quote_price<=0 }style="border:#ccc;background:#ccc;" disabled href="javascript:;" {else}href="javascript:check_price_boost();"{/if} class="kiosk_hide">Cash Out Instantly</a> -->
                             </div>
                             <!-- {if $recovery_id == 347 || $recovery_id == 348 || $recovery_id == 349}
                             <br>
                             <div class="kiosk_hide" style="color: red;font-size: 16px;line-height: 26px;margin-top: 20px;width: 400px;">We only buy back new {$data['recovery_title']} at our store in Jurong Point (outside Starhub #B1-12) and City Square Mall ( #B1-K17, near taxi pickup ). The buyback price is updated constantly and is only final when you sell at our store. </div>
                             {/if} -->


                             {else}
                             <a {if $instant_quote_price<=0}style="border:#ccc;background:#ccc;"  href="javascript:;" {else}href="javascript:check_price_boost();"{/if}>Submit Order</a>
                             {/if}
			     <br>
			     <!-- <h4 style="margin-top:10px;">We are suspending buy-back till further notice. </h4> -->


							<!-- <span class="btn" onclick="layer.msg('It`s not open for the time being!',{icon:3});">

                                <a href="javascript:;" class="border" disabled="">Auction it for Higher Price</a>

                                <img src="{SITE_THEME}img/icon51.png"  onclick="show_intro()" dis>

                            </span> -->

							<!--<img src="{SITE_THEME}img/bg4.png" class="posimg">-->

						</div>

					</div>

				</div>

              

				<div class="intro" style="display: none;">

					<div class="inli">

						<div class="lit">

							<img src="{SITE_THEME}img/icon52.png">{$higherprice['title']}

							<img src="{SITE_THEME}img/icon53.png" class="caret">

						</div>

						<div class="p">

							{htmlspecialchars_decode($higherprice['content'])} 

						</div>

					</div>

				</div>

			</div>


            <!-- add pop-up warning for price_boost starts-->

            <div class="tan tan_1">

                <div class="sure">
                    <div class="rtit">
                        <span style = "color: red;">!IMPORTANT! PLEASE READ</span>
                        <img src="{SITE_THEME}img/close.png" class="close" onclick="hideconfirm()" style="max-height: 25px;"/>
                    </div>
                    <div class="surep">
                        <div class="p">
                            <p class="device_name">You have chosen flawless condition and $</span><span>{$price_boost}</span><span> price booster has been applied. If condition match, you will receive this booster, but if condition does not match and your do not agree to revised quote and requet for return later, you will need to pay $10 return cost.</p>
                        </div>
                        

                        <a href="javascript:;" onclick="get_requote()" style="background-color: #ccc;">Get Re-quote</a>
                        <a href="javascript:;" onclick="twoinone();">I Understand and Agree</a>
                    </div>
                </div>
            </div>

            <!-- add pop-up warning for price_boost ends-->



		</div>

        <input type="hidden" name="" id="instant_quote_coupon_code" value="">

        <button data-modal-trigger="trigger-1" class="trigger kiosk_hide" style ="position:fixed; right: 30px; bottom: 20px; max-width: 85px; cursor: pointer;z-index:99;">
                <!-- <i class="fa fa-fire" aria-hidden="true"></i> -->
                <img src="views/mobile/img/question5.png" alt="" class="call-id" style="width: 75px;">              
            </button>

		<script>

            function hideconfirm(){
                $(".tan").hide();
            }

            function show_tan_1(){
                $(".tan_1").show();
                $("body").addClass("hidden")
            }

            function hide_tan(){
                $(".tan").hide();
                $("body").removeClass("hidden")
            }

            function get_requote() {
                window.location = "{url('flowerhua/recovery_detail',array('recovery_id'=>$recovery_id,'priceValue'=>$priceValue,'chpriceValue'=>$chpriceValue,'chpriceValue2'=>$chpriceValue2))}";            
            }

            function twoinone(){
                hide_tan();
                instantly_submit();
            }

            function check_price_boost() {
                if ($('#price_boost').length) {
                    show_tan_1();
                } else {
                    instantly_submit();
                }
            }

            function instantly_submit() {
                    
            //check loggedin status
                            var apply_coupon_code_sn = $('#apply_coupon_code_sn').val();

                            // var instant_quote_price = parseFloat($('#instant_quote_price').text());

                            //check if any price boost starts
                            if ($('#price_boost').length) {
                                var instant_quote_price = parseFloat($('#instant_quote_price').text()) + parseFloat($('#price_boost').text());
                            } else {
                                var instant_quote_price = parseFloat($('#instant_quote_price').text());
                            }
                            //check if any price boost ends 

                            $.ajax({

                                url: "index.php?c=ajax_formflowerhua&a=ajax_instantly_submit2order",

                                type: "post",

                                data: {

                                    recovery_id: '{$recovery_id}',

                                    priceValue: '{$priceValue}',

                                    chpriceValue: '{$chpriceValue}',

                                    chpriceValue2: '{$chpriceValue2}',

                                    apply_coupon_code_sn: apply_coupon_code_sn,

                                    instant_quote_price: instant_quote_price,

                                },

                                async: false,

                                dataType: 'json',

                                success: function (data) {

                                //    if (data.code == 1) {

                                        location.href = "index.php?c=flowerhua&a=recovery_free_pickup&recovery_id=" + data.recovery_id + "&order_id=" + data.order_id;

                                //    } else {

                                //        layer.msg('Submission failure!', {anim: 0, icon: 0});

                                //    }

                                }

                            });
                        }
                              



            function apply_coupon(){

                var apply_coupon_code = $('#apply_coupon_code').val();

                if(apply_coupon_code == '' || apply_coupon_code == null){

                    layer.msg('Please enter promo code!',{anim:0,icon:0});

                }else{

                    $.ajax({

                        url: "index.php?c=ajax_formflowerhua&a=ajax_apply_coupon",

                        type: "post",

                        data: {

                            apply_coupon_code : apply_coupon_code,

                        },

                        dataType: 'json',

                        success: function (data) {

                            if (data.code == -1) {

                                layer.msg('Promo code is invalid. Please try again.',{anim:0,icon:0});

                            }else if(data.code == -2){

                                layer.msg('This promo code has been used!');

                            }else if(data.code==1){

                                var ind = layer.msg('Congratulations, extra $'+data.result.coupon_money+' added to our offer price! Quickly cash out below!',{time:3000,end:function(){

                                    $('#apply_coupon_code_sn').val(apply_coupon_code);

                                    //changing instant quote price after applying the coupon
                                    // $('#instant_quote_price').text({$instant_quote_price}+parseInt(data.result.coupon_money));

                                    $('#instant_quote_price').text({$instant_quote_price} + " + $" + parseInt(data.result.coupon_money));

                                    $('#instant_quote_coupon_code').val({$instant_quote_price}+parseInt(data.result.coupon_money));

                                    layer.close(ind);

                                }});

                            }

                        }

                    });

                }

            }

			function show_intro(){

				$(".intro").show();

				$("body").animate({"scrollTop":"300px"})

			}

		</script>

        <div class="kiosk_hide">
	       {template footer}
        </div>

        <!-- Load Facebook SDK for JavaScript -->
        <!-- <div id="fb-root" class="kiosk_hide"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js#xfbml=1&version=v2.12&autoLogAppEvents=1';
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script> -->

        <!-- Your customer chat code -->
        <!-- <div class="fb-customerchat kiosk_hide"
          attribution=setup_tool
          page_id="201403270461097"
          theme_color="#ffcc00">
        </div> -->

        <!-- kiosk mode -->
        <script type="text/javascript">
            if ($(window).height() > $(window).width()) {
                // $(".kiosk_hide").css("display", "none");
                // $("#caret").css("display", "none");
                $(".kiosk_show").show();
                $(".quote .quote_pro .span").css({"max-height":"none"});
                $(".quote .quote_pro .span").attr({"data-hide":"show"});
                (function() {

                    const idleDurationSecs = 120;    // X number of seconds
                    // const redirectUrl = 'http://127.0.0.1/kiosk/kiosk_home.html';  // Redirect idle users to this URL
                    const redirectUrl = 'https://rebox.com.sg/index.php?c=flowerhua&a=recovery_list&recovery_type_id=29&recovery_parent_id=hits'; 
                    
                    let idleTimeout; // variable to hold the timeout, do not modify

                    const resetIdleTimeout = function() {

                        // Clears the existing timeout
                        if(idleTimeout) clearTimeout(idleTimeout);

                        // Set a new idle timeout to load the redirectUrl after idleDurationSecs
                        idleTimeout = setTimeout(() => location.href = redirectUrl, idleDurationSecs * 1000);
                    };

                    // Init on page load
                    resetIdleTimeout();

                    // Reset the idle timeout on any of the events listed below
                    ['click', 'touchstart', 'mousemove'].forEach(evt => 
                        document.addEventListener(evt, resetIdleTimeout, false)
                    );

                })();
            } else { //desktop version idle 20 mins go back to home page

                $(".not_kiosk_hide").hide();
                (function() {

                    const idleDurationSecs = 1200;    // X number of seconds
                    // const redirectUrl = 'http://127.0.0.1/kiosk/kiosk_home.html';  // Redirect idle users to this URL
                    const redirectUrl = 'https://www.rebox.com.sg'; 
                    
                    let idleTimeout; // variable to hold the timeout, do not modify

                    const resetIdleTimeout = function() {

                        // Clears the existing timeout
                        if(idleTimeout) clearTimeout(idleTimeout);

                        // Set a new idle timeout to load the redirectUrl after idleDurationSecs
                        idleTimeout = setTimeout(() => location.href = redirectUrl, idleDurationSecs * 1000);
                    };

                    // Init on page load
                    resetIdleTimeout();

                    // Reset the idle timeout on any of the events listed below
                    ['click', 'touchstart', 'mousemove'].forEach(evt => 
                        document.addEventListener(evt, resetIdleTimeout, false)
                    );

                })();

            }
        </script>

        <!-- disable right click -->
        <script language="javascript" type="text/javascript">
            document.addEventListener('contextmenu', event => event.preventDefault());

        </script>


    </body>

	<script>

		$("#caret").click(function(){

			var display = $(".quote .quote_pro .span").attr("data-hide");

			if(display == "hide"){

				$(".quote .quote_pro .span").css({"max-height":"none"});

				$(".quote .quote_pro .span").attr({"data-hide":"show"});

				$(this).find("img").attr({"src":"{SITE_THEME}img/icon79.png"})

			}else if(display == "show"){

				$(".quote .quote_pro .span").css({"max-height":"94px"});

				$(".quote .quote_pro .span").attr({"data-hide":"hide"});

				$(this).find("img").attr({"src":"{SITE_THEME}img/icon50.png"})

			}

		})

        // 基于准备好的dom，初始化echarts实例

        var myChart = echarts.init(document.getElementById('main'));

        // 指定图表的配置项和数据

        var option = {

			title : {  //标题('\n'指定换行)

				text : 'Price Trend', //主标题

				x : 'left',//标题的位置(还可选'left' | 'right' )

				y :'top', //标题的位置(还可选'top' | 'bottom' | 'center'  )

				textStyle : {//标题样式

					fontSize : 20,  //字体大小

					fontFamily : 'Arial',//字体系列

					fontWeight : 'bold' , //粗细，可选为：'normal' | 'bold' | 'bolder' | 'lighter' | 100 | 200 |...

					color : 'grey'
				},

			},

            tooltip: {

                trigger: 'axis',

                axisPointer: {//鼠标滑过的线条样式

                    type: 'line',

                    lineStyle: {

                        color: 'red',//颜色

                        width: 1,//宽度

                        type: 'solid'//实线

                    }

                },

            },

            calculable: true,

			xAxis: {

				type: 'category',

				data: {$moths_arr}

			},

			yAxis: {

				type: 'value',

				min: {$instant_quote_price*0.8}

            },

            series:[{

                name: 'Price',

				data: {$prices_arr},

				type: 'line',

        	}]

        };

        // 使用刚指定的配置项和数据显示图表。

        myChart.setOption(option);

    </script>
    
    <script src="/views/view-whizmo/js/faq.js"></script>

</html>
