<!DOCTYPE html>

<html>

	<head>
		<title>Device Appraisal</title>
		{template head}

		<!-- Google Tag Manager -->
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-M3TQD6R');</script>
		<!-- End Google Tag Manager -->

		<!-- Facebook Pixel Code -->
		<script>
		!function(f,b,e,v,n,t,s)
		{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
		n.callMethod.apply(n,arguments):n.queue.push(arguments)};
		if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
		n.queue=[];t=b.createElement(e);t.async=!0;
		t.src=v;s=b.getElementsByTagName(e)[0];
		s.parentNode.insertBefore(t,s)}(window,document,'script',
		'https://connect.facebook.net/en_US/fbevents.js');
		fbq('init', '637804786589286'); 
		fbq('track', 'PageView');
		</script>
		<noscript>
		<img height="1" width="1" 
		src="https://www.facebook.com/tr?id=637804786589286&ev=PageView
		&noscript=1"/>
		</noscript>
		<!-- End Facebook Pixel Code -->

	</head>

	<link rel="stylesheet" href="/views/view-whizmo/css/faq.css">

	<style type="text/css">
        @media (orientation: portrait) {
        	.header .process1 {
        		padding: 80px 0px 40px 0px;
        	}

          body {
            -webkit-user-select: none;
            background-color: #f0f0f0;
          }  

          .header .process1 .col {
          	font-size: 20px;
          	padding-right:0;
          	background: none;
          }

/*          .releft {
          	position: fixed;
          	top: 11.5%;
          }*/

          .recircle_detail .releft .pro img {
          	width: 240px;
          	margin-top: 60px;
          }

          .recircle_detail .releft .pro p {
          	font-size: 36px;
          	margin-top: 70px;
          	font-weight: bold;
          }

          .recircle_detail .releft .pro .clear .col {
          	display: none;
          }

          .recircle_detail .releft .pro a {
          	display: none;
          }

          .recircle_detail .reright .sele .st {
          	font-size: 28px;
          	/*font-weight: bold;*/
          }

          .recircle_detail .reright .sele .seli label {
          	font-size: 20px;
          	width: 350px;
          }
          .recircle_detail .reright .sele .seli span {
          	width: 485px;
          }
          .recircle_detail .reright .sele .islist ul li p {
          	font-size: 18px;
          }
          .recircle_detail .reright .quote input {
          	width: 300px;
			height: 60px;
			font-size: 22px;
			font-weight: bold;
          }

          .recircle_detail .reright .sele .seli .selibox span {
          	border-right: 1px solid #333333;
		    border-bottom: 1px solid #333333;
		    box-shadow: 2px 2px #888888;
          }

        }

    </style>

        <!-- disable right click -->
    <script language="javascript" type="text/javascript">
        document.addEventListener('contextmenu', event => event.preventDefault());

    </script>

	<body>


        <!-- <div class="kiosk_hide"> -->

		  {template header}

		<!-- </div> -->
		
		<!-- modal content -->
		<div data-modal="trigger-1" class="modal">
                <article class="content-wrapper">
                    <button class="close"></button>
                    <header class="modal-header">
                        <h2>Frequently Asked Questions</h2>
                    </header>
                    <div class="content2">
                        <div class="accordion">
                            <div class="accordion-item">
                                <a href="#" class="heading">
                                    <div class="icon"></div>
                                    <div class="title">How can I get a quote for selling my phone?</div>
                                </a>
                        
                                <div class="content" style="margin-left: 20px;">
                                    <p>
                                        &nbsp;&nbsp;&nbsp;On REBOX website, you can get an accurate quote on your own in less than a minute.  <br> <br>
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1)	Click the brand icon on the home page and choose the model of your phone; <br>
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2)	Choose the specifications of your phone such as capacity and colour, and select the condition of the phone; <br>
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3)	Click “Get Quote” to receive a quote instantly. <br><br>
                                            &nbsp;&nbsp;&nbsp;* If you can’t find your model on the home page, please click “SELL OTHER PHONES” to see the complete list of models that we are buying back.<br><br>

                                    </p>
                                </div>
                            </div>
                        
                            <div class="accordion-item">
                                <a href="#" class="heading">
                                    <div class="icon"></div>
                                    <div class="title">Do I get paid on the spot?</div>
                                </a>
                        
                                <div class="content" style="margin-left: 20px;">
                                    <p>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; We offer two options to our customers. <br>  <br>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1) Bring your phone to our outlets at Jurong Point or City Square Mall to sell. We will check the phone and pay on the spot; or <br>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2) Submit a sell order on our website to lock in the price and schedule a free pickup. We will check the phone upon same-day delivery 
                                        <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; and make payment within one hour.
                                        <br><br>

                                    </p>
                                </div>
                            </div>
                        
                            
                        
                            <div class="accordion-item">
                                <a href="#" class="heading">
                                    <div class="icon"></div>
                                    <div class="title">What’s the process like if I choose free pickup service?</div>
                                </a>
                        
                                <div class="content" style="margin-left: 20px;">
                                    <p>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1)	Submit a sell order online and opt for free pickup service; <br>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2)	Receive a unique Pickup Number (starting with “RB”) via SMS instantly; <br>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 3)	Show the Pickup Number to the courier during collection. No printing of shipping label is required; <br>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 4)	We will check the phone upon delivery of the phone within 2-4 hours on the same day; <br><br>
                                        
                                        <div style="text-align: center;">
                                            <iframe width="560" height="315" style="text-align:center" src="https://www.youtube.com/embed/GbouzcIF_bk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                        </div>
                                        

                                        <br><br>
                                    </p>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <a href="#" class="heading">
                                    <div class="icon"></div>
                                    <div class="title">Locations</div>
                                </a>
                        
                                <div class="content" style="margin-left: 20px;">
                                    <p>
                                    &nbsp;&nbsp;&nbsp;<h3 style="text-decoration: underline; margin-left: 15px;">Jurong Point Outlet</h3> 
                                    &nbsp;&nbsp;&nbsp;63 Jurong West Central 3, Jurong Point Shopping Centre, Basement 1 (outside Starhub #B1-12), Singapore 648331 <br>
                                    &nbsp;&nbsp;&nbsp;<h3 style="text-decoration: underline; margin-left: 15px;">City Square Mall Outlet </h3>
                                    &nbsp;&nbsp;&nbsp;180 Kitchener Road, City Square Mall, #B1-K17 (beside the taxi stand), Singapore 208539 <br><br>
                                    &nbsp;&nbsp;&nbsp;Mon - Fri: 12:00PM - 21:00PM  <br>
                                    &nbsp;&nbsp;&nbsp;Sat - Sun: 11:30PM - 21:00PM <br>
                                    <br>

                                    </p>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <a href="#" class="heading">
                                    <div class="icon"></div>
                                    <div class="title">Still need more help?</div>
                                </a>
                        
                                <div class="content">
                                    <div class="panel" style="text-align: center;">

                                        <h3 style="text-align: center;"> You may contact us for more details through these channels </h3>
                                        <br><br>
                                        <p style="text-align: center;">
                                          <div class="item">
                                              <a href="https://wa.me/6581572646">
                                                <img src="/views/view-whizmo/img/whatsapp.png"/>
                                                <span class="caption">Whatsapp</span>
                                              </a>
                                          </div>
                                          
                                          <div class="item" id="facebook_button">
                                              <a href="https://fb.me/rebox.com.sg" target="_blank">
                                                <img src="/views/view-whizmo/img/facebook.png"/>
                                                <span class="caption">Facebook</span>
                                              </a>
                                          </div>
         
                                        </p>
                                        <br>
                                        <br>
                                    </div>
        
                                </div>
                            </div>

                        </div>
                        

                    </div>
                    <!-- <footer class="modal-footer">
                    </footer> -->
                </article>
            </div>
			<!-- end of modal -->
			

			
	

		<div class="recircle_detail">

			<div class="header">

				<div class="container">

					<div class="process1">

						<!-- add kiosk mode back button -->
						<div class="col kiosk_show" style="display: none; margin-right: 135px; background: none; margin-top: -3px;">
							<a href = "https://rebox.com.sg/mobile_recircle/index.php?c=flowerhua&a=recovery_list&recovery_type_id=29&recovery_parent_id=hits">
								<img src="{SITE_THEME}img/kiosk_back.png" style="width: 90px;">
							</a>
						</div>

						<div class="col on">

							<b>1</b>{$recovery_step['recovery_step_title1']}

						</div>

						<div class="col">

							<b>2</b>{$recovery_step['recovery_step_title2']}

						</div>

						<div class="col">

							<b>3</b>{$recovery_step['recovery_step_title3']}

						</div>

						<div class="col">

							<b>4</b>{$recovery_step['recovery_step_title4']}

						</div>

					</div>

				</div>

			</div>

			<div class="container">

				<div class="releft">

					<div class="pro">

						<img src="{$data['recovery_img']}">

						<p>{$data['recovery_title']}</p>

						<div class="clear">

							<div class="col">

								<h3>{$data['recovery_cold_num']}</h3>

								<h4>Devices Sold</h4>

							</div>

							<div class="col">

								<h3>${$data['recovery_high_price']}</h3>

								<h4>Highest Price</h4>

							</div>

						</div>

						<a href="index.php" class = "kiosk_reselect">Reselect Model ></a>

					</div>

					<div class="guide kiosk_hide">

						<div class="gt">{$recovery_tips['recovery_tips_title']}</div>

						<div class="p">{php echo htmlspecialchars_decode($recovery_tips['recovery_tips_content']);}</div>

					</div>

				</div>

				<div class="reright">

                    <!-- add selection reminder starts-->
                    <!-- <h3 style = "text-align: center; color: #ffcc00; font-size: 24px; font-weight: bold; border-bottom: 1px solid #e5e5e5;padding-bottom: 8px;">Device Appraisal<br></h3> -->
                    <h5 class = "kiosk_hide" style = "color: #fff; font-size: 16px; font-weight: normal; line-height: 24px; margin-top: 8px; background-color: #bbb; padding: 10px 20px;">Actual condition of your device will be verified with reference to the selections below upon receipt by Rebox. Express payment will be made within 1 hour for accurate selections upon verification.<br></h5>
                    <!-- add selection reminder ends-->                  

                    <form action="" method="post">

                        {loop $data['parameter'] $k=>$o}

					    <div class="sele">

						<div class="st">

							{$o['parameter_name']}

						</div>

						{loop $o['parameter'] $kk=>$item}

                            <div class="seli {if $priceValue}op{else}{if $k==0 && $kk==0}op{/if}{/if}  ">

                            <div class="lit">

                                <label>{$item['parameter_name']}</label>

                                <span {if $price_arr}style="display:block;"{/if}>

                                    {if $price_arr}

                                    {loop $price_arr $pitem}

                                    {if $pitem['parent_id']==$item['id']}

                                    <font class="data-id" data-id="{if $pitem['parent_id']==$item['id']}{$pitem['id']}{/if}" parent-data-id="{$item['id']}">{if $pitem['parent_id']==$item['id']}{$pitem['name']}{/if}</font>

                                    {/if}

                                    {/loop}

                                    {else}

									<font class="data-id" data-id="" parent-data-id="{$item['id']}"></font>

                                    {/if}

									<em>Modify</em>

								</span>

                            </div>

                            <div class="selibox" {if $priceValue}style="display:none;"{/if}>

                                {loop $item['parameter'] $t}

								<span>

									<b data-id="{$t['id']}">{$t['parameter_name']}</b>

									{if $t['parameter_description'] || $t['parameter_img']}

                                    <img src="{SITE_THEME}img/icon34.png"  src1="{SITE_THEME}img/icon35.png" src2="{SITE_THEME}img/icon34.png" class="icon">

									{/if}

									<div class="hover">

                                        {if $t['parameter_img']}

										<img src="{$t['parameter_img']}">

                                        {/if}

                                        {if $t['parameter_description']}

										<div class="posp">

											{$t['parameter_description']}

										</div>

                                        {/if}

									</div>

								</span>

                                {/loop}

                                <div class="clear"></div>

                            </div>

                        </div>

                        {/loop}

						</div>

                        {/loop}

                    
                   	{if $data['recovery_type_id'] != 68 && $data['ch_parameter'] != NULL}

					<div class="sele issue" {if $chpriceValue || $priceValue}style="opacity:1;"{/if}>

						<div class="st">

							Functional lssues

						</div>

						<div class="islist ch_parameter">

							<ul>

								{loop $data['ch_parameter'] $item}

								<li {if in_array($item['id'],array_filter(explode(',',$chpriceValue)))}class="on"{/if}>

								<img src="{if in_array($item['id'],array_filter(explode(',',$chpriceValue)))}{$item['parameter_img1']}{else}{$item['parameter_img']}{/if}" src1="{$item['parameter_img']}" src2="{$item['parameter_img1']}">

								<p style="max-height:40px;">{$item['parameter_name']}</p>

								<input class="parameter_name" name="parameter_name[]" type="checkbox" value="{$item['id']}" {if in_array($item['id'],array_filter(explode(',',$chpriceValue)))}checked{/if}>

								</li>

								{/loop}

							</ul>

						</div>

					</div>

					

					<!-- check if agent, do not display accessroies section -->
					{if $agent_check != 1}

					<div class="sele issue" {if $chpriceValue || $priceValue}style="opacity:1;"{/if}>

						<div class="st">

							Missing or Damaged Accessories

						</div>

						<div class="islist ch_parameter">

							<ul>

								{loop $data['ch_parameter2'] $item}

								<li {if in_array($item['id'],array_filter(explode(',',$chpriceValue2)))}class="on"{/if}>

								<img src="{if in_array($item['id'],array_filter(explode(',',$chpriceValue2)))}{$item['parameter_img1']}{else}{$item['parameter_img']}{/if}" src1="{$item['parameter_img']}" src2="{$item['parameter_img1']}">

								<p style="max-height:40px;">{$item['parameter_name']}</p>

								<input class="parameter_name2" name="parameter_name[]" type="checkbox" value="{$item['id']}" {if in_array($item['id'],array_filter(explode(',',$chpriceValue)))}checked{/if}>

								</li>

								{/loop}

							</ul>

						</div>

					</div>

					{/if}

					{/if}

					
					<div class="quote">
					
						<!-- <p style = "font-size: 14px; color: #FF5400; display: block; float: right;">A nominal fee of $3 will be applied for return if the above selection is materially different from the actual condition.</p><br><br> -->
						<input style="display:inline;" type="button" value="Get Quote" disabled="disabled"  class="btn" onclick="submit_recovery_info();">

					</div>

                    </form>

				</div>

			</div>

		</div>

		<button data-modal-trigger="trigger-1" class="trigger kiosk_hide" style ="position:fixed; right: 30px; bottom: 20px; max-width: 85px; cursor: pointer;z-index:999;">
				<!-- <i class="fa fa-fire" aria-hidden="true"></i> -->
				<img src="views/mobile/img/question5.png" alt="" class="call-id" style="width: 75px;">              
			</button>

		<div class="tan" >

			<div class="tips">

				<img src="{SITE_THEME}img/tips.png">

				<p>Apologies,we are currently unable to accept any non-functioning device.</p>

				<a href="javascript:;" onclick="hide_tan()">OK</a>

			</div>

		</div>

		<script>


			function submit_recovery_info(){

                var data_arr = [];

                var data_arr_value = [];

                var data_ch_arr = [];//多选项

                var data_ch_arr2 = [];//多选附件项

                for(var i = 0 ; i < $('.data-id').length ; i++){

                    data_arr.push($('.data-id').eq(i).attr('data-id'));

                    data_arr_value.push($('.data-id').eq(i).text());

                }

                for(var i = 0 ; i < $('.ch_parameter li.on .parameter_name').length ; i++){

                    data_ch_arr.push($('.ch_parameter li.on .parameter_name').eq(i).val());

                }

                for(var i = 0 ; i < $('.ch_parameter li.on .parameter_name2').length ; i++){

                    data_ch_arr2.push($('.ch_parameter li.on .parameter_name2').eq(i).val());

                }

                location.href="index.php?c=flowerhua&a=recovery_instant_quote&recovery_id={$recovery_id}&priceValue="+escape(data_arr)+"&chpriceValue="+escape(data_ch_arr)+"&chpriceValue2="+escape(data_ch_arr2);

            }

			function show_tan(){

				$(".tan").show();

				$("body").addClass("hidden");

			}

			function hide_tan(){

				$(".tan").hide();

				$("body").removeClass("hidden");

			}

			$(".tan").click(function(){

				hide_tan()

			})

		</script>

	<!-- Load Facebook SDK for JavaScript -->
	<!-- <div id="fb-root" class="kiosk_hide"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js#xfbml=1&version=v2.12&autoLogAppEvents=1';
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script> -->

	<!-- Your customer chat code -->
	<!-- <div class="fb-customerchat kiosk_hide"
	  attribution=install_email
	  page_id="201403270461097"
	  theme_color="#ffcc00">
	</div> -->


    <div class="kiosk_hide">

        {template footer}

    </div>

    <!-- if kiosk mode - screen height > width, hide the component -->

    <script type="text/javascript">
        if ($(window).height() > $(window).width()) {
            $(".kiosk_hide").css("display", "none");
            $(".kiosk_show").show();
            $(".kiosk_reselect").attr("href", "https://rebox.com.sg/mobile_recircle/index.php?c=flowerhua&a=recovery_list&recovery_type_id=29&recovery_parent_id=hits");
            (function() {

                const idleDurationSecs = 120;    // X number of seconds
                // const redirectUrl = 'http://127.0.0.1/kiosk/kiosk_home.html';  // Redirect idle users to this URL
                const redirectUrl = 'https://rebox.com.sg/index.php?c=flowerhua&a=recovery_list&recovery_type_id=29&recovery_parent_id=hits'; 
                
                let idleTimeout; // variable to hold the timeout, do not modify

                const resetIdleTimeout = function() {

                    // Clears the existing timeout
                    if(idleTimeout) clearTimeout(idleTimeout);

                    // Set a new idle timeout to load the redirectUrl after idleDurationSecs
                    idleTimeout = setTimeout(() => location.href = redirectUrl, idleDurationSecs * 1000);
                };

                // Init on page load
                resetIdleTimeout();

                // Reset the idle timeout on any of the events listed below
                ['click', 'touchstart', 'mousemove'].forEach(evt => 
                    document.addEventListener(evt, resetIdleTimeout, false)
                );

            })();
        }
    </script>	


	</body>

	<style>.issue{opacity: 0.3;}</style>

	<script>

		var num = 1;

		$(".seli .selibox span").click(function() {

			var cl = $(this).parents(".seli").hasClass("op");

			if(cl){

				$(this).parents(".selibox").siblings(".lit").find("span").show();

				var txt = $(this).find("b").text();

				var data_id = $(this).find("b").attr('data-id');

                $(this).parents(".selibox").siblings(".lit").find("font").text(txt);

                $(this).parents(".selibox").siblings(".lit").find("font").attr('data-id',data_id);

				$(this).parents(".selibox").hide();

				check_lens();

				var tag = $(this).parents(".seli").next("");

				var height = $(this).parents(".seli").outerHeight(true);

				var scrollT = $(window).scrollTop();

				

				if($(tag)[0]){

					$(this).parents(".seli").next(".seli").addClass("op");

					$("body,html").stop(true).animate({"scrollTop": scrollT + height +"px"},500)

				}else{

					

					var box = $(this).parents(".sele").next(".sele").hasClass("issue");

						$("body,html").stop(true).animate({"scrollTop": scrollT + height + 58 +"px"},500)

					

					if(box){

						$(this).parents(".sele").siblings(".issue").css({"opacity":1})

					}

					$(this).parents(".sele").siblings(".sele").find(".seli").eq(0).addClass("op");

				}

				

			}



		})

		$(".seli .lit  em").click(function() {

			$(this).parents("span").hide();

			$(this).parents(".lit").siblings(".selibox").show()

		})

		$(".islist ul li").click(function() {

			var bool = $(this).find("input").prop("checked");

			if(bool) {

				var src2 = $(this).find("img").attr("src2");

				$(this).find("img").attr({

					"src": src2

				});

				$(this).addClass("on")

			} else {

				var src1 = $(this).find("img").attr("src1");

				$(this).find("img").attr({

					"src": src1

				});

				$(this).removeClass("on")

			}

		})

		



		function check_lens() {

			var lens = 0;

			var length = $(".reright .sele .seli").length;

			for(var i = 0; i < $(".reright .sele .seli").length; i++) {

				var txt = $(".reright .sele .seli").eq(i).find("font").html();

				if(txt == null || txt == '' || txt == undefined) {

					

				}else{

					lens++

				}

			}

			if(lens == $(".reright .sele .seli").length) {

				$(".reright .quote input").addClass("active");

				$(".reright .quote input").removeAttr("disabled")

			} else {

				$(".reright .quote input").removeClass("active");

				$(".reright .quote input").attr({

					"disable": "disable"

				})

			}

		}

	</script>

    {if $priceValue}

    <script>

        $(".reright .quote input").addClass("active");

        $(".reright .quote input").removeAttr("disabled")

    </script>

	{/if}
	
	<script src="/views/view-whizmo/js/faq.js"></script>

</html>
